/* Input search icon */
.algolia-icon {
  fill: hsla(0, 0%, 100%, 0.3);
  flex: 0 0 1.5rem;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.algolia-input {
  flex: 1;
}

.aa-InputWrapperPrefix {
  display: none;
}

/* Input */
.aa-Input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  line-height: 1.5;
  background: none;
  background-color: hsla(0, 0%, 100%, 0.1) !important;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 2px;
  margin-right: 0.25rem;
  color: #fff;
}

.aa-Input:focus {
  outline: 0;
  border: 1px solid hsl(155, 100%, 19.6%);
  box-shadow: 0 0 0 0.15em rgba(0, 100, 58, 0.5);
}

/* Results panel */
.aa-Panel {
  width: 100%;
  color: #222;
  position: fixed;
  display: block;
  box-sizing: border-box;
  z-index: 10;
  font-weight: 400;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  top: auto !important;
}

/* Make results scrollable when smaller screen */
@media (max-width: 64em) {
  .aa-Panel {
    position: absolute;
  }
}

/* Result item list */
.aa-List {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Result item */
.aa-Item {
  padding: 0;
}

.aa-Item {
  &[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.hitlink {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 0.5rem 0.5rem 0.6rem 1rem;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.hitlink__extra {
  color: #757575;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hitlink__title {
  mark {
    background-color: hsl(41, 98%, 65%);
  }
}

/* Search by Algolia logo */
.algo-logo {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-align: right;
}

.algo-logo svg {
  height: 1.1rem;
}

/* Hides autocomplete submit and clear buttons */
.aa-SubmitButton,
.aa-ClearButton {
  display: none;
}

/* Hides reset-icon from searchbar */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
