body {
  background: white;
}
p,
ul {
  max-width: 68ch;
}

_:-ms-fullscreen,
:root p, :root ul {
  max-width: 106ch;
}

pre {
  background-color: var(--gray-95);
  font-family: Consolas, SF Mono, Menlo, 'Andale Mono', 'Ubuntu Mono', 'Courier New', Courier, monospace;
  font-size: 0.82rem;
  padding: 0.75rem;
  overflow: auto;
}

blockquote {
  border-left: 2px solid var(--gray-80);
  color: var(--gray-40);
  padding: 0 1ch;
  margin: 0.5em 0 1em;
  max-width: 54ch;
  font-size: 0.9rem;
}

img {
  width: 100%;
  vertical-align: middle;
}

figcaption {
  font-size: 0.83rem;
  margin-top: 0.5rem;
}
