.best-practice-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
    max-width: max-content;

    & > div {
        flex: 1 2 24rem;
        max-width: max-content;
    }

    & > figure {
        flex: 1 1 24rem;
        max-width: 40rem;
    }
}

.flag {
    width: 1.1em;
}

.feedbackbutton {
  display: none;
  position: fixed;
  right: -1px;
  box-shadow: var(--shadow-dark);
  top: 75%;
  transform: rotate(0.75turn);
  transform-origin: right bottom;

  @media screen and (max-width: 64em) {
    display: flex;
  }
}

.feedbackform {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 0.5rem;
  padding: 0.5rem 0.25rem;
  background: white;
  border-radius: 2px;
  box-shadow: var(--shadow-dark);
  max-width: 24rem;
  width: 100%;
  overflow: auto;
  display: flex;
  display: auto;
  min-height: 24rem;

  @media screen and (max-width: 64em) {
    display: none;
  }

  button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
