.dev-blog {
  max-width: 110rem;
  margin: 2rem auto;
}

.dev-blog__post {
  flex: 1 1 24rem;
  max-width: 36rem;
  padding: 1.5rem 2rem 2rem;
}

.dev-blog__archive {
  margin: 1rem 0;
  min-height: 32rem;
}

.dev-blog__heading a {
  color: var(--green-darker);
}

.dev-blog__heading a:hover {
  text-decoration: underline;
}

.dev-blog__meta-item {
  color: var(--gray-40);
}

.dev-blog__meta-item a {
  color: var(--gray-40);
}

.dev-blog__meta-item a:hover {
  color: var(--gray-20);
}

.dev-blog__meta-item a:not(:last-child) {
  margin-right: 0.5rem;
}

.dev-blog__meta-item img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.dev-blog__meta-item a:hover img {
  -webkit-filter: none;
  filter: none;
}

.dev-blog hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.dev-blog__meta-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  fill: var(--gray-60);
}

.dev-blog__content a {
  text-decoration: underline;
}

.footnotes .footnote-jump {
  text-decoration: none;
}

.footnotes li {
  margin-bottom: 0.5rem;
}
