h4 + .dev-codetabs {
  margin-top: 1rem;
}

ul.dev-codetabs {
  max-width: 100%;
  list-style-type: none;
  margin: 1rem 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}

.dev-codetabs__item {
  background-color: var(--gray-95);
  border-radius: 2px;
  border-bottom: 2px solid var(--gray-95);
  transition: background-color, box-shadow var(--easeout-15);
}

.dev-codetabs__item:focus,
.dev-codetabs__item:hover {
  background-color: var(--green-lighter-hover);
  border-bottom-color: var(--green-lighter-hover);
  box-shadow: var(--shadow);
}

.dev-codetabs__item .format {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.dev-codetabs__item.active {
  background-color: var(--green-lighter);
  border-bottom-color: var(--green-dark);
  box-shadow: none;
}

.dev-codetabs__item.active a {
  cursor: default;
}

a.dev-codetabs__link  {
  display: flex;
  padding: 0.5rem 1rem 0.3rem;
  color: var(--gray-26);
  flex-flow: column nowrap;
  text-decoration: none;
}

.dev-codetabs__content {
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}

.dev-codetabs__panel:not(.active) {
  display: none;
}

.dev-codetabs__textex {
  font-size: 0.83rem;
  line-height: 1;
  color: var(--gray-40);
}
