.chroma {
  max-width: 64rem;
  max-height: 36rem;
}

.filename {
  margin-bottom: 0.3em;
  color: var(--gray-40);
}

code,
.filename {
  white-space: pre;
  font-size: 0.82rem;
}

td code,
li code,
p code {
  white-space: normal;
}

li code:not(table code),
dl code:not(label code),
p code {
  background-color: var(--gray-90);
  padding: 0.1em 0.2em;
  border-radius: 2px;
}

.bg-green1 code {
  background-color: rgba(0, 0, 0, 0.08);
}

.chroma > code {
  background-color: transparent;
}
