.chroma {
    max-height: 30rem;
}

.filename {
  margin-bottom: 0.3em;
  color: hsl(0, 0%, 53.5%);
}

code,
.filename {
  white-space: pre;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Courier New',
  Courier, monospace;
  font-size: 0.82rem;
}

p code {
  white-space: normal;
  background-color: hsl(0, 0%, 93.5%);
  padding: 0.1em 0.2em;
  border-radius: 2px;
}
