.dev-collapsible {
    margin-bottom: 0.5rem;
  }
  a.dev-collapsible__toggler {
    background-color: var(--gray-95);
    color: var(--gray-26);
    font-weight: bold;
    display: block;
    padding: 0.75rem 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .dev-collapsible__toggler:hover {
    background-color: var(--gray-90);
  }
  .dev-collapsible__toggler__icon {
    margin-right: 0.25rem;
    width: 1rem;
    fill: var(--gray-60);
    transition: transform var(--easeout-15);
  }
  .dev-collapsible__toggler--expanded .dev-collapsible__toggler__icon, 
  .active .dev-collapsible__toggler__icon {
    transform: rotate(90deg);
  }
  .dev-collapsible__toggler:hover::after {
    color: #fff;
  }
  .dev-collapsible__item {
    padding: 10px;
  }
  .dev-collapsible__item--collapsed {
    display: none;
    visibility: hidden;
  }
