.dev-documentation {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.dev-documentation h1 {
  padding-left: 2rem;
  margin-bottom: 0.6em;
}

.dev-documentation__section {
  margin-bottom: 3rem;
  padding: 0 2rem 3rem 2rem;
  border-width: 2px;
  border-color: var(--gray-86);
  border-bottom-style: solid;
}

.dev-documentation__section:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 50em) {
  .dev-documentation h1 {
    padding-left: 1rem;
  }

  .dev-documentation__section {
    padding: 0 1rem 1rem 1rem;
  }

  .dev-documentation__section:last-of-type {
    padding-bottom: 1rem;
  }
}
