.dev-docslayout {
  display: flex;
  flex-flow: column nowrap;
  max-height: max-content;
  min-height: 100vh;
  height: 100%;
}

.dev-anchored:not(#allVas *):target::before {
  content: "";
  display: block;
  height: 6.5rem;
  margin: -6.5rem 0 0;
}

.dev-docs__page {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  flex: 1 0 auto;
}

.dev-docscontent {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.dev-docscontent h1 {
  padding-left: 6vw;
  margin-bottom: 0.6em;
}

.dev-docscontent p > a:not(.btn-link--dark),
.dev-docscontent li > a:not(.dev-codetabs__link) {
  text-decoration: underline;
}

.dev-docscontent__section {
  margin-bottom: 3rem;
  padding: 0 6vw 1rem;
  border-width: 2px;
  border-color: var(--gray-86);
  border-bottom-style: solid;
}

.dev-docscontent__section:last-of-type {
  border-bottom: none;
}

.dev-docscontent__wrap {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 3rem;
  row-gap: 2rem;
}

.dev-docscontent__side {
  flex: 1 1 24rem;
  max-width: 64rem;
}

.dev-docscontent__main {
  flex: 2 1 32rem;
  overflow: auto;
}

.dev-docscontent__info {
  max-width: 68ch;
}

.dev-docscontent__info summary {
  font-size: 1.25rem;
}

.dev-docscontent__info details p {
  padding: 0 1rem 1rem;
  margin-bottom: 0;
}

summary {
  padding-left: 0.25em;
  padding-bottom: .05em;
  border-radius: 2px;
}

summary:hover {
  background-color: hsla(0, 100%, 0%, 0.04);
}

.dev-docs__menu {
  background-color: var(--gray-95);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  top: 0;
  transition: var(--easeout-15);
  overflow-y: auto;
}

@media screen and (max-width: 64em) {
  .dev-docs__menu {
    flex: 1 0 100%;
    z-index: 20;
    min-height: 100%;
    transform: translateX(-19rem);
  }

  .dev-docs__menu.drawn {
    transform: translateX(0);
    box-shadow: var(--shadow);
  }
}

@media screen and (min-width: 64em) {
  .dev-docs__menu {
    width: 21%;
    top: 4.4rem;
  }

  .dev-docs__page {
    margin-left: 21%;
    padding-top: 4.4rem;
    max-width: 79%;
  }

  .dev-docscontent {
    padding-left: 2rem;
  }

  .dev-docscontent h1 {
    padding-left: 2rem;
  }

  .dev-docscontent__section {
    padding: 0 2rem 3rem 2rem;
  }
}

.changelog-small {
  flex: 1 1 24rem;
}

.btn-link--help {
  background: none;
  padding: 0;
  vertical-align: text-bottom;
}

.btn-link--help:hover {
  background: none;
}

.btn-link--help:hover svg {
  color: #777;
}

.bg-red-light {
  background: var(--red-light);
}

.flex-basis-20 {
  flex-basis:20rem;
}

.response {
  border:1px solid transparent;
  transition:all 0.2s ease-in-out;
}
.response.default {
  background:var(--gray-95);
}
.response.success-code {
  background:var(--green-lighter);
  color:var(--green-dark);
}
.response.error-code {
  background:var(--red-light);
  color:var(--red-darker);
}
.response.success-code:focus,
.response.error-code:focus,
.response.default:focus {
  border:1px solid;
  outline:none;
}
.response.success-code:hover {
  background:var(--green-dark-hover);
}
.response.error-code:hover {
  background:var(--red-dark);
}
.response.default:hover {
  background:var(--gray-90);
}

.schema-type-select {
  height:auto;
}
.desc-list {
  margin-bottom:0;
}
.desc-list dt,
.desc-list dd {
  width:50%;
}
.param-toggle-icon {
  transition:all 0.2s ease-in-out;
}
.rotate-icon-90 {
  transform:rotate(90deg);
  transition:all 0.2s ease-in-out;
}