.dev-drawmenu {
  display: none;
  flex: 0 0 auto;
  padding-left: min(2rem, 6vw);
  padding-right: min(2rem, 6vw);
  position: sticky;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: blur(0.25rem);
  z-index: 5;
}

@media screen and (max-width: 64em) {
  .dev-drawmenu {
    display: initial;
  }

  .dev-obfuscator.drawn {
    display: block;
    background-color: hsla(0, 0%, 0%, 0.55);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}

.dev-obfuscator {
  display: none;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
  visibility: hidden;
  transition: var(--easeout-15);
}
