.sitefooter {
  background-color: var(--green-darker);
  padding: 0.5rem 4vmin;
  margin-top: auto;
  color: #fff;
}

.sitefooter a {
  color: var(--green-lighter);
  text-decoration: underline;
}

.sitefooter a:hover {
  color: var(--green-light);
  text-decoration: underline;
}

.sitefooter__terms {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: 0.83rem;
}
