.dev-intro-padv {
  padding-top: 6vmin;
  padding-bottom: 4vmin;
}

.dev-intro-padh {
  padding-left: 4vmin;
  padding-right: 4vmin;
}

.dev-intro-l {
  flex: 1 1 40rem;
  max-width: 50rem;
}

.dev-intro-m {
  flex: 1 1 20rem;
  max-width: 30rem;
}

@media screen and (min-width: 50em) {
  .dev-intro-l,
  .dev-intro-m {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

.start__col {
  flex: 1 1 20rem;
}
