.dev-link--box {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 3px solid var(--gray-95);
  text-align: center;
  padding: 1rem;
  color: var(--gray-26);
}

.dev-link--box:hover {
  border: 3px solid var(--gray-86);
  text-decoration: none;
}

.dev-link--background:hover {
  background-color: var(--gray-95);
  text-decoration: none;
}
