.dev-link--box {
  display: flex;
  flex-flow: column;
  padding: 1rem 1.2rem 0.8rem 1.2rem;
  background-color: var(--green-lighter);
  color: var(--gray-26);
  transition: background-color, box-shadow var(--easeout-15);
  flex: 1 1 20rem;
}

.dev-link--box:hover {
  background-color: var(--green-lighter-hover);
  text-decoration: none;
  box-shadow: var(--shadow);
}
