---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* ------------------------------------------------------- 
This SCSS is based upon inuit.css
https://github.com/inuitcss/getting-started

Comments explaining the architecture is inspired by
https://github.com/mhauken/start

inuitcss consists of small, composable modules 
that we need to piece together in the correct order:

1. Settings
2. Tools
3. Generic
4. Base
5. Objects
6. Components
7. Trumps
------------------------------------------------------- */



/* ------------------------------------------------------- 
*   # SETTINGS
*
*   Global variables, site-wide settings.
*   For SCSS only – nothing gets compiled to CSS directly.
------------------------------------------------------- */

@import "_settings.vars.scss"; //our own variables
@import "node_modules/inuit-defaults/settings.defaults";
@import "node_modules/inuit-responsive-settings/settings.responsive.scss";
@import "_settings.aliases.scss"; //lets remap some common variables


/* ------------------------------------------------------- 
*   # TOOLS
*
*   Site-wide mixins and functions.
*   For SCSS only – nothing gets compiled to CSS directly.
------------------------------------------------------- */
@import "node_modules/inuit-functions/tools.functions";
@import "node_modules/inuit-mixins/tools.mixins";
@import "node_modules/inuit-responsive-tools/tools.responsive";
@import "node_modules/inuit-tools-widths/tools.widths";


/* ------------------------------------------------------- 
*   # GENERIC
*
*   Low-specificity, normalize FTW, box-sizing \o/
*   a small reset to complement normalize.css
*   and other far-reaching rulesets. Tread carefully plz.
------------------------------------------------------- */
@import "node_modules/inuit-normalize/generic.normalize";
@import "node_modules/inuit-reset/generic.reset.scss";
@import "node_modules/inuit-box-sizing/generic.box-sizing";
@import "node_modules/inuit-shared/generic.shared";


/* ------------------------------------------------------- 
*   # BASE
*
*   Unclassed HTML elements. Tread very carefully plz.
------------------------------------------------------- */

@import "node_modules/inuit-page/base.page.scss";
@import "node_modules/inuit-paragraphs/base.paragraphs.scss";
@import "node_modules/inuit-images/base.images.scss";
@import "node_modules/inuit-lists/base.lists.scss";
@import "node_modules/inuit-headings/_base.headings.scss";
@import "_base.page.scss";
@import "_base.links.scss";


/* ------------------------------------------------------- 
*   # OBJECTS
*
*   Abstractions and design patterns without styling.
*
*   Missing some abstractions? Read through the inuit SCSS-files 
*   to turn on variables — or get new ones from here:
*   https://github.com/inuitcss?query=objects.
------------------------------------------------------- */

$inuit-enable-layout--huge: true;
$inuit-enable-layout--rev: true;
$inuit-enable-layout--flush: true;
@import "node_modules/inuit-layout/objects.layout";
@import "node_modules/inuit-box/objects.box.scss";
@import "node_modules/inuit-buttons/objects.buttons";
@import "node_modules/inuit-media/objects.media";
@import "node_modules/inuit-list-inline/_objects.list-inline.scss";
@import "objects.wrapper.scss";


/* ------------------------------------------------------- 
*   # COMPONENTS
*
*   Complete chunks of UI. No inuit, so knock yourself out.
*   All our own components and modifiers to objects.
------------------------------------------------------- */

@import "_components.apiflock.scss";
@import "_components.apimenu.scss";
@import "_components.awesome.scss";
@import "_components.sitefooter.scss";
@import "_components.welcome.scss";


/* ------------------------------------------------------- 
*   # TRUMPS
*
*   Utilities, high-specificity, very explicit selectors. 
*   Layout-classes, overrides, and helper classes.
------------------------------------------------------- */

$inuit-enable-margins: true;
$inuit-enable-paddings: true;
@import "node_modules/inuit-headings-trumps/_trumps.headings.scss";
@import "node_modules/inuit-clearfix/trumps.clearfix";
@import "node_modules/inuit-widths/trumps.widths";
@import "node_modules/inuit-spacing/trumps.spacing";
@import "trumps.helpers.scss";

