.dev-pagelayout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  max-height: max-content;
}

.dev-container {
  width: 100%;
  max-width: 100rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.maxw108r {
  max-width: 108rem;
}

.jobs a {
  text-decoration: underline;
}

.ecom-entrance {
  flex: 1 1 16rem;
  border:none;
}
