/* WIP and hacks and temporary styles and overrides 
that need attention later 

TODO:
[ ] scss
[ ] restructure lots

*/

.tmp-banner {
  max-width: 100%;
  margin-bottom: 10px;
}

.tmp-linelengtminimizer {
  max-width: 40em;
}


.logo-bringdev {
  display: block;
  margin: 20px 0;
}

.logo-bringdev span {
  display: inline-block;
  position: relative;
  top: -14px;
  font-family: 'FoundryMonoline';
  font-weight: normal;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: -0.02em;
  height: 39px;
  line-height: 39px;
  vertical-align: middle;
  padding: 0 0 0 5px;
  letter-spacing: -0.05em;
  color: #7bc144;
}

.page-header header {
  height: 69px;
  margin: 0 auto;
  position: relative;
  width: 92%;
  max-width: 1300px;
}

.page-header header .logo span {
  display: inline-block;
  position: relative;
  top: -14px;
  font-size: 3rem;
  height: 39px;
  line-height: 39px;
  vertical-align: middle;
  padding: 0px 0px 0px 5px;
  letter-spacing: -0.05em;
}

.page-header nav a {
  color: #444444;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  font-family: 'FoundryMonoline';
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  padding: 22px 0 18px;
  margin-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
}


/* direct overrides of the web guidelines */

.page-header {
  background-color: #fff; 
}

.page-header .page-content-container {
	margin-bottom: 0;
}


