.dev-sidemenu {
  background-color: hsl(0, 0%, 95%);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dev-sidemenu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dev-sidemenu__level1 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.dev-sidemenu__level1.active {
  border-left: 3px solid rgba(0, 0, 0, 0.08);
  padding-left: calc(0.8rem - 3px);
}

.dev-sidemenu__separator {
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

.dev-sidemenu__apititle {
  font-weight: 600;
  line-height: 1.15;
  padding-top: 0.5em;
  padding-bottom: 0.55em;
}

.dev-sidemenu a {
  color: #414141;
  display: block;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background-color 0.15s ease-out;
  border-radius: 2px;
}

.dev-sidemenu a:hover,
.dev-sidemenu a:focus {
  background-color: rgba(0, 0, 0, 0.08);
  color: #222;
}

.dev-sidemenu__sublist {
  list-style: none;
  line-height: 1.3;
  padding: 0 0.6rem;
  margin: 0 0 1.2rem;
}

.dev-sidemenu__sublist a {
  padding-top: 0.3rem;
  padding-bottom: 0.35rem;
}
