.dev-sidemenu {
  padding-top: 3rem;
  padding-bottom: 1rem;
  width: 18rem;
  align-self: flex-start;
}

.dev-sidemenu--front {
  padding-top: 6vmin;
}

.dev-sidemenu__title {
  font-weight: 500;
  color: var(--green-dark);
  margin: 1rem 0 0.15em 0.6em;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.dev-sidemenu__list {
  margin: 0 .9em 1.6rem 0.9em;
  padding: 0;
  list-style: none;
}

.dev-sidemenu__list ul {
  margin: 0 0 0.8rem 0;
  list-style: none;
}

.dev-sidemenu__list li.active ul {
  line-height: 1.3;
  padding: 0 0.6rem 0 calc(0.6rem - 3px);
}

.dev-sidemenu ul > li.active {
  border-left: 3px solid rgba(0, 0, 0, 0.08);
  padding-left: 0;
}

.dev-sidemenu__apititle {
  font-weight: 600;
  line-height: 1.15;
  padding-top: 0.5em;
  padding-bottom: 0.55em;
}

.active .dev-sidemenu__apititle {
  margin-left: -3px;
}

.dev-sidemenu a {
  color: var(--gray-20);
  display: block;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background-color var(--easeout-15);
  border-radius: var(--radius);
}

.dev-sidemenu a:hover,
.dev-sidemenu a:focus-visible,
.dev-sidemenu a.active {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--gray-20);
}

.dev-sidemenu__list li.active ul a {
  padding-top: 0.3rem;
  padding-bottom: 0.35rem;
}

.dev-sidemenu__list li.active ul ul a.active {
  font-weight: 500;
}

.dev-sidemenu__icon {
  fill: currentColor;
  color: hsla(0, 0%, 100%, 0);
  transition: color var(--easeout-15);
  width: 0.83em;
}

.dev-sidemenu a:hover .dev-sidemenu__icon,
.dev-sidemenu a:focus .dev-sidemenu__icon {
  color: hsla(0, 0%, 40%, 1);
}
