.dev-sidemenu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 18rem;
  align-self: flex-start;
}

.dev-sidemenu__title {
  font-weight: 500;
  color: var(--green-dark);
  margin: 1rem 0 0.15em 1.6rem;
  font-size: 0.9rem;
}

.dev-sidemenu__list {
  margin: 0 0 1.6rem 0.9em;
  padding: 0;
  list-style: none;
}

.dev-sidemenu__level1 {
  margin-right: 1rem;
}

.dev-sidemenu__level1.active {
  border-left: 3px solid rgba(0, 0, 0, 0.08);
  padding-left: 0;
}

.dev-sidemenu__separator {
  border-bottom: 1px solid var(--gray-86);
}

.dev-sidemenu__apititle {
  font-weight: 600;
  line-height: 1.15;
  padding-top: 0.5em;
  padding-bottom: 0.55em;
}

.active .dev-sidemenu__apititle {
  margin-left: -3px;
}

.dev-sidemenu a {
  color: var(--gray-26);
  display: block;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: background-color var(--easeout-15);
  border-radius: 2px;
}

.dev-sidemenu a:hover,
.dev-sidemenu a:focus {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--gray-13);
}

.dev-sidemenu__sublist {
  list-style: none;
  line-height: 1.3;
  padding: 0 0.6rem 0 calc(0.6rem - 3px);
  margin: 0 0 0.8rem;
}

.dev-sidemenu__sublist a {
  padding-top: 0.3rem;
  padding-bottom: 0.35rem;
}

.dev-sidemenu__sublist a.active {
  background-color: rgba(0, 0, 0, 0.08);
  font-weight: 500;
}

.dev-sidemenu__icon {
  fill: currentColor;
  color: hsla(0, 0%, 100%, 0);
  transition: color var(--easeout-15);
  width: 0.83em;
}

.dev-sidemenu a:hover .dev-sidemenu__icon,
.dev-sidemenu a:focus .dev-sidemenu__icon {
  color: hsla(0, 0%, 40%, 1);
}
