.dev-siteheader {
  background-color: var(--green-darker);
  flex: 0 0 auto;
  min-height: 4.4rem;
  z-index: 10;
}

@media screen and (min-width: 64em) {
  .dev-docslayout .dev-siteheader {
    position: fixed;
    width: 100%;
  }
}

.dev-siteheader__title {
  padding: 0.6rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.dev-siteheader__title:hover,
.dev-siteheader__title:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.dev-siteheader__logo {
  width: 7rem;
  height: auto;
  max-height: 2.8rem; /* had to specify this for IE11 */
  margin-right: 0.6rem;
}

.dev-siteheader__tagline {
  color: #fff;
  font-weight: normal;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 1.17rem;
  margin-bottom: 0.05rem;
  display:flex;
  align-items: center;
}

.dev-tagline-svg {
  padding:0.6rem 0 0 1rem;
  border-left:1px solid var(--green-dark);
  fill: currentColor;
}

.dev-tagline__env {
  margin-left: 0.4rem;
  font-weight: 700;
  color: orange;
  font-size: 0.7em;
}

.dev-siteheader__nav {
  display:flex;
  align-items: center;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.dev-siteheader__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dev-siteheader__nav li {
  margin-right: 2rem;
  display: inline-block;
  padding:0.5rem 0;
}

.dev-siteheader__nav a {
  color: white;
}

.dev-siteheader__nav a:hover,
.dev-siteheader__nav a:focus {
  color: var(--green-light);
}
.dev-siteheader__nav .mybring-login {
  display: flex;
  align-items: center;
}
.dev-siteheader__nav .mybring-login svg {
  fill:currentColor;
  margin-left:0.5rem;
}
.skip-to-content-link {
  background-color: hsl(0, 0%, 95%);
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  top: -100%;
  text-decoration: underline;
  transition: top 0.3s;
  z-index: 2;
}

.skip-to-content-link:focus {
  top: 0%;
  box-shadow: 0 0 0 4px #c8dc8c;
}

.color-theme-container {
  margin: 0 1rem;
}

.theme-switch-container {
  background: var(--green-40);
  position:absolute;
  top:100%;
  right:0;
}

.themes-btn:hover,
.theme-switch:hover {
  color: var(--green-86);
}

.dev-siteheader__search {
  flex: 1;
  padding: 0.5rem 1.5rem;
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 14rem;
  max-width: 24rem;
  position:relative;
}

@media only screen and (max-width: 76em) {
  .dev-siteheader__nav li {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 64em) {
  .dev-siteheader__nav {
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 44em) {
  .dev-siteheader__search {
    flex: 1;
    max-width: 100%;
  }
}

@media only screen and (max-width: 39em) {
  .dev-siteheader__title {
    order: 1;
  }

  .color-theme-container {
    order: 2;
  }

  .dev-siteheader__search {
    order: 3;
  }

  .dev-siteheader__nav {
    order: 4;
  }
}
