.dev-siteheader {
  background-color: hsl(152, 100%, 9%);
}

.dev-siteheader__title {
  padding: 0.8rem 1rem 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.dev-siteheader__title:hover,
.dev-siteheader__title:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.dev-siteheader__logo {
  width: 8rem;
  height: auto;
  margin-right: 0.8rem;
}

.dev-siteheader__tagline {
  color: #fff;
  font-weight: normal;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 1.3rem;
  margin-bottom: 0.05rem;
}

.dev-tagline__env {
  margin-left: 0.4rem;
  font-weight: 700;
  color: orange;
  font-size: 0.7em;
}

.dev-siteheader__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-end;
  font-size: 1.25rem;
  margin-left: 1rem;
  padding-bottom: 0.8rem;
}

.dev-siteheader__nav li {
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.dev-siteheader__nav a {
  color: white
}
.dev-siteheader__nav a:hover,
.dev-siteheader__nav a:focus {
  color: hsl(75, 53%, 70.5%);
}
