/* Background */ .chroma { background-color: var(--gray-98); }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: hsl(3, 43%, 49%); }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: hsl(60, 100%, 83%) }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: hsl(0, 0%, 50%) }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: hsl(0, 0%, 50%) }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: hsl(222, 67%, 35%); font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: hsl(330, 67%, 35%); font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: hsl(222, 67%, 35%); font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: hsl(222, 67%, 35%); font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: hsl(222, 67%, 35%) }
/* KeywordReserved */ .chroma .kr { color: hsl(222, 67%, 35%); font-weight: bold }
/* KeywordType */ .chroma .kt { color: hsl(264, 77%, 41%); font-weight: bold }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: hsl(0, 47%, 45%); }
/* NameBuiltin */ .chroma .nb { color: hsl(264, 77%, 41%); font-weight: bold }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { text-decoration: underline }
/* NameConstant */ .chroma .no { color: hsl(190, 51%, 39%) }
/* NameDecorator */ .chroma .nd { color: hsl(30, 100%, 50%); font-weight: bold }
/* NameEntity */ .chroma .ni { color: hsl(264, 77%, 41%); font-weight: bold }
/* NameException */ .chroma .ne { color: hsl(264, 77%, 41%); font-weight: bold }
/* NameFunction */ .chroma .nf { color: hsl(30, 100%, 50%); font-weight: bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: hsl(222, 67%, 35%); font-weight: bold }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: hsl(155, 74%, 27%) }
/* LiteralStringAffix */ .chroma .sa { color: hsl(155, 74%, 27%) }
/* LiteralStringBacktick */ .chroma .sb { color: hsl(155, 74%, 27%) }
/* LiteralStringChar */ .chroma .sc { color: hsl(155, 74%, 27%) }
/* LiteralStringDelimiter */ .chroma .dl { color: hsl(155, 74%, 27%) }
/* LiteralStringDoc */ .chroma .sd { color: hsl(155, 74%, 27%); font-style: italic }
/* LiteralStringDouble */ .chroma .s2 { color: hsl(155, 74%, 27%) }
/* LiteralStringEscape */ .chroma .se { color: hsl(358, 94%, 40%); font-weight: bold }
/* LiteralStringHeredoc */ .chroma .sh { color: hsl(155, 74%, 27%) }
/* LiteralStringInterpol */ .chroma .si { color: hsl(155, 74%, 27%) }
/* LiteralStringOther */ .chroma .sx { color: hsl(190, 51%, 39%) }
/* LiteralStringRegex */ .chroma .sr { color: hsl(155, 74%, 27%) }
/* LiteralStringSingle */ .chroma .s1 { color: hsl(155, 74%, 27%) }
/* LiteralStringSymbol */ .chroma .ss { color: hsl(358, 94%, 40%); font-weight: bold }
/* LiteralNumber */ .chroma .m { color: hsl(30, 85%, 34%); font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: hsl(30, 85%, 34%); font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: hsl(30, 85%, 34%); font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: hsl(30, 85%, 34%); font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: hsl(30, 85%, 34%); font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: hsl(30, 85%, 34%); font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: hsl(30, 85%, 34%); font-weight: bold }
/* Operator */ .chroma .o { color: hsl(222, 67%, 35%) }
/* OperatorWord */ .chroma .ow { color: hsl(222, 67%, 35%); font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: hsl(40, 36%, 37%); font-style: italic }
/* CommentHashbang */ .chroma .ch { color: hsl(40, 36%, 37%); font-style: italic }
/* CommentMultiline */ .chroma .cm { color: hsl(40, 36%, 37%); font-style: italic }
/* CommentSingle */ .chroma .c1 { color: hsl(40, 36%, 37%); font-style: italic }
/* CommentSpecial */ .chroma .cs { color: hsl(40, 36%, 37%); font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: hsl(83, 40%, 30%) }
/* CommentPreprocFile */ .chroma .cpf { color: hsl(83, 40%, 30%) }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { background-color: hsl(0, 100%, 90%) }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: hsl(0, 100%, 50%) }
/* GenericHeading */ .chroma .gh { color: hsl(222, 67%, 35%); font-weight: bold }
/* GenericInserted */ .chroma .gi { background-color: hsl(120, 100%, 90%) }
/* GenericOutput */ .chroma .go { color: hsl(0, 0%, 67%) }
/* GenericPrompt */ .chroma .gp { color: hsl(222, 67%, 35%); font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: hsl(222, 67%, 35%); font-weight: bold }
/* GenericTraceback */ .chroma .gt { color: hsl(358, 94%, 40%) }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: hsl(0, 0%, 80%) }

:root[data-theme='dark'] {
/* Background */ & .chroma { color: hsl(0, 0%, 93%); background-color: var(--green-18); border-radius: var(--radius); }
/* Other */ & .chroma .x {  }
/* Error */ & .chroma .err { color: hsl(3, 77.5%, 69%); }
/* LineTableTD */ & .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ & .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ & .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ & .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ & .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ & .chroma .k { color: hsl(288, 81%, 78%); }
/* KeywordConstant */ & .chroma .kc { color: hsl(288, 81%, 78%); }
/* KeywordDeclaration */ & .chroma .kd { color: hsl(288, 81%, 78%); }
/* KeywordNamespace */ & .chroma .kn { color: hsl(194, 100%, 65%); }
/* KeywordPseudo */ & .chroma .kp { color: hsl(288, 81%, 78%); }
/* KeywordReserved */ & .chroma .kr { color: hsl(288, 81%, 78%); }
/* KeywordType */ & .chroma .kt { color: hsl(41, 98%, 65%); }
/* Name */ & .chroma .n {  }
/* NameAttribute */ & .chroma .na { color: hsl(93.5, 75%, 65%); }
/* NameBuiltin */ & .chroma .nb {  }
/* NameBuiltinPseudo */ & .chroma .bp {  }
/* NameClass */ & .chroma .nc { color: hsl(41, 98%, 65%); }
/* NameConstant */ & .chroma .no { color: hsl(3, 77.5%, 69%); }
/* NameDecorator */ & .chroma .nd { color: hsl(194, 100%, 65%); }
/* NameEntity */ & .chroma .ni { color: hsl(263, 44%, 69%); }
/* NameException */ & .chroma .ne { color: hsl(3, 77.5%, 69%); }
/* NameFunction */ & .chroma .nf { color: hsl(93.5, 75%, 65%); }
/* NameFunctionMagic */ & .chroma .fm {  }
/* NameLabel */ & .chroma .nl {  }
/* NameNamespace */ & .chroma .nn { color: hsl(41, 98%, 65%); }
/* NameOther */ & .chroma .nx { color: hsl(93.5, 75%, 65%); }
/* NameProperty */ & .chroma .py {  }
/* NameTag */ & .chroma .nt { color: hsl(194, 100%, 65%); }
/* NameVariable */ & .chroma .nv { color: hsl(3, 77.5%, 69%); }
/* NameVariableClass */ & .chroma .vc {  }
/* NameVariableGlobal */ & .chroma .vg {  }
/* NameVariableInstance */ & .chroma .vi {  }
/* NameVariableMagic */ & .chroma .vm {  }
/* Literal */ & .chroma .l { color: hsl(41, 98%, 65%); }
/* LiteralDate */ & .chroma .ld { color: hsl(152, 50%, 55%); }
/* LiteralString */ & .chroma .s { color: hsl(152, 50%, 55%); }
/* LiteralStringAffix */ & .chroma .sa { color: hsl(152, 50%, 55%); }
/* LiteralStringBacktick */ & .chroma .sb { color: hsl(152, 50%, 55%); }
/* LiteralStringChar */ & .chroma .sc {  }
/* LiteralStringDelimiter */ & .chroma .dl { color: hsl(152, 50%, 55%); }
/* LiteralStringDoc */ & .chroma .sd { color: hsl(75, 53%, 70.5%); }
/* LiteralStringDouble */ & .chroma .s2 { color: hsl(152, 50%, 55%); }
/* LiteralStringEscape */ & .chroma .se { color: hsl(41, 98%, 65%); }
/* LiteralStringHeredoc */ & .chroma .sh { color: hsl(152, 50%, 55%); }
/* LiteralStringInterpol */ & .chroma .si { color: hsl(41, 98%, 65%); }
/* LiteralStringOther */ & .chroma .sx { color: hsl(152, 50%, 55%); }
/* LiteralStringRegex */ & .chroma .sr { color: hsl(152, 50%, 55%); }
/* LiteralStringSingle */ & .chroma .s1 { color: hsl(152, 50%, 55%); }
/* LiteralStringSymbol */ & .chroma .ss { color: hsl(152, 50%, 55%); }
/* LiteralNumber */ & .chroma .m { color: hsl(41, 98%, 65%); }
/* LiteralNumberBin */ & .chroma .mb { color: hsl(41, 98%, 65%); }
/* LiteralNumberFloat */ & .chroma .mf { color: hsl(41, 98%, 65%); }
/* LiteralNumberHex */ & .chroma .mh { color: hsl(41, 98%, 65%); }
/* LiteralNumberInteger */ & .chroma .mi { color: hsl(41, 98%, 65%); }
/* LiteralNumberIntegerLong */ & .chroma .il { color: hsl(41, 98%, 65%); }
/* LiteralNumberOct */ & .chroma .mo { color: hsl(41, 98%, 65%); }
/* Operator */ & .chroma .o { color: hsl(194, 100%, 65%); }
/* OperatorWord */ & .chroma .ow { color: hsl(194, 100%, 65%); }
/* Punctuation */ & .chroma .p { color: hsl(0, 100%, 95%); }
/* Comment */ & .chroma .c { color: hsl(75, 53%, 70.5%); }
/* CommentHashbang */ & .chroma .ch { color: hsl(75, 53%, 70.5%); }
/* CommentMultiline */ & .chroma .cm { color: hsl(75, 53%, 70.5%); }
/* CommentSingle */ & .chroma .c1 { color: hsl(75, 53%, 70.5%); }
/* CommentSpecial */ & .chroma .cs { color: hsl(75, 53%, 70.5%); }
/* CommentPreproc */ & .chroma .cp { color: hsl(75, 53%, 70.5%); }
/* CommentPreprocFile */ & .chroma .cpf { color: hsl(75, 53%, 70.5%); }
/* Generic */ & .chroma .g {  }
/* GenericDeleted */ & .chroma .gd { color: hsl(3, 77.5%, 69%); }
/* GenericEmph */ & .chroma .ge { font-style: italic }
/* GenericError */ & .chroma .gr {  }
/* GenericHeading */ & .chroma .gh { font-weight: bold }
/* GenericInserted */ & .chroma .gi { color: hsl(152, 50%, 55%); }
/* GenericOutput */ & .chroma .go {  }
/* GenericPrompt */ & .chroma .gp { color: hsl(75, 53%, 70.5%); font-weight: bold }
/* GenericStrong */ & .chroma .gs { font-weight: bold }
/* GenericSubheading */ & .chroma .gu { color: hsl(194, 100%, 65%); font-weight: bold }
/* GenericTraceback */ & .chroma .gt {  }
/* GenericUnderline */ & .chroma .gl {  }
/* TextWhitespace */ & .chroma .w {  }
}
