table {
  text-align: left;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  margin-bottom: 2rem;
  line-height: 1.4;
}

@media screen and (max-width: 62.5em) {
  table {
    font-size: 0.9rem;
  }
}

caption {
  text-align: left;
  font-size: 1.17rem;
}

tr {
  vertical-align: top;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

thead tr {
  vertical-align: bottom;
  border-bottom: 2px solid hsl(0, 0%, 86%);
  padding: 0.7em 1.4em 0.3em 0.4em;
}

th,
td {
  padding: 0.7em 1.4em 0.6em 0.4em;
}

td:last-of-type,
thead th:last-of-type {
  padding-right: 0.4em;
}

thead th {
  padding: 0.7em 1.4em 0.3em 0.4em;
  font-weight: 600;
}

td > p,
td > ul {
  margin-bottom: 0;
}

.dev-param {
  background-color: hsl(0, 0%, 95%);
  padding: 0.1em 0.25em;
  color:hsl(0, 0%, 26.5%);
  font-size: 0.9em;
  border-radius: 2px;
}

.dev-param--req {
  background-color: hsl(3, 27.5%, 95%);
  color: hsl(3, 23%, 35%);
}

.tr {
  text-align: right;
}

.dev-feature-table > tbody > tr > td:first-child {
  width: 18rem;
}

.dev-b2bvas table {
  white-space: nowrap;
  font-size: 0.75rem;
}
.dev-b2bvas th {
  background: hsl(0, 0%, 97%);
}

.dev-b2bvas__subheader {
  font-size: 75%;
  font-weight: 500;
}

@media screen and (max-width: 50em) {
  .dev-feature-table > tbody > tr > td:first-child {
    width: 10rem;
  }
}
