table {
  text-align: left;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  margin-bottom: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 62.5em) {
  table {
    font-size: 0.9rem;
  }
}

caption {
  text-align: left;
  font-size: 1.17rem;
}

tr {
  vertical-align: top;
  border-bottom: 1px solid var(--gray-90);
}

thead tr {
  vertical-align: bottom;
  border-bottom: 1px solid var(--gray-86);
  padding: 0.7em 1.4em 0.3em 0.4em;
}

thead tr:last-of-type {
  border-bottom-width: 2px;
}

thead tr + tr th {
  padding-top: 0.25em;
}

.bg-green1 tr {
  border-color:var(--gray-80);
}

th,
td {
  padding: 0.7em 1.4em 0.6em 0.4em;
}

td:last-of-type,
thead th:last-of-type {
  padding-right: 0.4em;
}

thead th {
  padding: 0.7em 1.4em 0.3em 0.4em;
}

th {
  font-weight: 600;
}

td > p,
td > ul {
  margin-bottom: 0.25rem;
}

td.indentcell {
  padding: 0;
  width: 1rem;
}

.tr {
  text-align: right;
}

.dev-feature-table > tbody > tr > td:first-child {
  width: 18rem;
}

.dev-b2bvas table {
  white-space: nowrap;
  font-size: 0.75rem;
}

.dev-b2bvas th {
  background: var(--gray-95);
}

.dev-b2bvas__subheader {
  font-size: 75%;
  font-weight: 500;
}

@media screen and (max-width: 50em) {
  .dev-feature-table > tbody > tr > td:first-child {
    width: 10rem;
  }
}

.fancy-dl dt {
  margin-top: 1rem;
}

.cutoff-overlay {
  height: 10rem;
  margin-top: -12rem;
  padding-top: 5rem;
  position: relative;
  z-index: 2;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
