
td.indentcell {
  padding: 0;
  width: 1rem;
}

.fancy-dl dt {
  margin-top: 1rem;
}

.cutoff-overlay {
  height: 10rem;
  margin-top: -10rem;
  padding-top: 5rem;
  position: relative;
  z-index: 2;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
