.updates {
 gap: 3rem;
}

.updates__sub {
 flex: 1 1 18rem;
 max-width: 32rem;
}

.updates__log {
 flex: 1 1 24rem;
 max-width: 48rem;
}


/* Overwrites */
input.mce_inline_error  {
  border-color: var(--red) !important;
}

div.mce_inline_error {
  color: var(--red) !important;
  background-color: transparent !important;
  margin: -0.5rem 0 1rem !important;
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 0.9rem;
}

.mce-response {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--green-lighter);
}

.brandingLogo {
  display: none;
}
