/* Subset of variables from Mybring design system */

:root {
--green-86: hsl(152, 5%, 86%);
--green-60: hsl(152, 5%, 60%);
--green-40: hsl(152, 6%, 40%);
--green-26: hsl(152, 6%, 26%);
--green-22: hsl(152, 7%, 22%);
--green-18: hsl(152, 8%, 18%);
--green-15: hsl(152, 8%, 15%);
--green-10: hsl(152, 15%, 10%);

--yellow-20: hsl(48, 40%, 20%);

--red-72: hsl(3, 77.5%, 72%);

--blue-80: hsl(211, 90%, 80%);
--blue-26: hsl(211, 78%, 26%);
}