:root {
--gray-98: hsl(0, 0%, 98%); /* #fafafa */
--gray-95: hsl(0, 0%, 95%); /* #f2f2f2 */
--gray-90: hsl(0, 0%, 90%);
--gray-86: hsl(0, 0%, 86%);
--gray-80: hsl(0, 0%, 80%); /* #cccccc */
--gray-60: hsl(0, 0%, 60%); /* #999999 */
--gray-40: hsl(0, 0%, 40%); /* #666666 */
--gray-26: hsl(0, 0%, 26.5%); /* #444444 */
--gray-13: hsl(0, 0%, 13%); /* #222222 */

--green-light: hsl(75, 53%, 70.5%); /* #c8dc8c */
--green-lighter: hsl(86, 47%, 94%); /* #f1f7e9 */
--green-lighter-hover: hsl(86, 40%, 96%);
--green-lighter-active: hsl(86, 40%, 92%);
--green-dark: hsl(155, 100%, 19.6%); /* #00643a */
--green-darker: hsl(152, 100%, 9%);
--green-dark-hover: hsl(86, 40%, 92%);

--yellow: hsl(41, 98%, 58.5%); /* #fdbb2f */

--red-light: hsl(0, 70%, 97%); /* #fdf2f2 */
--red-dark: hsl(0, 55%, 96%); /* #faeded */
--red-darker: hsl(0, 100%, 35%); /* #b30000 */

--shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);

--easeout-15: 0.15s ease-out;
}
