.vasfilter {
    max-height: 30rem;
}

.vas__item--hidden {
    display: none;
    visibility: hidden;
}

.vas__item--maxw66r {
    max-width: 66rem;
    flex-grow: 100;
}

#vas-cutoff.cutoff-overlay {
    height: 14rem;
    padding-top: 3rem;
}
