  <footer class="sitefooter">
    <div class="wrapper">
      <ul class="list-inline sitefooter-links sitefooter-nav delta">
        <li><a href="{{ "/" | relURL }}" title="Bring Developer Blog">Bring Developer</a></li>
        <li><a href="https://github.com/bring/developer-site" title="The source code for this site">GitHub</a></li>
        <li><a href="{{ "/blog/" | relURL }}" title="Bring Developer Blog">Blog</a></li>
        <li><a href="{{ "/jobs/" | relURL }}">Jobs</a></li>
        <li><a href="{{ "/files/General_Terms_and_Conditions_for_Self_Service_Solutions.pdf" | relURL }}">Terms & Conditions</a></li>
      </ul>
      <ul class="list-inline sitefooter-links zeta">
        <li>
            ©
            <script type="text/javascript">
              document.write(new Date().getFullYear())
            </script>
            Posten Norge AS
        </li>
        <li><a href="http://www.bring.com/privacy-policy">Privacy policy</a></li>
        <li><a href="http://www.bring.com/use-of-cookies">Cookies</a></li>
      </ul>
    </div>
  </footer>
