{{- $currentPage := . -}}
{{- $pageUrl := .URL -}}
{{- $currentSection := .Section -}}
{{- $hideSubmenu := $.Param "hidesubmenu" -}}

<nav class="sitemenu">
  <ul class="list-bare sitemenu__list">
    {{- if eq .Section "api" -}}
      {{- $len := (len .Site.Menus.api) -}}
      {{- range $index, $element := .Site.Menus.api -}}
        {{- $lastElement := "" -}}
        {{- if eq (add $index 1) $len -}}
          {{- $lastElement = "sitemenu__separator" -}}
        {{- end -}}
        <li
          class="{{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }} {{ $lastElement }}"
        >
          {{- $target := "" -}}
          {{- with .Params.blank -}} {{- $target = . -}} {{- end -}}
          <a
            href="{{ .URL | relURL }}"
            {{ $target | safeHTMLAttr }}
            class="sitemenu__apititle"
            >{{ safeHTML .Title }}</a
          >
          {{- if and ($currentPage.IsMenuCurrent .Menu .) (not $hideSubmenu) -}}
            {{- partial "toc.html" (dict "context" $currentPage "numberOfHeadings" "2" ) -}}
          {{- end -}}
        </li>
      {{- end -}}

      {{- $apiData := .Site.Data.api -}}
      {{- range .Site.Menus.apidocs -}}
        {{- $identifier := .Identifier -}}
        <li class="{{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }}">
          <a href="{{ .URL }}" class="sitemenu__apititle">{{ .Title }}</a>
          {{- $currentMenu := .Menu -}}
          {{- $currentMenuItem := . -}}
          {{- with (index $apiData $identifier) -}}
            {{- if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem -}}
              <ul class="list-bare sitemenu__sublist">
                {{- range .documentation -}}
                  <li>
                    <a href="#{{ .title | urlize }}">
                      <span data-hover="{{ .title }}">{{ .title }}</span>
                    </a>
                  </li>
                {{- end -}}

                <li>
                  <a href="#overview-of-endpoints">
                    <span data-hover="overview-of-endpoints"
                      >Overview of endpoints</span
                    >
                  </a>
                </li>

                {{- range .resources -}}
                  <li>
                    <a href="#{{ .displayName | urlize }}">
                      <span data-hover="{{ .displayName }}"
                        >{{ .displayName }}</span
                      >
                    </a>
                  </li>
                {{- end -}}
              </ul>
            {{- end -}}
          {{- end -}}
        </li>
      {{- end -}}
    {{- end -}}
    {{- if eq .Section "edi" -}}
      {{- range .Site.Menus.edi -}}
        <li class="{{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }}">
          {{- $target := "" -}}
          {{- with .Params.blank -}} {{- $target = . -}} {{- end -}}
          <a
            href="{{ .URL | relURL }}"
            class="sitemenu__apititle"
            {{ $target | safeHTMLAttr }}
            >{{ safeHTML .Title }}</a
          >
          {{- if and ($currentPage.IsMenuCurrent .Menu .) (not $hideSubmenu) -}}
            {{- partial "toc.html" (dict "context" $currentPage "numberOfHeadings" "2" ) -}}
          {{- end -}}
        </li>
      {{- end -}}
    {{- end -}}
  </ul>
</nav>
