
.idea
target
*.iml
.settings/
.project
.classpath
*.ipr
*.iws
*.log
.DS*
*.orig
*~

node/
node_modules/

revision.txt
_site
.sass-cache
_sass.build
.jekyll-metadata
.jekyll-cache
_preview.site
.bundle/
_buildtmp/

hugo/public/
