{
  "proseWrap": "always",
  "semi": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["layouts/**/*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
