/* filename is temporary */

table {
  text-align: left;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-weight: 600;
}

thead {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

tr {
  vertical-align: top;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

thead tr {
  vertical-align: bottom;
  border-bottom: 2px solid hsl(0, 0%, 90%);
}

th,
td {
  padding: 0.5em 1.4em 0.4em 0.4em;
}

td:last-of-type,
thead th:last-of-type {
  padding-right: 0.4em;
}

td > p,
td > ul {
  margin-bottom: 0;
}

.tr {
  text-align: right;
}

.mbm {
  margin-bottom: 1rem;
}

.flexgrid {
  display: flex;
  flex-wrap: wrap;
}

.gaps {
  gap: 0.5rem;
}

.blog-meta-icon {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  fill: #b2b2b2;
}

.blog-meta-icon a:hover {
  fill: #414141;
}

.extext {
  font-size: 85%;
  margin-left: -0.4em;
  font-weight: 500;
  color: #666;
}

/* stuff for services table */
.b2bvas table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0.75rem;
}
.b2bvas th {
  background: hsl(0, 0%, 97%);
}
.alignDown {
  font-size: 75%;
  font-weight: 500;
}

.siteheader {
  background-color: #222;
}

.headerwmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.siteheader__title {
  padding: 0.6rem 0.6rem 1rem;
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.siteheader__title:hover,
.siteheader__title:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.siteheader__logo {
  width: 8rem;
  height: auto;
  margin-right: 0.8rem;
}

.siteheader__tagline {
  color: #fff;
  font-weight: normal;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.siteheader__nav {
  align-self: flex-end;
  font-size: 1.25rem;
  margin-left: 1rem;
  padding-bottom: 0.8rem;
}

.siteheader__nav li {
  margin-right: 2rem;
  padding-bottom: 0.5rem;
}

.siteheader__nav a,
.siteheader__nav a:hover,
.siteheader__nav a:focus {
  color: white;
}

.tagline__env {
  font-weight: 700;
  color: orange;
  font-size: 0.7em;
}
