html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}
abbr[title],
dfn[title] {
  cursor: help;
}
u,
ins {
  text-decoration: none;
}
ins {
  border-bottom: 1px solid;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin-bottom: 20px;
  margin-bottom: 1.3333333333rem;
}
ul,
ol,
dd {
  margin-left: 40px;
  margin-left: 2.6666666667rem;
}
html {
  font-size: 0.9375em;
  line-height: 1.3333333333;
  background-color: #fff;
  color: #414141;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.lede {
  font-size: 16.875px;
  font-size: 1.125rem;
  line-height: 1.1851851852;
}
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}
.gm-style img,
img[width],
img[height] {
  max-width: none;
}
li > ul,
li > ol {
  margin-bottom: 0;
}
h1 {
  font-size: 36px;
  font-size: 2.4rem;
  line-height: 1.1111111111;
}
h2 {
  font-size: 30px;
  font-size: 2rem;
  line-height: 1.3333333333;
}
h3 {
  font-size: 24px;
  font-size: 1.6rem;
  line-height: 1.6666666667;
}
h4 {
  font-size: 20px;
  font-size: 1.3333333333rem;
  line-height: 1;
}
h5 {
  font-size: 16px;
  font-size: 1.0666666667rem;
  line-height: 1.25;
}
h6 {
  font-size: 14px;
  font-size: 0.9333333333rem;
  line-height: 1.4285714286;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
}
body {
  min-height: 100%;
}
small {
  font-size: 13px;
}
p {
  max-width: 68ch;
}
li {
  max-width: 68ch;
}
hr {
  border: 0;
  border-top: 2px solid #ccc;
}
a {
  text-decoration: none;
  color: #0366d6;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: underline;
}
.filename {
  margin-bottom: 0.3em;
  color: hsl(0, 0%, 45%);
}
code,
.filename {
  white-space: nowrap;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 13px;
}
td code {
  white-space: normal;
}
pre {
  border-left: 3px solid hsl(0, 0%, 86%);
  background-color: hsl(0, 0%, 97%);
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 13px;
  padding: 1.5ch;
  overflow: auto;
}
.highlight pre {
  max-height: 450px;
}
pre code {
  white-space: pre;
  font-size: 12px;
}
.highlighter-rouge pre.highlight code.hljs {
  background-color: #fcfcfc;
}
.nowrap {
  white-space: nowrap;
}

.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
}
.layout__item {
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
  width: 100%;
}
.layout--large {
  margin-left: -40px;
}
.layout--large > .layout__item {
  padding-left: 40px;
}
.layout--flush {
  margin-left: 0;
}
.layout--flush > .layout__item {
  padding-left: 0;
}
.layout--rev {
  direction: rtl;
  text-align: left;
}
.layout--rev > .layout__item {
  direction: ltr;
  text-align: left;
}
.box {
  display: block;
  padding: 20px;
}
.box > :last-child {
  margin-bottom: 0;
}
.box--small {
  padding: 10px;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
  background-color: #7bc144;
  border: 1px solid #65a136;
  border-radius: 2px;
  transition: background-color 0.2s, border 0.2s;
  color: #000;
  text-decoration: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  text-decoration: none;
  border: 1px solid #65a136;
  background-color: #84cc4a;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.media {
  display: block;
}
.media__img {
  float: left;
  margin-right: 20px;
}
.media__img > img {
  display: block;
}
.media__body {
  overflow: hidden;
  display: block;
}
.media__body,
.media__body > :last-child {
  margin-bottom: 0;
}
.list-bare {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}
.list-block {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-block__item,
.list-block > li {
  padding: 20px;
}
.list-block--small > .list-block__item,
.list-block.list-block--small > li {
  padding: 10px;
}
.wrapper {
  margin: auto;
  max-width: 90rem;
  padding: 0 1rem;
}
.api {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.api p,
.api li {
  line-height: 1.35;
}
.api ul,
.api ol,
.api dd {
  margin-left: 1.25rem;
}
.api h2 {
  font-size: 2.12rem;
  font-weight: 600;
  margin-top: 2.6rem;
  line-height: 1.25;
  margin-bottom: 0.8rem;
  color: #222;
}
.api h3 {
  line-height: 1.3;
  margin-bottom: 0.4rem;
}
.api h4 {
  font-size: 1.25rem;
  margin-bottom: 0.4rem;
}
.api h3 + ul,
.api h4 + ul {
  margin-top: 1rem;
}
.api__section {
  margin-bottom: 2.5rem;
  padding-bottom: 4.5rem;
  border-bottom: 3px solid hsl(0, 0%, 90%);
  padding-left: 3rem;
  padding-right: 3rem;
}
.api__section:last-of-type {
  border-bottom: none;
}
.api__title {
  margin-left: 2.95rem;
}
@media screen and (min-width: 50em) {
  .api__title {
    font-size: 3.6em;
    font-weight: 400;
  }
}
.api__url {
  margin-bottom: 40px;
}
.api__params {
  margin-bottom: 40px;
}
.api__warning-box {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #fef2d9;
  border: 1px solid #fdbb2f;
  padding: 2%;
  margin-bottom: 2%;
}
blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
.apiflock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.apiflock__item {
  display: flex;
}
.apiflock__item a {
  color: #414141;
}
.apiflock__item h2 {
  margin-bottom: 10px;
}
.apiflock__icon {
  width: 70px;
  height: 50px;
  margin-bottom: 1em;
}
.apiflock__link {
  display: block;
  width: 18em;
  padding: 20px;
  line-height: 1.2;
  border: 3px solid #f2f2f3;
  text-align: center;
}
.apiflock__link:hover {
  border: 3px solid #dbdbdb;
  text-decoration: none;
}
.sitemenu {
  background-color: #f2f2f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sitemenu a {
  color: #414141;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 3.3333333333px;
  transition: background 0.1s ease 0s;
}
.sitemenu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.sitemenu__apititle a {
  font-weight: bold;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sitemenu__separator {
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.sitemenu__sublist {
  line-height: 1.3;
  margin-bottom: 20px;
}
.apitable__togglecell {
  text-align: center;
}
h4 + .codetabs {
  margin-top: 1rem;
}
ul.codetabs {
  list-style-type: none;
  margin: 0;
  margin-left: 0.6rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}
.codetabs__item {
  position: relative;
  border-top-width: 3px;
  border-top-style: solid;
  max-width: initial;
}
.codetabs__item:not(.active) {
  border-top-color: #f2f2f2;
  background-color: #f2f2f2;
  top: 0;
}
.codetabs__item.active {
  border-top-color: #7bc144;
  border-left: 1px solid hsl(0, 0%, 85%);
  border-right: 1px solid hsl(0, 0%, 85%);
  top: 1px;
  background-color: #fff;
}
.codetabs__link {
  display: inline-block;
  padding: 0.7rem 1.6rem 0.6rem;
  color: #414141;
}
.codetabs__content {
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-bottom: 2.5rem;
  border: 1px solid hsl(0, 0%, 85%);
}
.codetabs__panel:not(.active) {
  display: none;
}
.collapsible {
  margin-bottom: 0.5rem;
}
.collapsible__toggler {
  background-color: #f2f2f2;
  color: #414141;
  font-weight: bold;
  display: block;
  padding: 0.75rem 0.5rem;
  display: flex;
  align-items: center;
}
.collapsible__toggler:hover {
  background-color: #e6e6e6;
}
.collapsible__toggler__icon {
  margin-right: 0.25rem;
  width: 1rem;
  fill: #888;
  transition: transform 0.2s ease 0s;
}
.collapsible__toggler--expanded .collapsible__toggler__icon {
  transform: rotate(90deg);
}
.collapsible__toggler:hover::after {
  color: #fff;
}
.collapsible__item {
  padding: 10px;
}
.collapsible__item--collapsed {
  display: none;
  visibility: hidden;
}
.fancy-dl dt {
  font-weight: 700;
  background-color: #e6e6e6;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.6rem;
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}
.sitefooter {
  background-color: #222;
  padding: 40px 0 0.5rem;
  color: #fff;
  width: 100%;
}
.sitefooter a {
  color: #fff;
}
.sitefooter a:hover {
  color: #ccc;
}
.sitefooter-links {
  list-style-type: none;
}
.sitefooter-links li {
  margin-right: 2em;
}
.sitefooter-nav {
  margin-bottom: 2rem;
  font-weight: 600;
}
.intro {
  padding: 6vmin 4vmin 6vmin;
  background-color: #f2f2f3;
}
@media screen and (min-width: 45em) {
  .intro {
    padding: 12vmin 4vmin 8vmin;
    background: url(/img/megaheader/picture-a.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
.intro__tagline {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 20px;
  margin: 0 auto;
  max-width: 28ch;
}
@media screen and (min-width: 45em) {
  .intro__tagline {
    font-size: 2.4rem;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
}
.welcome {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.welcome a {
  color: #414141;
}
.welcome__item h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
.welcome__item img {
  max-height: 100px;
}
@media screen and (min-width: 45em) {
  .welcome__item img {
    max-width: 200px;
    max-height: none;
  }
  .welcome__item h2 {
    font-size: 24px;
  }
}
.welcome__link {
  display: block;
  padding: 20px;
}
.welcome__link:hover {
  background-color: #f2f2f3;
  text-decoration: none;
}
.welcome__link:hover img {
  opacity: 0.8;
}
.zero-clipboard {
  display: block;
  position: relative;
}
.zero-clipboard__btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
}
.zero-clipboard__btn:hover,
.zero-clipboard__btn.zeroclipboard-is-hover {
  color: #fff;
  background-color: #7bc144;
}
.blog {
  margin: 40px auto;
  max-width: 666px;
  padding: 0 10px;
}
.blog__post {
  margin: 20px 0 40px 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
}
.blog__post:last-child {
  margin-bottom: 40px;
}
.blog__archive {
  margin: 20px 0;
  min-height: 555px;
}
.blog__post__heading {
  margin: 0;
}
.blog__post__heading a {
  color: #414141;
}
.blog__post__heading a:hover {
  text-decoration: underline;
}
.blog__post__meta {
  margin: 0.9em 0;
}
.blog__post__meta-item {
  color: hsl(0, 0%, 45%);
}
.blog__post__meta-item:not(:last-child):after {
  padding: 0em 0.4em;
  content: "·";
}
.blog__post__meta-item a {
  color: hsl(0, 0%, 45%);
}
.blog__post__meta-item a:hover {
  color: #414141;
}
.blog__post__meta-item a:not(:last-child) {
  margin-right: 0.5rem;
}
.blog__post__meta .icon {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.blog__post__meta svg.icon {
  fill: #b2b2b2;
}
.blog__post__meta a:hover svg.icon {
  fill: #414141;
}
.blog__post__meta img.icon {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.blog__post__meta a:hover img.icon {
  -webkit-filter: none;
  filter: none;
}
.blog__post__content > :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.blog__post__footer {
  margin-top: 40px;
}
.blog__post__readmore {
  color: #b2b2b2;
  text-align: center;
}
.blog__post__readmore:hover {
  color: #414141;
}
.blog__paginator {
  text-align: center;
  margin: 40px 0;
}
.blog__paginator .layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 3rem;
}
.blog__paginator__info {
  color: #b2b2b2;
}
.blog__paginator__button {
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  padding: 0.8em 1em;
}
.blog__paginator__button:hover {
  border-color: #0366d6;
}
.blog__paginator__button--disabled {
  color: #b2b2b2;
  cursor: default;
}
.blog__paginator__button--disabled:hover {
  border-color: inherit;
}
.blog p code {
  background-color: #ebebeb;
  padding: 0 0.2ch;
}
.blog p + h2 {
  margin-top: 2.6rem;
}
.blog h2 {
  margin-bottom: 1rem;
  line-height: 1.2;
}
.blog h3 {
  font-size: 1.35rem;
  margin-bottom: 0;
}
.blog h4 {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.5;
}
.blog blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  font-style: italic;
}
.blog hr {
  border: none;
  border-bottom: 2px solid #ddd;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.blog p {
  max-width: none;
}
.highlight--b {
  padding: 0.25rem 1rem 0 0.75rem;
  border-left: 5px solid #ddd;
  font-size: 0.8rem;
  color: #666;
}
.breakout {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .breakout {
    max-width: none;
    margin-left: -280px;
    margin-right: -280px;
  }
}
.alpha {
  font-size: 36px;
  font-size: 2.4rem;
  line-height: 1.1111111111;
}
.beta {
  font-size: 30px;
  font-size: 2rem;
  line-height: 1.3333333333;
}
.gamma {
  font-size: 24px;
  font-size: 1.6rem;
  line-height: 1.6666666667;
}
.delta {
  font-size: 20px;
  font-size: 1.3333333333rem;
  line-height: 1;
}
.epsilon {
  font-size: 16px;
  font-size: 1.0666666667rem;
  line-height: 1.25;
}
.zeta {
  font-size: 14px;
  font-size: 0.9333333333rem;
  line-height: 1.4285714286;
}
.clearfix:after,
.box:after,
.media:after {
  content: "";
  display: table;
  clear: both;
}
.u-1\/1 {
  width: 100% !important;
}
.u-1\/2 {
  width: 50% !important;
}
.u-1\/3 {
  width: 33.3333333333% !important;
}
.u-2\/3 {
  width: 66.6666666667% !important;
}
.u-1\/4 {
  width: 25% !important;
}
.u-2\/4 {
  width: 50% !important;
}
.u-3\/4 {
  width: 75% !important;
}
.u-1\/5 {
  width: 20% !important;
}
.u-2\/5 {
  width: 40% !important;
}
.u-3\/5 {
  width: 60% !important;
}
.u-4\/5 {
  width: 80% !important;
}
.u-m {
  margin: 20px !important;
}
.u-mt {
  margin-top: 20px !important;
}
.u-mr {
  margin-right: 20px !important;
}
.u-mb {
  margin-bottom: 20px !important;
}
.u-ml {
  margin-left: 20px !important;
}
.u-mh {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.u-mv {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.u-m-- {
  margin: 5px !important;
}
.u-mt-- {
  margin-top: 5px !important;
}
.u-mr-- {
  margin-right: 5px !important;
}
.u-mb-- {
  margin-bottom: 5px !important;
}
.u-ml-- {
  margin-left: 5px !important;
}
.u-mh-- {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.u-mv-- {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.u-m- {
  margin: 10px !important;
}
.u-mt- {
  margin-top: 10px !important;
}
.u-mr- {
  margin-right: 10px !important;
}
.u-mb- {
  margin-bottom: 10px !important;
}
.u-ml- {
  margin-left: 10px !important;
}
.u-mh- {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.u-mv- {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.u-m\+ {
  margin: 40px !important;
}
.u-mt\+ {
  margin-top: 40px !important;
}
.u-mr\+ {
  margin-right: 40px !important;
}
.u-mb\+ {
  margin-bottom: 40px !important;
}
.u-ml\+ {
  margin-left: 40px !important;
}
.u-mh\+ {
  margin-right: 40px !important;
  margin-left: 40px !important;
}
.u-mv\+ {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.u-m\+\+ {
  margin: 80px !important;
}
.u-mt\+\+ {
  margin-top: 80px !important;
}
.u-mr\+\+ {
  margin-right: 80px !important;
}
.u-mb\+\+ {
  margin-bottom: 80px !important;
}
.u-ml\+\+ {
  margin-left: 80px !important;
}
.u-mh\+\+ {
  margin-right: 80px !important;
  margin-left: 80px !important;
}
.u-mv\+\+ {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.u-m0 {
  margin: 0 !important;
}
.u-mt0 {
  margin-top: 0 !important;
}
.u-mr0 {
  margin-right: 0 !important;
}
.u-mb0 {
  margin-bottom: 0 !important;
}
.u-ml0 {
  margin-left: 0 !important;
}
.u-mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.u-mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-p {
  padding: 20px !important;
}
.u-pt {
  padding-top: 20px !important;
}
.u-pr {
  padding-right: 20px !important;
}
.u-pb {
  padding-bottom: 20px !important;
}
.u-pl {
  padding-left: 20px !important;
}
.u-ph {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.u-pv {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.leftify {
  float: left;
}
.rightify {
  float: right;
}
@media screen and (max-width: 44.9375em) {
  .palm-one-whole {
    width: 100%;
  }
  .palm-one-half {
    width: 50%;
  }
  .palm-one-third {
    width: 33.333333333%;
  }
  .palm-two-thirds {
    width: 66.666666666%;
  }
  .palm-one-quarter {
    width: 25%;
  }
  .palm-three-quarters {
    width: 75%;
  }
  .palm-one-fifth {
    width: 20%;
  }
  .palm-two-fifths {
    width: 40%;
  }
  .palm-three-fifths {
    width: 60%;
  }
  .palm-four-fifths {
    width: 80%;
  }
  .palm-one-tenth {
    width: 10%;
  }
  .palm-three-tenths {
    width: 30%;
  }
  .palm-seven-tenths {
    width: 70%;
  }
  .palm-nine-tenths {
    width: 90%;
  }
}
@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .lap-one-whole {
    width: 100%;
  }
  .lap-one-half {
    width: 50%;
  }
  .lap-one-third {
    width: 33.333333333%;
  }
  .lap-two-thirds {
    width: 66.666666666%;
  }
  .lap-one-quarter {
    width: 25%;
  }
  .lap-three-quarters {
    width: 75%;
  }
  .lap-one-fifth {
    width: 20%;
  }
  .lap-two-fifths {
    width: 40%;
  }
  .lap-three-fifths {
    width: 60%;
  }
  .lap-four-fifths {
    width: 80%;
  }
  .lap-one-tenth {
    width: 10%;
  }
  .lap-three-tenths {
    width: 30%;
  }
  .lap-seven-tenths {
    width: 70%;
  }
  .lap-nine-tenths {
    width: 90%;
  }
}
@media screen and (min-width: 45em) {
  .lap-and-up-one-whole {
    width: 100%;
  }
  .lap-and-up-one-half {
    width: 50%;
  }
  .lap-and-up-one-third {
    width: 33.333333333%;
  }
  .lap-and-up-two-thirds {
    width: 66.666666666%;
  }
  .lap-and-up-one-quarter {
    width: 25%;
  }
  .lap-and-up-three-quarters {
    width: 75%;
  }
  .lap-and-up-one-fifth {
    width: 20%;
  }
  .lap-and-up-two-fifths {
    width: 40%;
  }
  .lap-and-up-three-fifths {
    width: 60%;
  }
  .lap-and-up-four-fifths {
    width: 80%;
  }
  .lap-and-up-one-tenth {
    width: 10%;
  }
  .lap-and-up-three-tenths {
    width: 30%;
  }
  .lap-and-up-seven-tenths {
    width: 70%;
  }
  .lap-and-up-nine-tenths {
    width: 90%;
  }
}
@media screen and (max-width: 63.9375em) {
  .portable-one-whole {
    width: 100%;
  }
  .portable-one-half {
    width: 50%;
  }
  .portable-one-third {
    width: 33.333333333%;
  }
  .portable-two-thirds {
    width: 66.666666666%;
  }
  .portable-one-quarter {
    width: 25%;
  }
  .portable-three-quarters {
    width: 75%;
  }
  .portable-one-fifth {
    width: 20%;
  }
  .portable-two-fifths {
    width: 40%;
  }
  .portable-three-fifths {
    width: 60%;
  }
  .portable-four-fifths {
    width: 80%;
  }
  .portable-one-tenth {
    width: 10%;
  }
  .portable-three-tenths {
    width: 30%;
  }
  .portable-seven-tenths {
    width: 70%;
  }
  .portable-nine-tenths {
    width: 90%;
  }
}
@media screen and (min-width: 64em) {
  .desk-one-whole {
    width: 100%;
  }
  .desk-one-half {
    width: 50%;
  }
  .desk-one-third {
    width: 33.333333333%;
  }
  .desk-two-thirds {
    width: 66.666666666%;
  }
  .desk-one-quarter {
    width: 23%;
  }
  .desk-three-quarters {
    width: 75%;
  }
  .desk-one-fifth {
    width: 20%;
  }
  .desk-two-fifths {
    width: 40%;
  }
  .desk-three-fifths {
    width: 60%;
  }
  .desk-four-fifths {
    width: 80%;
  }
  .desk-one-tenth {
    width: 10%;
  }
  .desk-three-tenths {
    width: 30%;
  }
  .desk-seven-tenths {
    width: 70%;
  }
  .desk-nine-tenths {
    width: 90%;
  }
  .desk-push-one-tenth {
    position: relative;
    left: 10%;
  }
}
