.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

/* START TYPOGRAPHY */

body {
  font: 13px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #4d4f53;
  /*Resets 1em to 10px*/

}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  color: #4d4f53;
}

h1 {
  margin: 0 0 0.3em;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  margin: 0.8em 0 0.3em;
  font-size: 22px;
  font-weight: normal;
}

h3 {
  margin: 0.8em 0 0.3em;
  font-size: 1.4em;
  font-weight: bold;
}

h4 {
  margin: 0.8em 0 0.3em;
  font-size: 1.1em;
  font-weight: bold;
}

h4.normal {
  font-weight: normal;
}

a {
  color: #00b2e4;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #4d4f53;
}

a.read-more {
  padding-left: 15px;
  color: #8c8d8e;
  background: url('../../images/read_more_highlight.gif') no-repeat left center;
}

p {
  margin: 0.5em 0;
}

.ingress {
  font-size: 1.6em;
  color: #8c8d8e;
}

.metadata {
  font-size: 1.1em;
  color: #8c8d8e;
  text-transform: uppercase;
}

.metadata a {
  color: #00a4ec;
  text-decoration: none;
}

.metadata a:hover {
  color: #4d4f53;
}

.large {
  font-size: 18px;
}

.larger {
  font-size: 28px;
}

/* END TYPOGRAPHY */
.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 1.01419878296146%;
  *margin-left: 0.9634888438133871%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 99.99999999999999%;
  *width: 99.94929006085191%;
}

.row-fluid .span12.nomargin {
  width: 101.01419878296144%;
  *width: 100.96348884381337%;
  margin-left: 0;
}

.row-fluid .span11 {
  width: 91.58215010141987%;
  *width: 91.53144016227179%;
}

.row-fluid .span11.nomargin {
  width: 92.59634888438133%;
  *width: 92.54563894523325%;
  margin-left: 0;
}

.row-fluid .span10 {
  width: 83.16430020283974%;
  *width: 83.11359026369166%;
}

.row-fluid .span10.nomargin {
  width: 84.17849898580121%;
  *width: 84.12778904665313%;
  margin-left: 0;
}

.row-fluid .span9 {
  width: 74.74645030425962%;
  *width: 74.69574036511155%;
}

.row-fluid .span9.nomargin {
  width: 75.76064908722108%;
  *width: 75.709939148073%;
  margin-left: 0;
}

.row-fluid .span8 {
  width: 66.32860040567951%;
  *width: 66.27789046653143%;
}

.row-fluid .span8.nomargin {
  width: 67.34279918864097%;
  *width: 67.29208924949289%;
  margin-left: 0;
}

.row-fluid .span7 {
  width: 57.91075050709939%;
  *width: 57.860040567951316%;
}

.row-fluid .span7.nomargin {
  width: 58.924949290060844%;
  *width: 58.874239350912774%;
  margin-left: 0;
}

.row-fluid .span6 {
  width: 49.492900608519264%;
  *width: 49.44219066937119%;
}

.row-fluid .span6.nomargin {
  width: 50.50709939148072%;
  *width: 50.45638945233265%;
  margin-left: 0;
}

.row-fluid .span5 {
  width: 41.07505070993914%;
  *width: 41.02434077079107%;
}

.row-fluid .span5.nomargin {
  width: 42.089249492900606%;
  *width: 42.038539553752535%;
  margin-left: 0;
}

.row-fluid .span4 {
  width: 32.65720081135902%;
  *width: 32.60649087221095%;
}

.row-fluid .span4.nomargin {
  width: 33.671399594320484%;
  *width: 33.62068965517241%;
  margin-left: 0;
}

.row-fluid .span3 {
  width: 24.2393509127789%;
  *width: 24.188640973630825%;
}

.row-fluid .span3.nomargin {
  width: 25.25354969574036%;
  *width: 25.202839756592287%;
  margin-left: 0;
}

.row-fluid .span2 {
  width: 15.82150101419878%;
  *width: 15.770791075050708%;
}

.row-fluid .span2.nomargin {
  width: 16.835699797160242%;
  *width: 16.784989858012167%;
  margin-left: 0;
}

.row-fluid .span1 {
  width: 7.40365111561866%;
  *width: 7.352941176470587%;
}

.row-fluid .span1.nomargin {
  width: 8.417849898580121%;
  *width: 8.367139959432048%;
  margin-left: 0;
}

@media (max-width: 520px) {
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  [class*="span"],
  .row-fluid [class*="span"],
  .row-fluid [class*="span"].nomargin {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
}

/* START BUTTON STYLE */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type='submit'],
input.btn {
  overflow: visible;
}

button.btn,
input.btn,
a.btn {
  display: inline-block;
  *display: inline;
  height: 30px;
  padding: 0 20px;
  margin-left: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #908f92;
  background-image: -moz-linear-gradient(top, #a4a3a7, #717074);
  background-image: -ms-linear-gradient(top, #a4a3a7, #717074);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4a3a7), to(#717074));
  background-image: -webkit-linear-gradient(top, #a4a3a7, #717074);
  background-image: linear-gradient(top, #a4a3a7, #717074);
  background-image: -o-linear-gradient(top, #a4a3a7, #717074);
  background-repeat: repeat-x;
  border: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a4a3a7', endColorstr='#717074', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 2px 6px #949598;
     -moz-box-shadow: 0 2px 6px #949598;
          box-shadow: 0 2px 6px #949598;
}

.posten button.btn,
.posten input.btn,
.posten a.btn {
  background-color: #be2b1c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e22f1b), color-stop(80%, #be2b1c), to(#be2b1c));
  background-image: -webkit-linear-gradient(#e22f1b, #be2b1c 80%, #be2b1c);
  background-image: -moz-linear-gradient(top, #e22f1b, #be2b1c 80%, #be2b1c);
  background-image: -ms-linear-gradient(#e22f1b, #be2b1c 80%, #be2b1c);
  background-image: -o-linear-gradient(#e22f1b, #be2b1c 80%, #be2b1c);
  background-image: linear-gradient(#e22f1b, #be2b1c 80%, #be2b1c);
  background-repeat: no-repeat;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e22f1b', endColorstr='#be2b1c', GradientType=0);
}

p a.btn {
  font-size: 0.857em;
  line-height: 1.2em;
}

button.disabled,
input.disabled,
a.disabled,
button:disabled,
input:disabled,
a:disabled {
  color: #b4b5b8;
  cursor: default;
  background: #e3e4e5;
  border-top: 1px solid #d1d2d2;
  border-right: 1px solid #d3d4d5;
  border-bottom: 1px solid #dbdddd;
  border-left: 1px solid #d3d4d5;
  filter: progid:dximagetransform.microsoft.shadow(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

button.btn.disabled,
input.btn.disabled,
a.btn.disabled,
button[disabled],
input[disabled],
a[disabled] {
  color: #b4b5b8;
  cursor: default;
  background: #e3e4e5;
  border-top: 1px solid #d1d2d2;
  border-right: 1px solid #d3d4d5;
  border-bottom: 1px solid #d1d2d2;
  border-left: 1px solid #d3d4d5;
  filter: progid:dximagetransform.microsoft.shadow(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a.btn.disabled {
  padding-bottom: 9px;
}

button.flat,
input.flat,
a.flat {
  background: #717074;
  border: none !important;
}

button.flat.disabled,
input.flat.disabled,
a.flat.disabled {
  color: #b4b5b8;
  cursor: default;
  background: #e3e4e5;
}

button.small,
input.small,
a.small {
  height: 20px;
}

button.large,
input.large,
a.large {
  height: 40px;
  margin: 5px 0;
  font-size: 1.2em;
  vertical-align: middle;
}

input.large {
  height: 30px;
  padding: 2px 8px;
}

button.wide,
input.wide,
a.wide {
  padding-right: 30px;
  padding-left: 30px;
}

a.btn {
  display: inline-block;
  *display: inline;
  height: 12px;
  padding: 7px 20px 10px;
  font-size: 1.2em;
  vertical-align: middle;
  *zoom: 1;
}

/*override for link buttons*/

a.btn.large {
  height: 16px;
  padding: 17px 13px 10px;
}

a.btn.flat {
  padding: 10px;
}

/*buttons enhanced*/

button.enhanced,
input.enhanced,
a.enhanced {
  background: url('/images/bring/button-enhanced.png') center left repeat-x #76c157;
  border: none;
}

button.flat.enhanced,
input.flat.enhanced,
a.flat.enhanced {
  background: #76c157;
}

/* END BUTTON STYLES*/
/* START TABLES */

table {
  width: 99%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.85em;
  word-wrap: break-word;
  border-collapse: separate;
  table-layout: fixed;
}

table .nowrap {
  white-space: nowrap;
}

table .wide {
  width: 99%;
}

table thead th {
  padding: 9px 25px 9px 10px;
  font-weight: normal;
  color: white;
  color: #fff;
  text-transform: uppercase;
  background: #717074;
}

table thead th * {
  color: #fff;
}

table thead th.shippingguidereferencecolumn {
  width: 190px;
}

table thead th.sorting_desc {
  background: #4d4f53 url('../images/shared/arrow-white-down.png') no-repeat 98% center;
}

table thead th.sorting_asc {
  background: #4d4f53 url('../images/shared/arrow-white-up.png') no-repeat 98% center;
}

table thead th.sorting,
table thead th.sorting_desc,
table thead th.sorting_asc {
  cursor: pointer;
}

table tbody {
  vertical-align: text-top;
}

table tbody th {
  padding: 9px 10px;
  color: #fff;
  background: #717074;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

table tbody td {
  padding: 9px 10px;
  border-top: 1px solid #fff;
  table-layout: fixed;
}

table tbody tr.even {
  background-color: #efeff0;
}

table tbody tr.invert td {
  color: #fff;
  background: #717074;
}

table.hover-effect tbody tr:hover {
  background-color: #e5e6e7;
}

table.inverted thead th {
  padding-right: 0;
  color: #4d4f53;
  background: #fff;
}

table.inverted thead th span {
  display: block;
  height: 1.2em;
  color: #4d4f53;
  border-right: 1px solid #4d4f53;
}

table.inverted thead th:last-child span {
  border-right: none;
}

table.inverted thead th.sorting_desc span {
  background: #ffffff url('../images/arrow-green-down.png') no-repeat 95% center;
}

table.inverted thead th.sorting_asc span {
  background: #ffffff url('../images/arrow-green-up.png') no-repeat 95% center;
}

table.inverted tbody th,
table.inverted tbody td {
  margin-top: 0;
  vertical-align: text-top;
  border-top: none;
}

table.inverted tbody tr {
  color: #fff;
}

table.inverted tbody tr.odd {
  background-color: #4d4f53;
}

table.inverted tbody tr.even {
  background-color: #717074;
}

/* END TABLES */

/* tab styles */

.tabs {
  margin-bottom: 10px;
}

.ui-tabs-nav {
  list-style: none;
}

.ui-tabs-nav li {
  float: left;
  background: #717074;
}

.ui-tabs-nav li.ui-state-active {
  margin-top: -1px;
  background: #fff;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 -2px 4px -2px -2px #777777;
     -moz-box-shadow: 0 -2px 4px -2px #777777;
          box-shadow: 0 -2px 4px -2px #777777;
}

.ui-tabs-nav li a {
  display: block;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}

.ui-tabs-nav li.ui-state-active a {
  color: #4d4f53;
}

.ui-tabs-hide {
  display: none;
}

.ui-tabs-panel {
  padding: 10px;
  clear: both;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px -1px #777777;
     -moz-box-shadow: 0 1px 4px -1px #777777;
          box-shadow: 0 1px 4px -1px #777777;
}

/* overrides for minimal tabs */

.tabs-minimal .ui-tabs-nav li a {
  padding: 5px 10px;
}

.tabs-minimal .ui-tabs-nav li.ui-state-active,
.tabs-minimal2 .ui-tabs-nav li.ui-state-active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tabs-minimal .ui-tabs-panel,
.tabs-minimal2 .ui-tabs-panel {
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tabs-minimal2 .ui-tabs-nav li a {
  padding: 0 10px 0 0;
  color: #4d4f53;
}

.tabs-minimal2 .ui-tabs-nav li.ui-state-active a {
  color: #db2d22;
}

.tabs-minimal2 .ui-tabs-nav li {
  margin-right: 10px;
  background: none;
  border-right: 1px solid #4d4f53;
}

.tabs-minimal2 .ui-tabs-nav li:last-child {
  margin-right: 0;
  border-right: none;
}

.tabs-minimal2 .ui-tabs-nav li.ui-state-active {
  margin-top: 0;
  border-top: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.box {
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #FFF;
}

.box.row-fluid {
  padding: 0;
}

.box :first-child {
  margin-top: 0;
}

.box .graylighter,
.box.graylighter {
  background-color: #efeff0;
}

.box .graylight,
.box.graylight {
  color: #ffffff;
  background-color: #8c8d8e;
}

.box .gray,
.box.gray {
  color: #ffffff;
  background-color: #555555;
}

.box.lightBorder {
  border: 1px solid #efeff0;
}

.box .push-top {
  margin-top: 10px;
}

.box .push-right {
  margin-right: 10px;
}

.box .push-bottom {
  margin-bottom: 10px;
}

.box .push-left {
  margin-left: 10px;
}

.menu-group.ingress-list.alternativ li {
  cursor: pointer;
  background-image: url("/images/bring/arrow-green-right.png");
  background-position: 98% center;
  background-repeat: no-repeat;
}

.menu-item {
  display: block;
  height: 20px;
  padding: 7px 10px 3px 10px;
  margin-bottom: 10px;
  color: #4d4f53;
  background: #f0f0f1 url('/images/arrow-black-right.png') no-repeat 95% center;
  -webkit-box-shadow: 0 3px 6px -1px #777777;
     -moz-box-shadow: 0 3px 6px -1px #777777;
          box-shadow: 0 3px 6px -1px #777777;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
}

.menu-item:hover {
  color: #fff;
  background: transparent url('/images/arrow-white-right.png') no-repeat 95% center;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
}

.menu-item.selected {
  color: #fff;
  background: #7bc144 url('/images/arrow-white-right.png') no-repeat 95% center;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
}

.menu-group {
  padding: 0;
  list-style: none;
}

.no-shadow .menu-item {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.menu-group .menu-item {
  margin-bottom: 1px;
}

.menu-group.ingress-list li {
  margin-bottom: 1px;
  background: #F0F0F1;
  background-image: url("/images/bring/arrow-green-right.png");
  -webkit-box-shadow: 0 3px 6px -1px #777777;
     -moz-box-shadow: 0 3px 6px -1px #777777;
          box-shadow: 0 3px 6px -1px #777777;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
}

.menu-group.ingress-list li:hover {
  background: transparent url('/images/arrow-green-right.png') no-repeat 98% center;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
}

.menu-group.ingress-list li a {
  padding-bottom: 0;
  margin-bottom: -6px;
  font-size: 1.2em;
  font-weight: bold;
}

.menu-group.ingress-list li:hover a {
  color: #7BC144;
}

.menu-group.ingress-list li span {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
}

.menu-group.ingress-list .menu-item {
  height: 100%;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* minimal */

.menu-group.minimal .heading {
  padding: 7px 0 3px 0;
  font-size: 1.4em;
  font-weight: bold;
}

.menu-group.minimal li {
  border-bottom: 1px solid #c2c2c4;
}

.menu-group.minimal .menu-item {
  padding-left: 0;
  margin-bottom: 1px;
  background: transparent url('/images/arrow-green-right.png') no-repeat 98% center;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.menu-group.minimal .menu-item:hover {
  color: #4d4f53;
  background: none;
}

.menu-group.minimal li:last-child {
  border-bottom: none;
}

.menu-group.minimal.horizontal {
  overflow: hidden;
}

.menu-group.minimal.horizontal li {
  float: left;
  margin-right: 10px;
  border-right: 1px solid #c2c2c4;
  border-bottom: none;
}

.menu-group.minimal.horizontal li a {
  width: auto;
  height: auto;
  padding: 0;
  padding-right: 10px;
  background: none;
}

.menu-group.minimal.horizontal li:last-child {
  margin-right: 0;
  border-right: none;
}

div.content-box {
  padding: 15px;
}

p.right {
  text-align: right;
}

/*--stuff til developer siten --*/

/*
tr.even{
    background-color: #EFEFF0;
}

thead th{
    background-color: #717074;
    color: white;
    padding: 9px 25px 9px 10px;
    text-transform: uppercase;
    font-weight: normal;
}

table{
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.85em;
    border: 1px;
}
*/

div.box > p {
  margin-top: 10px;
}

p.front-page-welcome-text {
  font-size: 17px;
}

div.front-page-api-menu {
  position: relative;
  top: -13px;
}

div.header-box {
  -webkit-border-radius: 7px;
   -khtml-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}

ul.api-menu {
  height: 100%;
  padding: 0;
  margin: 0;
}

.row.no-back {
  padding: 10px;
  background: #E2E3E4;
}

iframe.widget-demo {
  width: 100%;
  padding-top: 20px;
  border: 0;
}

pre.code-box {
  max-height: 350px;
  padding: 5px;
  overflow: auto;
  background: #f5f5f5;
  border: 1px solid #CCC;
  overflow-wrap: break-word;
}

/* START TAB-GROUP STYLES */

.tab-group {
  position: relative;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  list-style: none;
  zoom: 1;
}

.tab-group:before,
.tab-group:after {
  display: table;
  *display: inline;
  content: "";
  zoom: 1;
}

.tab-group:after {
  clear: both;
}

.tab-group li {
  float: left;
  margin-right: 1px;
  background: #717074;
}

.tab-group li a {
  display: block;
  height: auto;
  padding: 14px 10px 10px;
  margin-bottom: 0;
  font-size: 0.9em;
  color: #fff;
  background: #717074;
  zoom: 1;
  -webkit-box-shadow: inset 0px -8px 7px -10px #000000;
     -moz-box-shadow: inset 0px -8px 7px -10px #000000;
          box-shadow: inset 0px -8px 7px -10px #000000;
}

.tab-group li.active {
  margin: 0;
  background: #fff;
  border-right: none;
  filter: progid:dximagetransform.microsoft.shadow(color='#949598', Direction=150, Strength=3);
  -webkit-box-shadow: 0px 3px 3px 1px #bbbcc0;
     -moz-box-shadow: 0px 3px 3px 1px #bbbcc0;
          box-shadow: 0px 3px 3px 1px #bbbcc0;
}

.tab-group li.active a {
  position: relative;
  top: 4px;
  padding-top: 5px;
  margin: 0;
  color: #4d4f53;
  background: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tab-group li:last-child {
  border-right: none;
}

.tab-group.no-shadow li.active {
  border-top: 1px solid white;
  filter: progid:dximagetransform.microsoft.shadow(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tab-group.no-shadow li.active a {
  top: 0;
  padding: 5px 10px;
}

.tab-group.no-shadow li a {
  padding: 5px 10px;
  font-size: 1.1em;
}

.tab-group.minimal {
  overflow: hidden;
}

.tab-group.minimal li {
  float: left;
  margin-right: 10px;
  background: none;
  border-right: 1px solid #4d4f53;
  border-bottom: none;
  filter: progid:dximagetransform.microsoft.shadow(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tab-group.minimal li a {
  top: 0;
  padding: 0;
  padding-right: 10px;
  font-size: 1em;
  font-weight: normal;
  font-weight: bold;
  color: #4d4f53;
  text-transform: capitalize;
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tab-group.minimal li.active > a {
  color: #7BC144;
}

.tab-group.minimal li a:hover {
  color: #7bc144;
}

.tab-group.minimal li:last-child {
  margin-right: 0;
  border-right: none;
  border-bottom: none;
}

.tab-group.upper li a {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.tab-group.full {
  background: #717074;
}

.tab-group.full li {
  margin-right: 0;
  border-right: 1px solid #fff;
}

.tab-group.full li.active {
  margin-top: 0;
  border-top: none;
  border-right: none;
  filter: progid:dximagetransform.microsoft.shadow(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tab-group.full li.active:last-child {
  border-right: none;
}

.tab-group.full li:last-child {
  border-right: 1px solid white;
}

.tab-pane {
  display: none;
  padding-top: 15px;
  clear: both;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px -1px #949598;
     -moz-box-shadow: 0 3px 6px -1px #949598;
          box-shadow: 0 3px 6px -1px #949598;
}

.tab-content {
  position: relative;
}

.tab-pane.active {
  display: block;
}

.tab-minimal .tab-pane {
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* END TAB-GROUP STYLES */

div.forside-banner {
  background-image: url("/images/bring/frontpage-bg-gradient.png");
  background-repeat: repeat;
}

div.light-padding {
  padding-left: 10px;
}

div.api-menu-item-container {
  height: 55px;
}

div.api-menu-text {
  padding-top: 10px;
}

div.shippingicon {
  background: transparent url("/images/bring/api-meny/shipping1.png") no-repeat;
}

div.trackingicon {
  background: transparent url("/images/bring/api-meny/tracking1.png") no-repeat;
}

div.reportsicon {
  background: transparent url("/images/bring/api-meny/reports1.png") no-repeat;
}

div.pickuppointicon {
  background: transparent url("/images/bring/api-meny/pickuppoint1.png") no-repeat;
}

div.postalcodeicon {
  background: transparent url("/images/bring/api-meny/postalcode1.png") no-repeat;
}

div.bookingicon {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 7px;
  background: transparent url("/images/bring/api-meny/booking1.png") no-repeat;
}

div.api-menu-icons {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 7px;
}

span.black {
  color: #4d4f53;
}

a.black {
  color: #4d4f53;
}

span.api-link {
  font-weight: bold !important;
}

div.welcometext {
  padding: 10px 0 0px 38px;
}

ul.welcomelist {
  font-size: 17px;
}

div.information-box {
  min-height: 30px;
  padding: 10px 40px;
  background-image: url("/images/green-info-icon.png");
  background-position: 0 8px;
  background-repeat: no-repeat;
  border: 1px solid #CCC;
}

img.fitted-width {
  max-width: 100%;
}

img.half-width {
  max-width: 50%;
}
