.best-practice-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
    max-width: max-content;

    & > div {
        flex: 1 2 24rem;
        max-width: max-content;
    }

    & > figure {
        flex: 1 1 24rem;
        max-width: 40rem;
    }
}

.flag {
    width: 1.1em;
}
