<main id="main" class="dev-blog phl flex flex-wrap">
  {{- with .Title -}}
    <div class="mbm">
      <a href="{{ "/blog/" | relURL }}">&larr; Back to blog</a>
    </div>
    <h1 class="w100p mbm">{{ . }}</h1>
  {{- end -}}
  {{- range where .Paginator.Pages "Section" "blog" -}}
    <article class="dev-blog__post bg-gray2 radius-a mrxs mbxs">
      <header>
        <h2 class="dev-blog__heading mbm">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <div class="text-note">
          {{ partial "blog-meta.html" . }}
        </div>
      </header>
      <div>
        {{- with .Resources.Match (print .Params.heroImage) -}}
          {{- range first 1 . -}}
            <img class="mbm" src="{{ .RelPermalink }}" alt="" />
          {{- end -}}
        {{- end -}}
        <p>{{ .Summary | plainify | htmlUnescape }}</p>
        <a href="{{ .RelPermalink }}" title="Read {{ .Title }}">Read {{ .Title }} &rarr;</a>
      </div>
    </article>
  {{- end -}}
  {{- $paginator := .Paginator -}}
  {{- if gt $paginator.TotalPages 1 -}}
    <nav class="w100p" aria-label="Pagination">
      <ul class="pagination mvl w100p maxw100p tc">
        <li class="pagination__element">
        {{- if $paginator.HasPrev -}}
          <a
            href="{{ $paginator.Prev.URL }}"
            title="Newer posts"
            class="pagination__btn"
          >
            <span
              data-mybicon="mybicon-arrow-left"
              data-mybicon-class="icon-ui"
            ></span>
          </a>
        {{- else -}}
          <span
            class="pagination__btn pagination__btn--deactivated"
            title="There are no newer posts"
            ><span
              data-mybicon="mybicon-arrow-left"
              data-mybicon-class="icon-ui"
            ></span
          ></span>
        {{- end -}}
        </li>

        {{- range $paginator.Pagers -}}
          {{- $active := "" -}}
          {{- if eq . $paginator -}}
            {{- $active = "pagination__btn--active" -}}
          {{- end -}}
          <li class="pagination__element">
            <a href="{{ .URL }}" class="pagination__btn {{ $active }}"
              >{{ .PageNumber }}</a
            >
          </li>
        {{- end -}}

        <li class="pagination__element">
        {{- if $paginator.HasNext -}}
          <a
            href="{{ $paginator.Next.URL }}"
            title="Older posts"
            class="pagination__btn"
          >
            <span
              data-mybicon="mybicon-arrow-right"
              data-mybicon-class="icon-ui"
            ></span>
          </a>
        {{- else -}}
          <span
            class="pagination__btn pagination__btn--deactivated"
            title="There are no older posts"
            ><span
              data-mybicon="mybicon-arrow-right"
              data-mybicon-class="icon-ui"
            ></span
          ></span>
        {{- end -}}
        </li>
      </ul>
    </nav>
  {{- end -}}
  </main>
