{{- $currentPage := .currentPage -}}
{{- $currentMenuItem := .ctx -}}
{{- $currentMenu := .menu -}}
{{- $prefix := "" -}}
{{- $apiData := "" -}}
{{- with .apiData -}}
  {{- $apiData = . -}}
{{- end -}}
{{- $identifier := "" -}}
{{- with .identifier -}}
  {{- $identifier = . -}}
{{- end -}}
{{- with .prefix -}}
  {{- $prefix = (print . "-") -}}
{{- end -}}

{{- $target := "" -}}
{{- $iconEx := "" -}}
{{- if $currentMenuItem.Params.blank -}}
  {{- $target = "target=\"_blank\" rel=\"noopener noreferrer\"" -}}
  {{- $iconEx = "<span data-mybicon='mybicon-external-link' data-mybicon-class='mls dev-sidemenu__icon'></span>" -}}
{{- end -}}

<li
  {{ if or ($currentPage.IsMenuCurrent $currentMenu $currentMenuItem) ($currentPage.HasMenuCurrent $currentMenu $currentMenuItem) }}class="active"{{ end }}
>
  <a
    href="{{ .url }}"
    class="dev-sidemenu__apititle"
    {{ if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem }}aria-current="page"{{ end }}
    {{ $target | safeHTMLAttr }}
    >{{ .pageTitle }}{{ safeHTML $iconEx }}</a
  >

  {{- if or ($currentPage.IsMenuCurrent $currentMenu $currentMenuItem) ($currentPage.HasMenuCurrent $currentMenu $currentMenuItem) -}}
    <ul>

      {{/*  Subpages navigation */}}
      {{- with $currentPage.Params.subpages -}}
        {{- with .title -}}
          <li>
            <a href="#{{ . | anchorize }}" data-list-item="{{ . | anchorize }}">
              <span data-hover="{{ . }}">{{ . }}</span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}

      {{- $currentParent := .Parent -}}
      {{- $currentId := "" -}}
      {{- range $currentMenuItem.Children -}}
        {{- $currentParent = .Parent -}}
      {{- end -}}
      {{- range $currentPage.Menus -}}
        {{- $currentId = .Identifier -}}
      {{- end -}}

      {{/*  Special topics navigation */}}
      {{- if and (and $currentId $currentParent) (ne $currentParent $currentId) -}}
        {{- with $currentPage.Parent.Params.subpages -}}
          <li>
            {{- with .title -}} 
              <a
                href="../#{{ . | anchorize }}"
                data-list-item="{{ . | anchorize }}"
              >
                <span data-hover="{{ . }}">{{ . }}</span>
              </a>
            {{- end -}}
            <ul class="text-note">
              {{- range $currentMenuItem.Children -}}
                <li><a href="{{ .URL }}" {{ if eq .Identifier $currentId }}class="active" aria-current="page"{{ end }}>{{ .Title }}</a></li>
              {{- end -}}
            </ul>
          </li>
          {{- partial "sidemenuanchors.html" (dict "ctx" $currentPage.Parent "apiData" $apiData "identifier" $identifier "prefix" $prefix "isParent" true) -}}
        {{- end -}}
      {{- else -}}
        {{/*  Regular navigation */}}
        {{- partial "sidemenuanchors.html" (dict "ctx" $currentPage "apiData" $apiData "identifier" $identifier "prefix" $prefix) -}}
      {{- end -}}
    </ul>
  {{- end -}}
</li>
