    {% include icons.svg %}
    <div class="apiflock u-mb+">
          <ul class="list-bare apiflock__list">
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/tracking/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#tracking" /></svg>
                <h2 class="delta">Tracking API</h2>
                <p>Use a reference, package or shipment number to display details about sender, recipient, weight/volume, shipment history and current status.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/shipping-guide/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#shippingguide" /></svg>
                <h2 class="delta">Shipping Guide API</h2>
                <p>Look up available options for shipping with Bring: price information, service&nbsp;area, estimated delivery times, delivery alternatives.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/booking/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#booking" /></svg>
                <h2 class="delta">Booking API</h2>
                <p>A logged-in service for Mybring users that let’s you programatically book shipments and generate PDF labels.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/pickup-point/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#pickuppoint" /></svg>
                <h2 class="delta">Pickup Point API</h2>
                <p>List the nearest pickup points. These are locations that deliver packages for Bring and Posten, such as post offices and selected grocery stores.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/reports/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#reports" /></svg>
                <h2 class="delta">Reports API</h2>
                <p>A logged-in service for Mybring users. Generate shipment reports, the same reports that are available for you about a set of customers in Mybring.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/purchase-order/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#purchaseorder" /></svg>
                <h2 class="delta">Purchase Order API</h2>
                <p>Create, update and query Purchase Orders.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/easy-return-service/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#easyreturn" /></svg>
                <h2 class="delta">Easy Return Service API</h2>
                <p>A logged-in service for Mybring users to create labels for returning 
                cross&#8209;border parcels.</p>
              </a>
            </li>
            <li class="box box--small apiflock__item">
              <a href="{{ site.baseurl }}/api/postal-code/" 
                  class="apiflock__link">
                <svg class="apiflock__icon"><use xlink:href="#postalcode" /></svg>
                <h2 class="delta">Postal Code API</h2>
                <p>Check if a number is a valid postal code, and look up name of the geografic area. For&nbsp;Norway and some additional supported countries.</p>
              </a>
            </li>
          </ul>
    </div>
