
                  <h3>{{ include.title }}</h3>
                  <table>
                    <thead>
                      <th>Parameter</th>
                      <th>Type</th>
                      <th>Description</th>
                    </thead>
                  {% for param in include.params %}
                    <tr>
                      <td><code>{{ param[1].name }}</code></td>
                      <td><code>{{ param[1].type }}<code></td>
                      <td>
                        {% if param[1].required %}
                          {% assign desc = '_Required._ ' %}
                        {% else %}
                          {% assign desc = '_Optional._ ' %}
                        {% endif %}

                        {% if param[1].display_name != param[1].name %}
                          {% assign desc = desc | append: param[1].display_name | append: '. ' %}
                        {% endif %}

                        {% if param[1].description %}
                          {% assign desc = desc | append: param[1].description %}
                        {% endif %}

                        {{ desc | markdownify }}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
