{% for wrappedTypeDefinitionHash in include.types %}
  {% for typeDefinitionHash in wrappedTypeDefinitionHash %}
    {% assign typeDefinition = typeDefinitionHash[1] %}

    {% if include.type and typeDefinition.name != include.type %}
      {% continue %}
    {% endif %}

    {% if include.type == null and typeDefinition.annotations and typeDefinition.annotations.hideInDocumentation and typeDefinition.annotations.hideInDocumentation.structuredValue %}
      {% continue %}
    {% endif %}

    {% assign hide_required = false %}
    {% if typeDefinition.annotations and typeDefinition.annotations.hideRequired and typeDefinition.annotations.hideRequired.structuredValue %}
      {% assign hide_required = true %}
    {% endif %}

    <article>
      {% unless include.hide_header %}
      <h4 class="anchored" id="type-{{ typeDefinition.name | slugify }}">{{ typeDefinition.displayName }}</h4>
      {% endunless %}

      {% if typeDefinition.type[0] == 'object' %}
        {% assign desc = '' %}
        <table>
          <thead>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </thead>
          <tbody>
          {% for propHash in typeDefinition.properties %}
            {% assign prop = propHash[1] %}
            {% include raml_type_row.html prop=prop hide_required=hide_required %}
          {% endfor %}
          </tbody>
        </table>

      {% else %}
        {% assign desc = 'Type: `' | append: typeDefinition.type[0] | append: '` ' %}
        {% if include.hide_required %}
        {% elsif typeDefinition.required %}
          {% assign desc = desc | append: '_Required._ ' %}
        {% else %}
          {% assign desc = desc | append: '_Optional._ ' %}
        {% endif %}

        {% if typeDefinition.displayName != typeDefinition.name %}
          {% assign desc = desc | append: typeDefinition.displayName | append: '. ' %}
        {% endif %}

        {% if typeDefinition.description %}
          {% assign desc = desc | append: typeDefinition.description %}
        {% endif %}

        {% comment %}
        We're building a desc to ensure that required/optional, displayName and
        description will be in the same paragraph, since we have to markdownify
        the description.
        {% endcomment %}
        {{ desc | markdownify }}

        {% if typeDefinition.enum %}
        <br/>
        Possible values:
        <ul>
          {% for item in typeDefinition.enum %}
          <li><code>{{ item }}</code></li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if typeDefinition.default %}
          <br/>
          Default value: <code>{{ typeDefinition.default }}</code>
        {% endif %}

        {% if typeDefinition.pattern %}
          <br/>
          Pattern: <code>{{ typeDefinition.pattern }}</code>
        {% endif %}

        {% if typeDefinition.minItems %}
          <br/>
          Minimum number of items: <code>{{ typeDefinition.minItems }}</code>
        {% endif %}

        {% if typeDefinition.maxItems %}
          <br/>
          Maximum number of items: <code>{{ typeDefinition.maxItems }}</code>
        {% endif %}

        {% if typeDefinition.example %}
          <br/>
          Example: <code>{{ typeDefinition.example }}</code>
        {% endif %}
      {% endif %}
    </article>
  {% endfor %}
{% endfor %}
