
      <nav class="sitemenu" data-sticky="true">
        <ul class="list-bare sitemenu__list">
          <li class="{% if page.url == '/api/introduction/' %} active{% endif %}">
            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}/api/introduction/">Why use our APIs?</a></h3>
          </li>
          <li class="{% if page.url == '/api/' %} active{% endif %}">
            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}/api/">Getting Started</a></h3>
            {% if page.url == '/api/' %}
            <ul class="list-bare sitemenu__sublist">
              <li class="active" data-scrollspy="#introduction"><a href="{{ site.baseurl }}/api/#introduction">Introduction</a></li>
              <li data-scrollspy="#authentication"><a href="{{ site.baseurl }}/api/#authentication">Authentication</a></li>
              <li data-scrollspy="#formats"><a href="{{ site.baseurl }}/api/#formats">Formats</a></li>
            </ul>
            {% endif %}
          </li>
          <li class="{% if page.url contains '/api/services/' %} active{% endif %}">
            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}/api/services/">Service List</a></h3>
            {% if page.url contains '/api/services/' %}
            <ul class="list-bare sitemenu__sublist">
              <li data-scrollspy="#shipping-guide"><a href="{{ site.baseurl }}/api/services/#shipping-guide">Shipping Guide</a></li>
              <li data-scrollspy="#booking"><a href="{{ site.baseurl }}/api/services/#booking">Booking</a></li>
            </ul>
            {% endif %}
          </li>
        {% for api_page in site.pages %}
          {% unless api_page.api %}{% continue %}{% endunless %}


          {% if page.url contains api_page.url %}
            {% assign active_page = true %}
          {% else %}
            {% assign active_page = false %}
          {% endif %}
          <li class="{% if active_page %} active{% endif %}">

            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}{{ api_page.url }}">{{ api_page.api.title }}</a></h3>
            {% if active_page %}
            <ul class="list-bare sitemenu__sublist">
              <li data-scrollspy="#api-documentation"><a href="{{ site.baseurl }}{{ api_page.url }}#api-documentation"><span data-hover="Documentation">Documentation</span></a></li>
              {% if api_page.url == "/api/shipping-guide_2/" %}
                <li data-scrollspy="#getting-started"><a href="{{ site.baseurl }}/api/shipping-guide_2/#getting-started"><span data-hover="Getting started">Getting started</span></a></li>
                <li data-scrollspy="#shipping-guide-topics"><a href="{{ site.baseurl }}/api/shipping-guide_2/#shipping-guide-topics"><span data-hover="Shipping Guide topics">Shipping Guide topics</span></a></li>
                <li data-scrollspy="#handle-api-errors"><a href="{{ site.baseurl }}/api/shipping-guide_2/#handle-api-errors"><span data-hover="Request and response structure">Request and response structure</span></a></li>
                <li data-scrollspy="#versioning"><a href="{{ site.baseurl }}/api/shipping-guide_2/#versioning"><span data-hover="Versioning">Versioning</span></a></li>
                <li data-scrollspy="#improve-performance"><a href="{{ site.baseurl }}/api/shipping-guide_2/#improve-performance"><span data-hover="Improve performance">Improve performance</span></a></li>
                <li data-scrollspy="#overview-of-endpoints"><a href="{{ site.baseurl }}/api/shipping-guide_2/#overview-of-endpoints"><span data-hover="Overview of endpoints">Overview of endpoints</span></a></li>
                </ul>
                 {% continue %}
              {% endif %}

              {% if api_page.api.types %}
                {% for resource in api_page.api.resources %}
                  <li data-scrollspy="#{{ resource.displayName | slugify }}"><a href="{{ site.baseurl }}{{ api_page.url }}#{{ resource.displayName | slugify }}"><span data-hover="{{ resource.displayName }}">{{ resource.displayName }}</span></a></li>
                {% endfor %}
              {% else %}
                {% for resource in api_page.api.resources %}
                  <li data-scrollspy="#{{ resource.display_name | slugify }}"><a href="{{ site.baseurl }}{{ api_page.url }}#{{ resource.display_name | slugify }}"><span data-hover="{{ resource.display_name }}">{{ resource.display_name }}</span></a></li>
                {% endfor %}
              {% endif %}
            </ul>
            {% endif %}
          </li>
        {% endfor %}
          <li class="{% if page.url == '/edi/' %} active{% endif %}">
            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}/edi/">EDI</a></h3>
          </li>
          <li class="{% if page.url == '/ecommerce/' %} active{% endif %}">
            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}/ecommerce/">E-Commerce</a></h3>
          </li>
        </ul>
      </nav>
