
      <nav class="sitemenu">
        <ul class="list-bare sitemenu__list">
          <li class="{% if page.url == '/edi/' %} active{% endif %}">
            <h3 class="sitemenu__apititle epsilon u-mb0"><a href="{{ site.baseurl }}/edi/">EDI</a></h3>
            <ul class="list-bare sitemenu__sublist">
              <li data-scrollspy="#transport-instruction-for-iftmin-d04a"><a href="{{ site.baseurl }}/edi/#transport-instruction-for-iftmin-d04a">Transport Instruction</a></li>
              <li data-scrollspy="#warehouse-management"><a href="{{ site.baseurl }}/edi/#warehouse-management">Warehouse Management</a></li>
              <li data-scrollspy="#other-implementation-guides"><a href="{{ site.baseurl }}/edi/#other-implementation-guides">Other Implementation Guides</a></li>
              <li data-scrollspy="#status-messages-iftsta"><a href="{{ site.baseurl }}/edi/#status-messages-iftsta">Status Messages</a></li>
              <li data-scrollspy="#transport-label-specifications"><a href="{{ site.baseurl }}/edi/#transport-label-specifications">Transport Label Specifications</a></li>
              <li data-scrollspy="#suppliers-of-edi-solutionsta-system-vendors"><a href="{{ site.baseurl }}/edi/#suppliers-of-edi-solutionsta-system-vendors">Suppliers of EDI-solutions</a></li>
            </ul>
          </li>
        </ul>
      </nav>
