
article.api {

    &.booking header.banner {
        background-image: url('../img/megaheader/28-A_9328-final.jpg');
        background-position: 0 -100px, center;
    }

    &.tracking header.banner {
        background-image: url('../img/megaheader/BRING_EXPRESS_QUICKPACK_CAR_PLANE3-kopi.jpg');
        background-position: 0 -100px, center;
    }

    &.shipping-guide header.banner {
        background-image: url('../img/megaheader/1071155.jpg');
        background-position: 0 -100px, center;
    }

    &.pickup-point header.banner {
        background-image: url('../img/megaheader/07856_7.jpg');
        background-position: 0 -70px, center;
    }

    &.reports header.banner {
        background-image: url('../img/megaheader/Adressevask.jpg');
        background-position: 0 -70px, center;
    }

    &.easy-return-service header.banner {
        background-image: url('../img/megaheader/n_1___04-08.jpg');
    }

    &.postal-code header.banner {
        background-image: url('../img/megaheader/COLOURBOX6425529.jpg');
        background-position: 0 -70px, center;
    }

    header.banner {
        position: relative;

        height: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/megaheader/1071155.jpg');

        .overlay {
            height: 360px;
            background-color: rgba(0,0,0,0.4);

            h1 {
                position: absolute;
                bottom: 48px;
                width: 100%;
                text-align: center;
                color: $white;
                font-size: 7rem;
            }
        }

    }

}
