
/* ------------------------------------------------------- 
*   # CODE
------------------------------------------------------- */

code {
    white-space: nowrap;
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    font-size: $font-size-small;
}

pre {
    border-left: 5px solid $bring-green;
    background-color: $background-grey;
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    font-size: $font-size-small;
    padding-top: $spacing / 2;
    padding-right: $spacing;
    padding-bottom: $spacing / 2;
    padding-left: $spacing;
    overflow:auto;

    &.highlight {
        padding: 0;
        border: 0;
        max-height: 350px;
    }

    code {
        white-space: pre;
        font-size: 12px;
    }
}

// force non-white background color for code blocks in markdown (e.g., blog)
.highlighter-rouge pre.highlight code.hljs {
    background-color: $background-light;
}

.nowrap {
    white-space: nowrap;
}
