
/* ------------------------------------------------------- 
*   # LINKS
------------------------------------------------------- */

a {
    text-decoration: none;
    color: $color-links;
    &:hover,
    &:focus{
        outline: none;
        text-decoration: underline;
    }
}
