
/* ------------------------------------------------------- 
*   # CODE
------------------------------------------------------- */

code {
    white-space: nowrap;
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 14px;
    background-color: $background-grey;
    padding: 0 0.25em;
}

pre code {
    white-space: pre;
}

pre {
    border-left: 5px solid $bring-green;
    background-color: $background-grey;
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 14px;
    padding-top: $inuit-base-spacing-unit / 2;
    padding-right: $inuit-base-spacing-unit;
    padding-bottom: $inuit-base-spacing-unit / 2;
    padding-left: $inuit-base-spacing-unit;

    &.highlight {
        padding: 0;
        border: 0;
    }
}
