/* These are the buttons you are looking for
 *
 * If you need to tweak the style for your specific component,
 * module or page, please create a .mod-[modifier] class in that stylesheet to
 * handle those needs. These styles should be general enough for any component
 * to use it.
 */

.button {
  background-color: $grey-dark-1;
  border: none;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: 'FoundryMonoline', sans-serif;
  @include font-size($font-size-button-desktop);
  font-weight: bold;
  line-height: 1;
  margin: 0 0 8px 0;
  padding: 18px 52px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  top: 0;

  &.green {
    background-color: $green-1;
    color: $grey-dark-4;

    &:hover, &:focus {
      background-color: $green-hover;
      color: $white;
    }
  }

  &.transparent-light,
  &.transparent-dark {
    background-color: transparent;
    &:hover {
      text-decoration: underline;
    }
  }

  &.transparent-light {
    border: 5px solid $grey-light-1;
    color: $white;
  }

  &.transparent-dark {
    border: 5px solid $grey-dark-1;
    color: $grey-dark-1;
  }

  &.white {
    color: $grey-dark-1;
    background-color: $white;
  }

  &.wide {
    min-width: 320px;
  }

  &:hover, &:focus {
    background-color: $grey-dark-4;
  }
}

.round-button {
  display: inline-block;
  font-size: 2rem;
  margin: .75em 1em 0 0;
  color: $grey-dark-1 !important;
  text-transform: uppercase;
  font-weight: lighter;
  @include font-size(14);

  &::before {
    box-sizing: border-box;
    content: '';
    display: block;
    float: left;
    height: 41px;
    margin: -.5em .5em 0 0;
    width: 41px;
  }

  &:hover, &:focus {
    color: $grey-dark-0 !important;
  }
}

.round-button.mod-download {
  &::before {
    background: url(../img/icons/icon-sprite-circles.png) -100px 0;
  }
  &:hover::before {
    background-position: -150px 0;
  }
}

.round-button.mod-read-more {
  &::before {
    background: url(../img/icons/icon-sprite-circles.png) 0 0;
  }
  &:hover::before {
    background-position: -50px 0;
  }
}

@include retina {
  .round-button.mod-download,
  .round-button.mod-read-more {
    &::before {
      background-image: url(../img/icons-2x/icon-sprite-circles.png);
      background-size: 191px;
    }
  }
}

@include phone {
  .button {
    @include font-size($font-size-button-phone);
    width: 100%;
    &.wide {
      min-width: inherit;
    }
  }
}

// Easy to use shortcuts for web editors
a.download {
  @extend .round-button;
  @extend .round-button.mod-download;
}

a.read-more.mod-large {
  @extend .round-button;
  @extend .round-button.mod-read-more;
}

.read-more.mod-blue {
  background: transparent url('../img/blue-circle-arrow.png') no-repeat left center;
  background-size: 15px 15px;
  text-decoration: none;
  padding-left: 25px;
  margin-right: 10px;
}

// Deprecated - use .read-more.mod-blue
.read-more { @extend .read-more.mod-blue; }
