
/* ------------------------------------------------------- 
*   # .COLLAPSIBLE
*
*   A component for toggling if something is displayed.
------------------------------------------------------- */

.collapsible {

}

.collapsible__toggler {
    background-color: $color-branding;
    color: $white;
    display: block;
    padding: $spacing / 2;
}

.collapsible__toggler:hover {
    background-color: $dark-grey;
}

.collapsible__toggler--collapsed {

}

.collapsible__toggler--expanded {

}

.collapsible__item {

}

.collapsible__item--collapsed {
    display: none;
    visibility: hidden;
}

.collapsible__item--expanded {

}
