
/* ------------------------------------------------------- 
*   # .SITEHEADER
*
------------------------------------------------------- */

.siteheader {
    padding: $inuit-base-spacing-unit/4 0;
    background-color: $dark-grey;
}

.siteheader-logo {
    max-width: 150px;
}
