
.zero-clipboard {
    display: block;
    position: relative;
}

.zero-clipboard__btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: $spacing/4 $spacing/2;
    cursor: pointer;
    font-size: $font-size-small;

    &:hover,
    &.zeroclipboard-is-hover {
        color: $white;
        background-color: $color-branding;
    }
}
