
/* ------------------------------------------------------- 
*   # .APIFLOCK
*
*   Collection of APIs presented on the front page
------------------------------------------------------- */

.apiflock {
    
}

.apiflock__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.apiflock__item {
    display: flex;
    a {
        color: $color-text;
    }
    h2 {
        margin-bottom: $spacing/2;
    }
}

.apiflock__icon {
    width: 70px;
    height: 50px;
    margin-bottom: 1em;
}

.apiflock__link {
    display: block;
    width: 18em;
    padding: $spacing;
    line-height: 1.2;
    border: 3px solid $background-grey;
    text-align: center;
}

.apiflock__link:hover {
    border: 3px solid $background-dark;
}

.apiflock__link--tracking {background-image: url('../img/icons/tracking.svg');}
.apiflock__link--shippingguide {background-image: url('../img/icons/shippingguide.svg');}
.apiflock__link--booking {background-image: url('../img/icons/booking.svg');}
.apiflock__link--pickuppoint {background-image: url('../img/icons/pickuppoint.svg');}
.apiflock__link--reports {background-image: url('../img/icons/reports.svg');}
.apiflock__link--purchaseorder {background-image: url('../img/icons/purchaseorder.svg');}
.apiflock__link--easyreturn {background-image: url('../img/icons/easyreturn.svg');}
.apiflock__link--postalcode {background-image: url('../img/icons/postalcode.svg');}
