/* -------------------------------------------------------
*   # .API
*
------------------------------------------------------- */

.api {
    border-left: 2px solid $background-grey;
    border-right: 2px solid $background-grey;
    padding-top: $spacing;
    padding-bottom: $spacing * 2;
}

.api__section {
    margin-top: $spacing;
    padding-bottom: $spacing;
    border-bottom: 2px solid $background-grey;
    padding-left: $spacing * 2;
    padding-right: $spacing * 2;
}

.api__section:last-of-type {
    border-bottom: none;
}

.api__title {
    color: $color-branding;
    @include media-query(lap-and-up) {
        font-size: 4em;
    }
}

.api__url {
  margin-bottom: $spacing * 2;
}

.api__params {
  margin-bottom: $spacing * 2;
}
