
/* ------------------------------------------------------- 
*   # .WELCOME
*
*   Site intro and top boxes on the front page
------------------------------------------------------- */

.welcome {
    background-color: $background-grey;
    padding: $spacing 0;
    margin-bottom: $spacing*2;
    text-align: center;
    a {
        color: $color-text;
    }
}

.welcome__title {
    font-size: 4.2em;
    color: $color-branding;
    margin-bottom: 0.2em;
}

.welcome__tagline {
    font-size: $inuit-base-font-size;
    font-weight: normal;
    margin-bottom: $spacing;
}

.welcome__item {

    h2 {
        margin-bottom: $spacing/4;
    }

    img {
        max-height: 100px;
    }

    @include media-query(lap-and-up) {

        img {
            max-width: 200px;
            max-height: none;
            margin-bottom: $spacing/2;
        }
    }
}

.welcome__link {
    display: block;
    padding: $spacing;
}
