
/* ------------------------------------------------------- 
*   # .APIMENU
*
*   Navigation in APIs for sidebar on api pages
------------------------------------------------------- */

.apimenu {
    a {
        color: $color-text;
    }
}

.apimenu__list {
    list-style-type: none;
    margin-left: 0;
}

.apimenu__item {
    margin-bottom: 1em;
    h3 {
        margin-bottom: 0.25em;
    }

}

.apimenu__sublist {
    list-style-type: none;
    margin-left: 0;
}


    // .menu {
    //     list-style-type: none;
    //     padding-left: 0;
    //     line-height: 1.2;
    // }

    // .menu-pagetitle {
    //     margin-bottom: 0;
    //     border-top: 2px solid $background-grey;
    // }

    // .menu-pagetitle a {
    //     display: block;
    //     padding: 0.4em 0.7em;
    //     color: $dark-grey;
    // }

    // .menu-pagetitle a:hover {
    //     background-color: $background-grey;
    // }

    // .menu-sub {
    //     list-style-type: none;
    //     padding-left: 0;
    //     margin-bottom: 2em;
    // }

    // .menu-moarstuff {

    // }

    // .menu-moarstuff a {
    //     display: block;
    //     padding: 0.4em 0.7em;
    //     color: $dark-grey;
    // }
 
    // .menu-moarstuff a:hover {
    //     background-color: $background-grey;
    // }