
/* ------------------------------------------------------- 
*   # .CODETABS
*
*   Styling for narrow tabs.
------------------------------------------------------- */

.codetabs {
    list-style-type: none;
    margin: 0;
}

.codetabs__item {
    display: inline-block;
    position: relative;

}

.codetabs__item:not(.active) {
    background-color: $background-grey;
    top: 0;
}

.codetabs__item.active {
    border-top: 5px solid $bring-green;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    top: 1px;
    background-color: $white;
}

.codetabs__link {
    display: inline-block;
    padding: 0 2em;
    padding-top: $inuit-base-spacing-unit/2;
    padding-bottom: $inuit-base-spacing-unit/2;
    color: $dark-grey;
}

.codetabs__content {
    padding-top: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;
    padding-left: $inuit-base-spacing-unit;
    border: 1px solid #ccc;
}

.codetabs__panel {

}

.codetabs__panel:not(.active) {
    display: none;
}
