
/* ------------------------------------------------------- 
*   # .SITEHEADER
*
------------------------------------------------------- */

.siteheader {
    padding: $inuit-base-spacing-unit/4 0;
    border-bottom: 2px solid $background-grey;
}

.siteheader-logo {
    max-width: 150px;
}
