
/* ------------------------------------------------------- 
*   # .APIFLOCK
*
*   Collection of APIs presented on the front page
------------------------------------------------------- */

.apiflock {
    
}

.apiflock__list {
    
}

.apiflock__item {
    a {
        color: $color-text;
    }
    h2 {
        margin-bottom: 0.5em;
    }
}

.apiflock__link {
    display: block;
    padding: 80px 10px 10px 10px;
    line-height: 1.2;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-size: 70px;
    border: 1px solid #fff;
}

.apiflock__link:hover {
    border: 1px solid #eee;
}

.apiflock__link--tracking {background-image: url('../img/icons/tracking.svg');}
.apiflock__link--shippingguide {background-image: url('../img/icons/shippingguide.svg');}
.apiflock__link--booking {background-image: url('../img/icons/booking.svg');}
.apiflock__link--pickuppoint {background-image: url('../img/icons/pickuppoint.svg');}
.apiflock__link--reports {background-image: url('../img/icons/reports.svg');}
.apiflock__link--purchaseorder {background-image: url('../img/icons/purchaseorder.svg');}
.apiflock__link--easyreturn {background-image: url('../img/icons/easyreturn.svg');}
.apiflock__link--postalcode {background-image: url('../img/icons/postalcode.svg');}
