
/* -------------------------------------------------------
*   # .SITEFOOTER
*
------------------------------------------------------- */


.sitefooter {
    background-color: #222;
    padding: $spacing *2 0 0.5rem;
    color: #fff;
    width: 100%;
    a {
        color: #fff;
    }
    a:hover {
        color: #ccc;
    }
}

.sitefooter-links {
    list-style-type: none;
    li {
        margin-right: 2em;
    }
}

.sitefooter-nav {
    margin-bottom: 2rem;
    font-weight: 600
}
