
/* ------------------------------------------------------- 
*   # TABS
*
*   Most of this stuff comes from Twitter Bootstrap.
------------------------------------------------------- */


ul.tabs::after,
ul.tabs::before {
    display: table;
    content: " ";
}


ul.tabs {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0; 
    list-style: none;
    border-bottom: 1px solid $grey-light-3;

    > li {
        position: relative;
        display: block;
        float: left;
        padding: 0;
        /* Make the list-items overlay the bottom border */
        margin-bottom: -1px;

        &:before {
            /* hide dot before list element */
            display: none;
        }

        > a {
            position: relative;
            display: block;
            padding: 4px 25px;
            margin-right: 2px;
            border: 1px solid transparent;
            color: $grey-dark-1;

            &:hover {
                text-decoration: none;
                border-color: $grey-light-4 $grey-light-4 $grey-light-4;
            }

            &:focus {
                text-decoration: none;
                background-color: $grey-light-hover;
            }

        }

        /* Active state, and its :hover to override normal :hover */
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $green-1;
                background-color: $white;
                border: 1px solid $grey-light-3;
                border-bottom-color: transparent;
                cursor: default;
            }
        }

        /* Disabled state sets text to gray and nukes hover/tab effects */
        &.disabled > a {
            color: $grey-standard;

            &:hover,
            &:focus {
                color: $grey-light-1;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }
        }
    }

    .dropdown-menu {
        /* make dropdown border overlap tab border */
        margin-top: -1px;
    }

    /* Open dropdowns */
    .open > a {
        &,
        &:hover,
        &:focus {
            background-color: $grey-light-hover;
            border-color: $link-color;
        }
    }

    /* prevent IE8 from misplacing imgs */
    /* See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989 */
    > li > a > img {
        max-width: none;
    }

    &.justified {
        width: 100%;
        border-bottom: 0;

        > li {
            float: none;
            > a {
                text-align: center;
                margin-bottom: 5px;
                margin-right: 0;
                border-radius: 4px;
            }

            &.active {
                a,
                a:hover,
                a:focus {
                    border: 1px solid $grey-light-3;
                }
            }
        }

        > .dropdown .dropdown-menu {
            top: auto;
            left: auto;
        }

        @media (min-width: $screen-size-small-width) {
            > li {
                display: table-cell;
                width: 1%;
                > a {
                    margin-bottom: 0;
                }
            }
        }

        @media (min-width: $screen-size-small-width) {
            > li > a {
                border-bottom: 1px solid $grey-light-3;
                border-radius: 4px 4px 0 0;
            }
            > li.active > a,
            > li.active > a:hover,
            > li.active > a:focus {
                border-bottom-color: $white;
            }
        }
    }
}


ul.pills {
    margin-bottom: 0;
    padding-left: 0; /* Override default ul/ol */
    list-style: none;

    > li {
        position: relative;
        display: block;
        float: left;
        padding: 0;

        &:before {
            display: none;
        }

        /* Links rendered as pills */
        > a {
            position: relative;
            display: block;
            padding: 4px 25px;
            border-radius: 4px;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: lighten($green-1, 25%);
                color: $grey-dark-1;
            }
        }

        /* Disabled state sets text to gray and nukes hover/tab effects */
        &.disabled > a {
            color: $grey-standard;

            &:hover,
            &:focus {
                color: $grey-light-1;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }
        }

        + li {
            margin-left: 2px;
        }

        /* Active state */
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $white;
                background-color: $green-1;
            }
        }
    }

    &.stacked {
        > li {
            float: none;
            + li {
                margin-top: 2px;
                margin-left: 0; /* no need for this gap between nav items */
            }
        }
    }

    &.justified {
        width: 100%;

        > li {
            float: none;
            > a {
                text-align: center;
                margin-bottom: 5px;
            }
        }

        > .dropdown .dropdown-menu {
            top: auto;
            left: auto;
        }

        @media (min-width: $screen-size-small-width) {
            > li {
                display: table-cell;
                width: 1%;
                > a {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* Hide tabbable panes to start, show them when `.active` */
.tab-content {
    background-color: $white;
    border-left: 1px solid $grey-light-3;
    border-right: 1px solid $grey-light-3;
    border-bottom: 1px solid $grey-light-3;
    margin-bottom: 1.5em;

    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
    :last-child {
        margin-bottom: 0;
    }
}
