
/* ------------------------------------------------------- 
*   # .APIMENU
*
*   Navigation in APIs for sidebar on api pages
------------------------------------------------------- */

.apimenu {
    background-color: $background-grey;
    padding-top: $inuit-base-spacing-unit;
    padding-bottom: $inuit-base-spacing-unit;

    a {
        color: $color-text;
        display: block;
        padding-left: $inuit-base-spacing-unit;
        padding-right: $inuit-base-spacing-unit;        
        padding-top: $inuit-base-spacing-unit / 4;
        padding-bottom: $inuit-base-spacing-unit / 6;   
    }
    a:hover {
        background-color: $background-dark;
    }
}

.apimenu__list {
    list-style-type: none;
    margin-left: 0;
}

.apimenu__item {
    margin-bottom: $inuit-base-spacing-unit;
}

.apimenu__sublist {
    list-style-type: none;
    margin-left: 0;
    line-height: 1.5;

    .active {
        border-left: 1px solid $bring-green;
    }
}

@media screen and (min-width: 700px) and (min-height: 500px) {
    .apimenu--stick {
        position: fixed;
        top: 0;
        width: 300px;
    }
}
