/* ------------------------------------------------------- 
*   # .API
*
------------------------------------------------------- */

.api {
    border-left: 2px solid $background-grey;
    border-right: 2px solid $background-grey;
    padding-top: $inuit-base-spacing-unit * 2;
    padding-bottom: $inuit-base-spacing-unit * 2;
}

.api__section {
    margin-top: $inuit-base-spacing-unit;
    padding-bottom: $inuit-base-spacing-unit;
    border-bottom: 2px solid $background-grey;
    padding-left: $inuit-base-spacing-unit * 2;
    padding-right: $inuit-base-spacing-unit * 2;
}

.api__section:last-of-type {
    border-bottom: none;
}
