
/* ------------------------------------------------------- 
*   # .APIRESPONSE
*
*   Styling for response tabs
------------------------------------------------------- */

.apiresponse {
    list-style-type: none;
    margin: 0;
}

.apiresponse__item {
    display: inline-block;
    position: relative;

}

.apiresponse__item:not(.active) {
    background-color: $background-grey;
    top: 0;
}

.apiresponse__item.active {
    border-top: 5px solid $bring-green;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    top: 1px;
    background-color: $white;
}

.apiresponse__link {
    display: inline-block;
    padding: 0 2em;
    padding-top: $inuit-base-spacing-unit/2;
    padding-bottom: $inuit-base-spacing-unit/2;
    color: $dark-grey;
}

.apiresponse__content {
    padding: $inuit-base-spacing-unit;
    border: 1px solid #ccc;
}

.apiresponse__panel {

}

.apiresponse__panel:not(.active) {
    display: none;
}
