
/* ------------------------------------------------------- 
*   # .COLLAPSIBLE
*
*   A component for toggling if something is displayed.
------------------------------------------------------- */

.collapsible {

}

.collapsible__toggler {
    background-color: $color-branding;
    color: $dark-grey;
    font-weight: bold;
    display: block;
    padding: $spacing / 2;
}

.collapsible__toggler:hover {
    background-color: $dark-grey;
    color: #fff;
}

.collapsible__toggler::after {
    font-size: 2em;
    position: relative;
    top: -0.3em;
    right: 0.3em;
    color: rgba(0,0,0,0.2);
    float: right;
    transition: transform 0.2s ease 0s;
}

.collapsible__toggler--collapsed::after {
    content: "▾";
}

.collapsible__toggler--expanded::after {
    content: "▾";
    transform: rotate(-180deg);
}

.collapsible__toggler:hover::after {
    color: $white;
}

.collapsible__item {
    padding: $spacing / 2;
}

.collapsible__item--collapsed {
    display: none;
    visibility: hidden;
}

.collapsible__item--expanded {

}
