
/* ------------------------------------------------------- 
*   # .SITEMENU
*
*   Navigation in sidebar on pages
------------------------------------------------------- */

.sitemenu {
    background-color: $background-grey;
    padding-top: $spacing;
    padding-bottom: $spacing;
    margin-top: $spacing;

    a {
        color: $color-text;
        display: block;
        padding-left: $spacing;
        padding-right: $spacing;
        padding-top: $spacing / 4;
        padding-bottom: $spacing / 6;
        transition: background 0.1s ease 0s;
    }
    a:hover {
        background-color: rgba(0,0,0,0.1);
    }

    // this is the same as @include media-query(desk) + and min-height
    @media screen and (min-width: 64em) and (min-height: 500px) {
        margin-right: $spacing;
    }
}

.sitemenu__apititle {
    a {
        line-height: 1;
        padding-top: $spacing / 2;
        padding-bottom: $spacing / 2;
    }
}

.sitemenu__separator {
    border-bottom: 1px solid $medium-grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sitemenu__sublist {
    line-height: 1.3;
    margin-bottom: $spacing;

    .active {
        border-left: 3px solid $bring-green;
        text-indent: -3px;
    }
}

