
// APILIST displays a collection of APIs

.page-body {

    .apilist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .apilist-item {
        display: inline-block;
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .apilist-link {
        display: inline-block;
        padding: 6em 2em 0 2em;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center 2em;
    }

    .apilist-link_tracking {background-image: url('../img/icons/tracking.png');}
    .apilist-link_shippingguide {background-image: url('../img/icons/shippingguide.png');}
    .apilist-link_booking {background-image: url('../img/icons/booking.png');}
    .apilist-link_pickuppoint {background-image: url('../img/icons/pickuppoint.png');}
    .apilist-link_reports {background-image: url('../img/icons/reports.png');}
    .apilist-link_purchaseorder {background-image: url('../img/icons/purchaseorder.png');}
    .apilist-link_easyreturn {background-image: url('../img/icons/easyreturn.png');}
    .apilist-link_postalcode {background-image: url('../img/icons/postalcode.png');}

    .apilist-title {
        margin-bottom: 0.25em;
        line-height: 1.1;
    }

    .apilist-descr {
        line-height: 1.3;
    }

}

// MENU for the sidebar

.page-body {

    .menu {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.2;
    }

    .menu-pagetitle {
        margin-bottom: 0;
        border-top: 2px solid $background-grey;
    }

    .menu-pagetitle a {
        display: block;
        padding: 0.4em 0.7em;
        color: $dark-grey;
    }

    .menu-pagetitle a:hover {
        background-color: $background-grey;
    }

    .menu-sub {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 2em;
    }

    .menu-moarstuff {

    }

    .menu-moarstuff a {
        display: block;
        padding: 0.4em 0.7em;
        color: $dark-grey;
    }
 
    .menu-moarstuff a:hover {
        background-color: $background-grey;
    }

}
