// needed for the foundation to work
meta.foundation-version {
  font-family: "/{{ VERSION }}/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

.not-exist {
	padding: 100px 0;
	h1 {
		font-weight: bold;
		margin-bottom: 12px; 
	}
	figure {
		text-align: center;
		margin-bottom: 40px;
	}
	.editor {
		max-width: 700px;
		margin: 0 auto;
		p {
			@include font-size($font-size-paragraph-desktop);
		}
	}
}

.terms {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 55px $container-horizontal-margins;
	form {
		text-align: center;
		.selector {
			width: 50%;
		}
	}

	.preface {
		@include font-size($font-size-ingress-desktop);
		text-align: center;
	}

	#dynamic-content {
		opacity: 0;
		padding-top: 45px;
		transition: opacity 0.2s ease-out;
		&.show {
			opacity: 1;
		}
	}
}

.terms-content {
	max-width: 728px;
	padding-top: 0;
	.heading {
		font-family: 'FoundryMonolineMedium';
		@include font-size($font-size-paragraph-desktop);
		margin-bottom: 22px;
		a {
			color: $link-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	ul {
		margin-bottom: 25px;
		margin-top: -10px;
	}
	li {
        // margin-left: -24px;
        margin-bottom: 10px;
        padding-left: 24px;
        position: relative;
        a {
        	color: $link-color;
	        font-family: 'FoundryMonolineMedium';
	        @include font-size($font-size-paragraph-desktop);
          line-height: 1.5;
	        text-decoration: none;
	        &:hover {
				text-decoration: underline;
			}
        }
        &:before {
            color: $grey-light-3;
            content: "•";
            font-size: 36px;
            font-family: Arial;
            line-height: 0.5;
            position: absolute;
            top: 3px;
            left: 0;
        }
    }
}

.more-scroller {
	bottom: 40px;
	display: block;
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 120px;
	text-decoration: none;
	p {
		font-weight: bold;
		text-transform: uppercase;
	}
	.arrow.down {
		display: inline-block;
		margin-top: 10px;
		width: 30px;
		height: 30px;
		border: 4px solid #a3acaa;
		border-radius: 20px;
		background: transparent url('../img/dropdown-arrow-lo.png') no-repeat center;
		background-size: 23px 15px;
	}

	&.light {
		.arrow.down {
			background-image: url('../img/dropdown-arrow-white-lo.png');
		}
	}	
}

// Round green number
span.number {
	font-family: 'FoundryMonoline';
	@include font-size(24);
	font-style: italic;
	color: $white;
	background-color: $green-1;
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
	padding: 11px 0;
	line-height: 1;
	text-indent: -2px;
  	box-sizing: border-box;
	border-radius: 25px;
}


.partner-list {
	li {
		display: inline;
	}
	li:nth-child(6n):after { content:"\A"; white-space:pre; }
	background-color: $white;
	padding: 45px 0;
	.container {
		max-width: $container-max-width;
		margin: 0 auto;
		text-align: center;
		@include clearfix();
		> p {
			color: $grey-standard;
			@include font-size($font-size-paragraph-desktop);
			font-weight: lighter;
			margin-bottom: 20px;
		}
	}
	a {
		display: inline-block;
		width: 128px;
		height: 50px;
		padding: 8px 12px;
		img {
			vertical-align: middle;
			width: 100%;
			height: auto;
			transition: opacity 0.2s ease-out;
		}
		img.hover {
			opacity: 0;
			margin-left: -128px;
		}
		&:hover {
			img {
				opacity: 0;	
			}
			img.hover {
				opacity: 1;	
			}
			
		}
	}
}


.category {
	position: relative;
	margin-bottom: 25px;
	> p {
		margin-bottom: 44px;
		text-align: center;
	}

	> h2 {
		line-height: 1;
		margin-bottom: 18px;
		a {
			color: $grey-dark-1;
			display: inline-block;
			margin-left: 66px;
			text-decoration: none;
			&::after {
				background: $white url('../img/arrow-grey-right-small-lo.png') no-repeat center;
				content: "";
				display: inline-block;
				margin-left: 22px;
				margin-top: -2px;
				height: 44px;
				vertical-align: middle;
				width: 44px;
				border-radius: 22px;
			}
		}
	}
}

/*------------------------------------*\
	#BREADCRUMB
\*------------------------------------*/

.breadcrumb {
	@include font-size($font-size-breadcrumb-desktop);
	padding-bottom: 20px;
	-webkit-transform: translateZ(0);
	> a {
		background: transparent url('../img/arrow-green-left-hi.png') no-repeat left center;
		background-size: 13px 15px;
		color: $grey-dark-1;
		font-family: 'FoundryMonoline';
		text-decoration: none;
		padding-left: 25px;
		line-height: 2;
		margin-right: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	> span {
		font-family: 'FoundryMonoline';
		font-style: italic;
		color: $green-1;
		padding-left: 20px;
	  	position: relative;

	  	&:before {
		  color: $grey-light-8;
		  content: "•";
		  font-size: 26px;
		  font-family: Arial, sans-serif;
		  line-height: 0.5;
		  position: absolute;
		  left: 2px;
		  top: 3px;
		}
	}
	&.center {
		text-align: center;
	}
	&.drag-up {
		margin-top: -36px;
	}
	&.drag-down {
		margin-bottom: -85px;
	}
	&.white {
		background-color: $white;
	}
	&.stand-alone {
		padding-top: 50px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		padding-bottom: 5px;
	}
	&.no-padding-top {
		padding-top: 0;
	}
}

// todo: rewrite this, use non retina as standard, and switch to retina, means what is under can be removed

.no-backgroundsize {
	.breadcrumb {
		> a {
			background: transparent url('../img/arrow-grey-left-lo.png') no-repeat left center;
		}
		> span {
			background: transparent url('../img/small-dark-grey-dot-lo.png') no-repeat left center;
		}
	}
}

.product-list {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 $container-horizontal-margins 55px;
	h1 {
		margin-bottom: 22px;		
	}
	.breadcrumb {
		padding-top: 20px;
	}
}

/*------------------------------------*\
    #ARTICLE LIST
\*------------------------------------*/

.article-list {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 $container-horizontal-margins;
	position: relative;
	overflow: hidden;
	.box.third {
		border: 1px solid $grey-light-4;
	}
}

.article-entrance {
	figure {
		text-align: center;
		&.top-image {
			margin-bottom: 40px;
			margin-top: 25px;
		}
	}
}

#articles {
	h1 {
		margin-top: 50px;
		margin-bottom: 40px;
	}
}

/*------------------------------------*\
    #ARTICLE
\*------------------------------------*/

.article.top-image {
	background-position: center;
	background-size: cover;
	height: 900px;
	background-repeat: no-repeat;
	position: fixed; 
	width:100%;
	z-index: -1;
	top: 0;
	left: 0;
}

article.article {
	position: relative;
	overflow: hidden;

	// this is a trick to hide the fixed top image
	.grey-image-blocker {
		background-color: $grey-light-5;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 805px;
	}

	.meta {
		border-top: $grey-standard 1px solid;
		border-bottom: $grey-standard 1px solid;
        @include font-size(15);
        font-weight: bold; 
        font-family: 'FoundryMonoline'; 
        margin-bottom: 40px;
        padding: 15px 0;
        span, time {
        	color: $green-1;
        }
        time {
        	margin-right: 10px;
        }
        span.label {
        	color: $grey-dark-1;
        	text-transform: capitalize;
        }
	}

	.top-image {
		background-position: center;
		background-size: cover;
		height: 805px;
		background-repeat: no-repeat;
	}

	.container {
		max-width: $container-max-width;
		margin: 340px auto 40px;
		padding: 65px 11%;
		background: $white;
		width: $container-width;
	  	box-sizing: border-box;
		position: relative;
		z-index: 1;
	}

	.top-image + .container {
		margin-top: -510px	
	}

	h1 {
		margin-bottom: 30px;
	}

	.preface {
		text-align: center;
		p {
			@include font-size($font-size-ingress-desktop);
			font-weight: lighter;
			line-height: 1.5;
		}
	}
	&.section {
		background-color: white;
		.container {
			margin-top: 0px;
			max-width: $container-tight-max-width;
			padding: 70px $container-horizontal-margins;
		}
	}
}


/*------------------------------------*\
    #ONEPAGER
\*------------------------------------*/

.onepager {

	img.transition-image {
		width: 100%;
		display: block;
	}

	section {

		.ingress, .preface {
			// padding-top: 20px;
			// p {
			// 	max-width: 700px;
			// 	margin: 0 auto 30px;
			// 	&.wide, &.editor-p-center {
			// 		max-width: $container-max-width;
			// 		img {
			// 			height: auto;
			// 			max-width: 100%;
			// 		}	
			// 	}
			// }
		}
		
		.box-entrances {
			max-width: $container-max-width;
			margin: 0 auto;
			@include clearfix();
		}

		&.nopadding-top .container {
			padding-top: 0;
		}
		&.nopadding-bottom .container {
			padding-bottom: 0;
		}
		&.nopadding-top-and-bottom .container {
			padding-top: 0;
			padding-bottom: 0;
		}
		
	}

	.image-stripe {
		position: relative;
		overflow: hidden;
		width: 100%;
		img {
			position: absolute;
		    top: -9999px;
		    bottom: -9999px;
		    left: -9999px;
		    right: -9999px;
		    margin: auto;
		}
	}

	// TODO: see if this can be generalized more
	.onepage-nav {
		padding: 20px 0 0;
		display: block;
		text-align: center;
		li {
			display: inline-block;
			margin-right: 40px;
			margin-bottom: 15px;
			a {
				color: $grey-dark-1;
				display: block;
				font-family: 'FoundryMonolineMedium';
				@include font-size($font-size-paragraph-desktop);
				line-height: 1.5;
				text-transform: uppercase;
				text-decoration: none;
			}
			&.active {
				border-bottom: 1px solid $green-1;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/*------------------------------------*\
    #JOB PAGES
\*------------------------------------*/
#easycruit {
	h1 {
		padding-bottom: 30px;
	}
	table {
		thead {
			cursor: pointer;
		}
		thead tr {
			height: 45px;
			& th {
				&.sorting_desc {
					background: $grey-dark-1 url('../img/arrow-white-down.png') no-repeat 98%;
					background-size: 16px 10px;
				}
				&.sorting_asc {
					background: $grey-dark-1 url('../img/arrow-white-up.png') no-repeat 98%;
					background-size: 16px 10px;
				}
				vertical-align: middle;
			}
		}
		width: 100%;
		th:first-child, tr td:first-child  {
			padding-left: 10px;
		}
		tbody {
			& tr {
				height: 40px;
				& td {
					vertical-align: bottom;
				}
			}
		}
	}
}

.image-with-text {
	position: relative;
	img {
		height: auto;
		width: 100%;
		vertical-align: bottom;
	}
	.editor {
		position: absolute;
	}
}


@include phone {
	span.number {
		@include font-size(18);
		height: 36px;
		padding: 9px 0;
		width: 36px;
	}

	article.article {
		.container {
			margin-top: 10px; 
			margin-bottom: 10px;
		}
		.image-thingy {
			padding: 15% 0;
		}
		.top-info {
			width: 75%;
			p {
				@include font-size(16);
			}
		}
		.detailed-info {
			max-width: $container-max-width;
			margin: 0 auto;
			padding: 60px $container-horizontal-margins;
			.editor {
				width: initial;
				p, a {
					@include font-size(16);
				}
			}
		}

	}

	.article-list {
		&.three-max {
			a:first-child {
				width: 100%;
				height: auto;
				figure {
					max-height: 316px;
				}
				h2 {
					padding: 3.19% 3.19% 0;
				}

				p {
					padding: 0 3.19% 3.19%;
				}
			}
			a:nth-of-type(even) {
				margin-right: 2.29%;
			}
			a:nth-of-type(odd) {
				margin-right: 0;
			}
		}
	}

	.terms {
		form {
			.selector {
				width: 100%;
			}
		}
	}
	#easycruit {
		table {
			thead tr {
				& th {
					&.sorting_desc, &.sorting_asc {
						background-image: none;
					}
				}
			}
		}
	}
}


@include retina {
	.partner-list {
		li:nth-child(6n):after { content:none; }
	}
}
