/* ------------------------------------------------------- 
*   # VARS
*
*   Our own variables
------------------------------------------------------- */

$inuit-base-font-size:   16px;
$inuit-base-line-height: 24px;

$main-font-family: Helvetica, Arial, sans-serif;

$font-size-small: 14px;


/* ------------------------------------------------------- 
   Colors
------------------------------------------------------- */

// Everything green
$bring-green: #7bc144;
