// WIP and hacks and temporary styles and overrides 
// that need attention later 

.tmp-banner {
  max-width: 100%;
  margin-bottom: 10px;
}

.tmp-linelengtminimizer {
  max-width: 40em;
}


// direct overrides of the web guidelines

.page-header {
  background-color: #fff; 
}

.page-header .page-content-container {
	margin-bottom: 0;
}



