// WIP and hacks and temporary styles and overrides 
// that need attention later 

.tmp-banner {
    max-width: 100%;
    margin-bottom: 10px;
}

.tmp-linelengtminimizer {
    max-width: 40em;
}

img {
	max-width: 100%;
}

.tmp-button {
    text-align: center;
    display: block;

   .tmp-iconstuffs {
       max-width: 50%;
       margin: 0 auto 10px auto;
   }

    h2 {
        margin-bottom: 10px;
    }
}

// WIP new banner with text options

.bringdevbanner {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.bringdevbanner-img img {
    max-width: 100%;
    width: 100%;
}

.bringdevbanner-txt {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    bottom: 50px;
    width: 100%;

    h1 {
        font-size: 7rem;
        font-family: 'FoundryMonolineMedium';
        margin-bottom: 10px;
    }
}

// url quickfix

.page-body .icon-box-button {
    background-image: url('../img/arrow-grey-right-lo.png');
}

.page-body .icon-box-button:hover, 
.page-body .icon-box-button:active, 
.page-body .icon-box-button:focus {
    background-image: url('../img/arrow-green-right-lo.png');
}

// table stuff to put somewhere else later

.page-body {

    table {
        border-collapse: collapse;
        margin: 20px 0 50px 0;
        width: 100%;

        td, th {
            text-align: left;
            border-bottom: 1px solid #999;
            padding: 0.75rem 2rem;
        }

        em {
            font-style: italic;
        }

        p {
            margin-bottom: 10px;
        }
    }
}

thead {
    font-weight: bold;
}

.page-body table p:last-child,
.page-body table ul,
.page-body table ol {
    margin-bottom: 0;
}
