

// This is heavy documentation and needs to use
// a more legible font than the branding typeface.

.page-body {
    h3 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    div {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    p {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    a {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    strong {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    ul.default, ol.default {
        li {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }
        }
    table.linked-rows {
        td {
            a {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: normal;
            }
        }
    }
    a, button, input {
        &.button {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
    }
    input[type="text"], input[type="email"], textarea {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    label.error {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .error-message {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

// Uniform font-size plz

.page-body {

    h3 {
        font-size: 15px;
    }
    div {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }
    strong {
        font-size: 15px;
    }
    ul.default, ol.default {
        li {
            font-size: 15px;
            }
    }
    table.linked-rows {
        td {
            a {
                font-size: 15px;
            }
        }
    }
    a, button, input {
        &.button {
            font-size: 15px;
        }
    }
    input[type="text"], input[type="email"], textarea {
        font-size: 15px;
    }
    label.error {
        font-size: 15px;
    }
    .error-message {
        font-size: 15px;
    }
    div.selector span {
        font-size: 15px;
    }
    div.selector select {
        font-size: 15px;
    }

}

// …and then it makes sense to bump up the weight
// of these titles to match the heavier paragraphs.

.page-body h2 {
    font-family: 'FoundryMonolineMedium';
    font-size: 2.6rem;
    letter-spacing: -0.01em;
}

// more font family gaffa tape

article.api header.banner .overlay h1 {
    font-family: 'FoundryMonolineMedium';	
}

.nav-tabs {
    ul {
        margin-left: 20px;
        list-style-type: '— ';
    }
}
