

// This is heavy documentation and needs to use
// a more legible font than the branding typeface.

.page-body {
    p,
    a,
    li {
        font-size: 15px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #555555;
        letter-spacing: 0;
    }

    strong,
    em,
    table {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    a {
        color: $link-blue;
    }
}

// …and then it makes sense to bump up the weight
// of these titles to match the heavier paragraphs.

.page-body h2 {
    font-family: 'FoundryMonolineMedium';
    font-size: 2.6rem;
    letter-spacing: -0.01em;
}

// more font family gaffa tape

article.api header.banner .overlay h1 {
    font-family: 'FoundryMonolineMedium';	
}

.nav-tabs {
    ul {
        margin-left: 20px;
        list-style-type: '— ';
    }
}
