// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: #{$size/10}rem; // No use for rems at the moment AFAIK since base font size is always 10px.

  // Our letter spacing on all fonts should be a bit tighter than default
  // except when uppercased. Then we want to go back to normal
  // so when using this mixin within a class, you need to reset letterspacing 
  // after with letter-spacing: 0em;
  letter-spacing: -0.02em;
}
