//
// COLORS
//

$grey-light-hover: #999;

// Almost 50 shades of grey. Try to consolidate with designer
$grey-dark-4:     #222222;
$grey-dark-3:     #2b2d2f;
$grey-dark-2:     #393b3e;
$grey-dark-1:     #444444;
$grey-dark-0:     #666666;

$grey-standard:   #717074;

$grey-light-1:    #737376;
$grey-light-2:    #b2b3b5; // frequent border color
$grey-light-3:    #bfc0c4; // frequent border color
$grey-light-4:    #c9cacb;
$grey-light-5:    #f2f2f2;
$grey-light-6:    #dfdfdf;
$grey-light-7:    #f5f5f5;
$grey-light-8:    #c1c1c1;
$grey-light-9:    #f8f8f8;



$white:           #ffffff;

// Bring green
$green-dark-1:    #2d8600;
$green-1:         #7bc144;
$green-2:         #50a40e;
$green-hover:     #4ca200;

$yellow-medium:   #fdbb2f;
$yellow-light:    #fff2ab;

$red:             #e32d22;
$red-light:       #fecccc;

// Other
// Bluish. There was another color as well (# 0088b5) but consolidated into this
$link-color:      #048ebb;


//
// TYPOGRAPHY
//
// to come:
$font-size-paragraph-desktop: 18; // p, li, 
$font-size-paragraph-phone:   14;

$font-size-ingress-desktop:   24;
$font-size-ingress-phone:     18;

$font-size-button-desktop:    14;
$font-size-button-phone:      12;

$font-size-table-th-desktop:  14;
$font-size-table-td-desktop:  14;
$font-size-table-th-phone:    14;
$font-size-table-td-phone:    14;

$font-size-breadcrumb-desktop: 16;
$font-size-breadcrumb-phone:   14;


//
// SCREEN SIZES (BREAKPOINTS)
//
// Originally had 5 breakpoints, which is just too much to 
// manage in the long run: 640, 770, 960, 1050, 1280.
// Therefore we have merged into two real break points 
// throughout the site. they are phone and tablet mixins and they break at
// the screen widths below.
//
// Note that other break points may occur on special occations such as 
// the frontpage banner.
//
// see _responsive-mixins.scss for usage
$screen-size-small-width:     767px;  // phones
$screen-size-medium-width:   1050px;  // pads


// RETINA settings:
// see _responsive-mixins.scss
$retina-min-device-pixel-ratio:      1.5;
$retina-min-resolution:              2dppx;

// DEFAULT CONTAINER MARGINS AND WIDTHS
// use for consistent sizing across different container elements
$container-horizontal-margins:       4%;
$container-horizontal-margins-phone: 4%;
$container-tight-max-width:           900px;
$container-max-width:                1065px;

$container-width:                    100% - (2 * $container-horizontal-margins);

// OTHER
// css-image-path perhaps?
