<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:constretto="http://constretto.org/schema/constretto"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://constretto.org/schema/constretto
        http://constretto.org/schema/constretto/constretto-1.2.xsd">

    <constretto:configuration annotation-config="true" property-placeholder="true">
        <constretto:stores>
            <constretto:properties-store>
                <constretto:resource location="classpath:environment.properties"/>
                <constretto:resource location="classpath:featuretoggle.properties"/>
            </constretto:properties-store>
            <constretto:system-properties-store/>
        </constretto:stores>
    </constretto:configuration>

    <mvc:annotation-driven/>

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:annotation-config/>
    <context:component-scan base-package="com.bring" />

    <mvc:view-resolvers>
        <mvc:jsp
                view-class="org.springframework.web.servlet.view.JstlView"
                prefix="/WEB-INF/jsp/"
                suffix=".jsp" />
    </mvc:view-resolvers>

    <mvc:interceptors>
        <bean class="com.bring.developer.interceptor.GoogleAnalyticsIDInterceptor"/>
        <bean class="com.bring.developer.config.featuretoggle.FeatureToggleInterceptor" />
    </mvc:interceptors>

    <mvc:default-servlet-handler/>

</beans>
