<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false"
         version="3.0">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>

    <error-page>
      <error-code>500</error-code>
      <location>/WEB-INF/jsp/error/default.jsp</location>
    </error-page>

    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/WEB-INF/jsp/error/default.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>developer</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>*.xsd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/support</url-pattern>
    </servlet-mapping>

    <!-- EDI -->
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/transportinstruks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/transportinstruks/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/tolldokumenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/tolldokumenter/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/management/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/ig-for-efaktura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/ig-for-efaktura/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/statuskoder-iftsta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/statuskoder-iftsta/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/spesifikasjon-transportetikett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>developer</servlet-name>
        <url-pattern>/edi/spesifikasjon-transportetikett/</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>


</web-app>
