{{- with .data -}}
<div class="best-practice-item dev-docscontent__section">
  <div>
    <div class="tc mbm">
      {{- range .figures -}}
        <img src="{{ .imageUrl }}" alt="" class="{{ .imageClass }}"/>
      {{- end -}}
    </div>
    <h2 class="fwn">{{ .h3 }}</h2>
    {{- range .paragraphs -}}
      {{ . | safeHTML }}
    {{- end -}}
    {{- with .downloadLinks -}}
      <div class="flex mbl gas">
        {{- range . -}}
          <a href="{{ .href }}" class="btn-link--dark" download="{{ .name }}">
            <span data-mybicon="mybicon-download_file"
                  data-mybicon-class="mrxs"
            >
            </span>
            <span>{{ .linkText }}</span>
          </a>
        {{- end -}}
      </div>
    {{- end -}}
    <div class="flex flex-wrap gas">
      {{- range $tag := .tags -}}
        <span class="mb-badge">{{ $tag }}</span>
      {{- end -}}
    </div>
  </div>
  <figure>
    {{ range .illustrationImages }}
        <img src="{{ .url }}" alt="{{ .alt }}" style="margin-right: 20px; margin-bottom: 20px;"  />
    {{ end }}
  </figure>
</div>
{{- end -}}
