
article.api {

    &.booking header.banner {
        background-image: url('../img/megaheader/28-A_9328-final.jpg');
        background-position: 0 -100px, center;
    }

    &.tracking header.banner {
        background-image: url('../img/megaheader/BRING_EXPRESS_QUICKPACK_CAR_PLANE3-kopi.jpg');
        background-position: 0 -100px, center;
    }

    &.shipping-guide header.banner {
        background-image: url('../img/megaheader/1071155.jpg');
        background-position: 0 -100px, center;
    }

    header.banner {
        position: relative;

        height: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/megaheader/1071155.jpg');

        .overlay {
            height: 360px;
            background-color: rgba(0,0,0,0.4);

            h1 {
                position: absolute;
                bottom: 48px;
                width: 100%;
                text-align: center;
                color: $white;
                font-size: 7rem;
            }
        }

    }

    section h1, h2, h3 {
        margin: 0 0 0.5em 0;
    }

    .nav-tabs li:before {
        display: none;
    }

}
