
article.api {

    &.booking {
        .banner {
            .background {
                background-image: url('../img/megaheader/28-A_9328-final.jpg');
                background-position: 0 -100px, center;
            }
        }
    }

    &.tracking .banner .background {
        background-image: url('../img/megaheader/BRING_EXPRESS_QUICKPACK_CAR_PLANE3-kopi.jpg');
        background-position: 0 -100px, center;
    }

    .banner {
        position: relative;

        .background {
            height: 360px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../img/megaheader/1071155.jpg');
        }

        .content {
            margin: 0 auto;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            .container {
                max-height: 100%;
                max-width: $container-max-width;
                width: 100%;
                margin: 0 auto;
                padding: 1.5% $container-horizontal-margins;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                box-sizing: border-box;
            }
            .editor {
                margin: 0 auto 25px;
                max-width: 750px;
            }
            p {
                color: $grey-dark-1;
                @include font-size($font-size-ingress-desktop);
          font-weight: normal;
                font-family: 'FoundryMonoline';
                line-height: 1.5;
                margin-bottom: 10px;
            }
        }

        &.overlay-50, &.overlay-100 {

            &.dark {
                .content {
                    background-color: rgba(255,255,255,0.8);
                }
            }

            &.light {
                .content {
                    background-color: rgba(0,0,0,0.4);
                }
            }


            .content {
                height: 50%;
            }
        }

        &.overlay-0, &.overlay-100 {
            .content {
                height: 100%;
            }
        }

        &.light {
            .content {
                h1, h2, h3 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                a {
                    color: $white;
                }
            }
        }

        &.special {
            height: 720px;
            .content {
                width: auto;
                position: inherit;
                top: inherit;
                left: inherit;
                .container {
                    padding: 0;
                }
            }
        }

        &.white-bg {
            background-color: $white;
        }
        &.lightgrey-bg {
            background-color: $grey-light-7;
        }
        &.grey-bg {
            background-color: $grey-dark-1;
        }
        &.green-bg {
            background-color: $green-2;
        }


        
        &.bottom {
            .content .container {
                bottom: 0;
            }
        }
        &.top {
            .content .container {
                top: 0;
            }
        }

        //this is a special banner top which has integrated breadcrumb and sticky menu 
        &.special-nav {
            margin-bottom: 40px;
            .breadcrumb {
                padding-top: 0;
            }
        }
    }

    @include tablet {
        .banner {
            .content {
                p {
                    @include font-size($font-size-ingress-phone);
                }
            }
        }
    }

    @include phone {
        .banner {
            
            &.overlay-50, &.overlay-100 {
                height: auto;
                &.dark, &.light {
                    .content {
                        background-color: transparent;
                    }
                }
            }

            .background {
                height: 165px;
            }

            .content {
                div.breadcrumb {
                    a {
                        color: $grey-dark-1;
                    }
                }
                position: relative;
                top: 0;
                .container {
                    position: relative;
                    bottom: 0;
                    width: 100%;
                }
                .editor {
                    margin-bottom: 25px;
                }
                h1, h2, h3 {
                    @include font-size(20);
                    margin-bottom: 20px;
                    &.large {
                        @include font-size(26);
                    }
                    &.giant {
                        @include font-size(36);
                    }
                }
                p {
                    @include font-size($font-size-ingress-phone);
                }
            }

            &.white-bg, &.lightgrey-bg {
                .content {
                    h1, h2, h3 {
                    color: $grey-dark-1;
                    }
                    p {
                        color: $grey-dark-1;
                    }
                }
            }
            
            &.grey-bg, &.green-bg {
                .content {
                    h1, h2, h3 {
                        color: $white;
                    }
                    p {
                        color: $white;
                    }
                }
            }

            .more-scroller {
                bottom: 20px;
                position: relative;
            }
        }
    }

    .nav-tabs li:before {
        display: none;
    }

}
