/*------------------------------------*\
    # COMPONENT

    - component is the name used for 
    - sections that have some specific
    - styles and can be mixed together 
    - for onepagers service pages etc.
\*------------------------------------*/

/* Overrides for conflicts with posten geodata map*/
section.component #geodata-map .container {
	padding: 0;
}

section.component {
	position: relative;
	.container {
		max-width: $container-max-width;
		margin: 0 auto;
		padding: 50px $container-horizontal-margins;


		.maintext {
			> {
				h1, h2, h3, h4, p, ul, ol {
					max-width: 700px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 10px;
					&.expand {
						max-width: 100%;		
					}
				}
			}
		}
	}

	div.next-section {
		span { 
			background: transparent url('../img/blue-circle-arrow.png') no-repeat left center;
			background-size: 15px 15px;
		}
		a {
			background: transparent url('../img/blue-circle-arrow.png') no-repeat left center;
			background-size: 15px 15px;
			text-decoration: none;
			padding-left: 25px;
			margin-right: 10px;
		}
	}

	span.number {
		position: relative;
		left: 50%;
		margin-left: -22px;
		margin-bottom: 20px;
	}



	// Test, se if this is usable for more loose blocks that doesn't have a uniform size
	.inline-block {
		text-align: center;
		.column {
			display: inline-block;
			margin-right: 22px;

		}
	}

	// for customer service page. class used directly inside article text :(
	a.relevant-now {
		display: block;
	  	box-sizing: border-box;
		@include font-size($font-size-paragraph-desktop);
		width: 100%;
		max-width: 700px;
		border: 3px solid $grey-light-4;
		padding: 15px 15px 15px 60px;
		margin-left: auto;
		margin-right: auto;
		color: $grey-dark-1;
		background-image: url(../img/red-alert-dot-hi.png);
		background-repeat: no-repeat;
		background-position: 20px 17px;
		background-size: 24px;

		.preface { font-weight: bold; margin-right: 5px; }

		@include phone {
			@include font-size($font-size-paragraph-phone);
			background-size: 18px;
			padding-left: 50px;
		}
	}

	// creates and arrow down that binds modules together
	&.arrowdown {
		&:after {
			content: "";
			display: block;
			bottom: -32px;
			left: 50%;
			margin-left: -32px;
			position: absolute;
			width: 0;
			height: 0;
			border-left: 32px solid transparent;
			border-right: 32px solid transparent;
			border-top: 32px solid $grey-dark-1;
			z-index: 1;
		}
		&.white {
			&:after {
				border-top-color: $white;
			}
		}
		&.lightgrey {
			&:after {
				border-top-color: $grey-light-7;
			}
		}
		.green {
			&:after {
				border-top-color: $green-1;
			}
		}
	}

	/* 
		Different backgrounds 
		- white
		- lightgrey
	*/

	&.white {
		background-color: $white;
        table {
            td {
                border-color: $grey-light-7;
            }
        }
	}

	&.lightgrey {
		background-color: $grey-light-7;
        table {
            th {
                background-color: rgba(255,255,255, 0.8);
            }
            td {
                border-color: rgba(255,255,255, 0.5);
            }
            &.linked-rows {
                tr:hover {
                    background-color: rgba(255,255,255, 0.5);
                }
            }
        }
        pre {
            background-color: rgba(255,255,255, 0.8);
        }
	}

    &.green {
		background-color: $green-1;
		table {
			th, td {
				color: $grey-dark-3;
			}
			th {
				//background-color: rgba(255,255,255, 0.6);
			}
			td {
				border-color: rgba(255,255,255, 0.3);
			}
		}

		&.teeth {
			&::before {
				content: "";
				background-size: 31px 9px;
				background-repeat: repeat-x;
				height: 9px;
				background-color: transparent;
				display: block;
				position: relative;
			}

			&::before {
				background-position: -15px 1px;
				background-image: url('../img/green-jagged-edge-up-lo.png');
				top: -9px;
			}

		}

		h1, h2, p, li {
			color: $grey-dark-2;
		}
	}

	&.article-entrance {
		h1, p {
			max-width: 700px;
			margin-right: auto;
			margin-left: auto;
		}
		&.top-article-list {
			h1 {
				margin-bottom: 15px;
			}
			ul {
				margin-left: 220px;
			}
		}
		&.frontpage-article-list {
			.container {
				padding-bottom: 40px;
			}
			margin-bottom: 30px;
			h1 {
				margin-bottom: 12px;
				padding-top: 15px;
			}
		}
		.actions {
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
	&.contacts {
		h1 {
			margin-bottom: 15px;
			padding-top: 15px;
		}
	}
	&.operation-reports {
		ul {
			max-width: 700px;
			margin-right: auto;
			margin-left: auto;
			
			li {
				margin-top: 50px;	
			}
		}
		h2 {
			margin-bottom: 18px;
			line-height: 1.3em;
			font-family: 'FoundryMonolineMedium';
			time {
				float: left;
				width: 200px;
			}
			.date {
				font-weight: normal;
				margin-right: 10px;
				color: $red;
			}
			.time {
				font-family: 'FoundryMonoline';
			}
			.heading {
				margin-left: 200px;
			}
		}
		.next-section {
			max-width: 700px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 70px;
		}
	}
}

@include phone {
	section.component {
		.container {
			padding: 30px $container-horizontal-margins-phone;
		}
		span.number {
			margin-left: -18px;
		}
	}
}
