/*------------------------------------*\
    Front banner
\*------------------------------------*/

.front-banner {
	position: relative;

    .background {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        //background-image: url('../img/megaheader/1071155.jpg');
        background-image: url('../img/megaheader/35-A_9455-final-2.jpg');
    }

	.content {
        position: absolute;
		width: 100%;
        height: 50%;
        top: 25%;
		left: 0;

		.container {
            /*
			max-height: 100%;
			max-width: $container-max-width;
            width: 100%;
            height: 100%;
			margin: 0 auto;
            */
            position: absolute;
            width: 100%;
            height: 100%;
            top: 25%;
            margin: 0 auto;
			padding: 0 $container-horizontal-margins;
			text-align: center;
		  	box-sizing: border-box;
		}

		p {
			color: $grey-dark-1;
			@include font-size($font-size-ingress-desktop);
            font-weight: normal;
			font-family: 'FoundryMonoline';
			line-height: 1.5;
		}
	}

    &.dark {
        .content {
            background-color: rgba(255,255,255,0.8);
        }
    }

    &.light {
        .content {
            background-color: rgba(0,0,0,0.4);
        }
    }

	&.light {
		.content {
			h1, h2, h3 {
				color: $white;
			}
			p {
				color: $white;
			}
			a {
				color: $white;
			}
		}
	}
}

@include tablet {
	.front-banner {
		.content {
			p {
				@include font-size($font-size-ingress-phone);
			}
		}
	}
}

@include phone {
	.front-banner {
		height: auto;

		&.dark, &.light {
			.content {
				background-color: transparent;
			}
		}

		.background {
			height: 165px;
		}

		.content {
			position: relative;
			top: 0;
			.container {
				position: relative;
				width: 100%;
			}
			h1, h2, h3 {
				@include font-size(20);
				margin-bottom: 20px;
				&.large {
					@include font-size(26);
				}
				&.giant {
					@include font-size(36);
				}
			}
			p {
				@include font-size($font-size-ingress-phone);
			}
		}
	}
}

/*------------------------------------*\
    Link boxes
\*------------------------------------*/

section.front-boxes {
    position: relative;
    margin: 30px auto;

    a h2 {
        text-align: center;
    }

    a.api .article-image {
        background-image: url('../img/boxes/api.jpg');
    }

    a.edi .article-image {
        background-image: url('../img/boxes/edi.jpg');
    }

    a.support .article-image {
        background-image: url('../img/boxes/something_else.jpg');
    }

    p {
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }

    div.get-started {
        a {
            background: transparent url('../img/blue-circle-arrow.png') no-repeat left center;
            background-size: 15px 15px;
            text-decoration: none;
            padding-left: 25px;
            margin-right: 10px;
        }
    }
}
