<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  {{- if (or (in .Section "api" ) (in .Section "edi")) -}}
    <body class="dev-docslayout">
      {{ partial "header.html" . }}
      {{ block "main" . }} {{ end }}
      {{- partial "scripts.html" . -}}
    </body>
  {{- else -}}
    <body class="dev-pagelayout">
      {{ partial "header.html" . }}
      {{ block "main" . }} {{ end }}
      {{ partial "footer.html" . }}
      {{- partial "scripts.html" . -}}
    </body>
  {{- end -}}
</html>
