{{- define "main" -}}
  <main id="main" class="dev-docscontent w100p">
    <article>
      <h1>
        {{- .Title -}}
      </h1>
      {{- $requestedCountry := .Params.country -}}
      {{- $currentLanguage := .Site.LanguageCode -}}
      {{- range $country, $data := .Site.Data.checkout -}}
        {{- if eq $country $requestedCountry -}}
          <section class="dev-docscontent__section flex flex-wrap gal">
            {{- $translatedData := index $data (string $currentLanguage) -}}
            <div>
              {{- range $translatedData.ingress.paragraphs -}}
                <p class="text-1.25r">{{ . | safeHTML }}</p>
              {{- end -}}
            </div>
            <div>
              <h2 class="text-1.25r">{{ $translatedData.ingress.countries }}</h2>
              <ul>
                {{- if ne "norway" $country -}}
                  <li>
                    <a href="/api/e-commerce-solutions/best-practice-checkout/norway/" class="btn-link gcxs">
                      <img src="/images/checkout/no.svg" class="flag" alt=""/>{{ i18n "norway" }}
                    </a>
                  </li>
                {{- end -}}
                {{- if ne "sweden" $country -}}
                  <li>
                    <a href="/api/e-commerce-solutions/best-practice-checkout/sweden/" class="btn-link gcxs">
                      <img src="/images/checkout/se.svg" class="flag" alt=""/>{{ i18n "sweden" }}
                    </a>
                  </li>
                {{- end -}}
                {{- if ne "denmark" $country -}}
                  <li>
                    <a href="/api/e-commerce-solutions/best-practice-checkout/denmark/" class="btn-link gcxs">
                      <img src="/images/checkout/dk.svg" class="flag" alt=""/>{{ i18n "denmark"}}
                    </a>
                  </li>
                {{- end -}}
              </ul>
            </div>
          </section>
          {{- range $translatedData.bestPractices -}}
            {{- partial "checkout/best-practice-item" (dict "data" .) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if (not (isset .Params "country")) -}}
        <section class="dev-docscontent__section flex flex-wrap align-ifs">
          <div class="dev-guide-l">
            <p class="text-1.25r">
              Choose your recipient country and follow the steps to improve the presentation of our delivery options in your checkout.
            </p>
            <div>
              <a href="norway/" class="btn-link--dark mbm gcxs">
                <img src="/images/checkout/no.svg" class="flag" alt=""/>Norway
              </a>
              <a href="sweden/" class="btn-link--dark mbm gcxs">
                <img src="/images/checkout/se.svg" class="flag" alt=""/>Sweden
              </a>
              <a href="denmark/" class="btn-link--dark mbl gcxs">
                <img src="/images/checkout/dk.svg" class="flag" alt=""/>Denmark
              </a>
            </div>
          </div>
        </section>
      {{- end -}}
    </article>
    {{- partial "checkout/feedback-form" -}}
  </main>
{{- end -}}
