{{- define "main" -}}
  <div class="maxw48r w100p m-auto mvl phl">
    <div class="mbm">
      <a href="{{ "/blog/" | relURL }}">&larr; Back to blog</a>
    </div>
    <main id="main">
      <article>
        <header class="mbl">
          <h1 class="dev-blog__heading">
            {{ .Title }}
          </h1>
          {{ with .Params.excerpt }}
            <p class="text-1.5r">{{ . }}</p>
          {{ end }}
          {{ partial "blog-meta.html" . }}
        </header>
        <div class="dev-blog__content mbxl mb-docs">
          {{ .Content }}
        </div>
      </article>
    </main>
    <div class="mbm">
      <a href="{{ "/blog/" | relURL }}">&larr; Back to blog</a>
    </div>
  </div>
{{- end -}}
