{{- define "main" -}}
  <div class="maxw48r w100p m-auto mvl phl">
    <article>
      <header class="mbl">
        <div class="mbm">
          <a href="{{ "/blog/" | relURL }}">&larr; Back to blog</a>
        </div>
        <h1 class="dev-blog__heading">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h1>
        {{ partial "blog-meta.html" . }}
      </header>
      <div class="mbxl">
        {{ .Content }}
      </div>
      <div class="mbm">
        <a href="{{ "/blog/" | relURL }}">&larr; Back to blog</a>
      </div>
    </article>
  </div>
{{- end -}}
