{{- define "main" -}}
{{- $maxwidth := "maxw80r" -}}
{{- if (eq ($.Param "widelayout") true) -}}
  {{- $maxwidth = "" -}}
{{- end -}}

<div class="dev-docs__menu" data-drawer data-drawer-event>
  {{- partial "sidemenu.html" . -}}
</div>
{{- partial "drawmenu.html" . -}}
<div class="dev-docs__page">
  <main id="main" class="dev-docscontent w100p {{ $maxwidth }}">
    <article>
      <h1>
        {{- .Title -}}
        {{- with .Params.titlesub -}}
          <span class="db text-title mts">{{ . }}</span>
        {{- end -}}
      </h1>
      {{- range .Params.tables -}}
        <section class="dev-docscontent__section">
          <h2 class="dev-anchored mrl" id="{{ .title|anchorize }}" >{{ .title }}</h2>
          {{- if in .title "Booking" -}}
            {{- partial "services/booking-sg" (dict "data" (index $.Site.Data .data)) -}}
          {{- end -}}

        {{ if in .title "Value" }}
          <p class="mtm mbl">
            Information applies to revised services only. Services without any supported value added services are not part of the table.
          </p>
          <div class="mbs">
            <div class="flex flex-wrap align-ifs mbs bg-gray1 pal pr0 rad-a2px">
              <div class="mrl">
                <div class="flex flex-wrap-reverse align-ifs justify-csb">
                  <div class="mrl">
                    <p class="form__label">Filter by</p>
                    <div class="btngroup">
                      {{- partial "services/filterbtn" (dict "dataAtt" "data-vas-filterset='service'" "btnText" "Service") -}}
                      {{- partial "services/filterbtn" (dict "dataAtt" "data-vas-filterset='type'" "btnText" "Service type") -}}
                      {{- partial "services/filterbtn" (dict "dataAtt" "data-vas-filterset='family'" "btnText" "Service family") -}}
                    </div>
                  </div>
                  <label class="form__label mrxl" for="vasfilter">
                    VAS name, booking or shipping guide API request code
                    <input id="vasfilter" type="text" class="form__control mrxs w100p maxw32r"/>
                  </label>
                </div>
                <div id="filtersets">

                  {{- $.Scratch.Add "servicetype" slice -}}
                  {{- $.Scratch.Add "servicefamily" slice -}}
                  {{- $.Scratch.Add "service" slice -}}
                  {{- range $.Site.Data.services_vas -}}
                  {{- range .supportedServices -}}
                  {{- $.Scratch.Add "servicetype" (dict "name" .serviceType "value" .serviceType) -}}
                  {{- $.Scratch.Add "servicefamily" (dict "name" .serviceFamily "value" .serviceFamily "sortOrder" .serviceFamilySortOrder) -}}
                  {{- $.Scratch.Add "service" (dict "name" .serviceName "value" .serviceCode) -}}
                  {{- end -}}
                  {{- end -}}

                  {{- partial "api/vasfilter.html" (dict "scratcher" (sort (uniq ($.Scratch.Get "servicetype")) "name") "filter" "type" ) -}}
                  {{- partial "api/vasfilter.html" (dict "scratcher" (sort (uniq ($.Scratch.Get "servicefamily")) "sortOrder") "filter" "family" ) -}}
                  {{- partial "api/vasfilter.html" (dict "scratcher" (sort (uniq ($.Scratch.Get "service")) "name") "filter" "service" ) -}}

                </div>
              </div>
              <button type="button" class="btn-link--dark mtl mlr dn" id="clearfilters">Clear all filters</button>
            </div>
          </div>

          <div class="flex flex-dir-col" id="all-vas">
            {{- range $index, $vas := (sort $.Site.Data.services_vas "vasName") -}}
            <div class="vas-item bg-gray2 mbxs dev-collapsible">
              <div class="dev-anchored" id="{{ $vas.vasName|anchorize }}">
                <button
                  type="button"
                  data-collapse="#vas-item{{ $index }}"
                  class="btn-link fw600 pv.75r phs w100p dev-collapsible__toggler--collapsed justify-cfs"
                >
                  <span
                    data-mybicon="mybicon-arrow-right"
                    data-mybicon-class="dev-collapsible__toggler__icon"
                    data-mybicon-width="16"
                    data-mybicon-height="16"
                  ></span>
                  <span data-filter="name">{{ $vas.vasName }}</span>
                </button>
              </div>
              <div class="mhxs mbxs phm pbm bg-white flex flex-wrap dev-collapsible__item--collapsed" id="vas-item{{ $index }}" data-vas-element>
                <div class="vas__codes mrm">
                  <div class="mtm">
                    <span class="text-note fw600">API request codes</span>
                    {{ if ($vas.orderedViaVasCodes) }}
                    <dl class="text-note bl mb-border pls mtxs">
                      <div>
                        <dt class="fwn di mrxs">Booking:</dt>
                        <dd class="di"><code data-filter="bookcode">{{ $vas.bookingCode }}</code></dd>
                      </div>
                      <div>
                        <dt class="fwn di mrxs">Shipping Guide:</dt>
                        <dd class="di"><code data-filter="sgcode">{{ $vas.shippingGuideNpbCode }}</code></dd>
                      </div>
                    </dl>
                    {{ else }}
                    <div>
                      <p class="text-note bl mb-border pls mtxs fwn di mrxs">
                        See API request examples
                      </p>
                      <code data-filter="bookcode" hidden>{{ $vas.bookingCode }}</code>
                      <code data-filter="sgcode" hidden>{{ $vas.shippingGuideNpbCode }}</code>
                    </div>
                    {{ end }}
                  </div>
                  {{ if ($vas.incompatibleVases) }}
                  <div class="mtm">
                    <span class="text-note fw600">Incompatible with</span>
                    <dl class="bl mb-border pls mtxs">
                      {{- range $vas.incompatibleVases -}}
                      <div>
                        <a href="#{{ . | anchorize }}"><span class="text-note">{{ . }}</span></a>
                      </div>
                      {{- end -}}
                    </dl>
                  </div>
                  {{ end }}
                </div>
                <div class="vas__docs ptm">
                  <p>
                    {{ $vas.description }}
                  </p>
                  {{ if gt (len .vasFootNotes) 0 }}
                  {{- range .vasFootNotes -}}
                  <p>{{ . }}</p>
                  {{- end -}}
                  {{ end }}
                  <div class="mbs">
                    <button
                      type="button"
                      data-collapse="#vascountry{{ $index }}"
                      class="btn-link text-note fw600 dev-collapsible__toggler--collapsed"
                    >
                      <span
                        data-mybicon="mybicon-arrow-right"
                        data-mybicon-class="dev-collapsible__toggler__icon"
                        data-mybicon-width="16"
                        data-mybicon-height="16"
                      ></span>
                      <span>Supported services & countries</span>
                    </button>
                    <div class="dev-collapsible__item--collapsed pas" id="vascountry{{ $index }}">
                      <table class="vascountry">
                        <thead>
                        <tr class="vascountryrow">
                          <th>Service</th>
                          <th>Sender</th>
                          <th>Destination</th>
                          <th>Domestic</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{- range .supportedServices -}}
                        <tr class="vascountryrow">
                          <td class="maxw16r">{{ .serviceName }} (<code class="bg-gray3">{{ .serviceCode }}</code>)</td>
                          <td data-filter="type" hidden>{{ .serviceType }}</td>
                          <td data-filter="family" hidden>{{ .serviceFamily }}</td>
                          <td data-filter="service" hidden>{{ .serviceCode }}</td>
                          <td class="w16r">{{ if ne .senderCountries "-" }}{{ .senderCountries | safeHTML }}{{ end }}</td>
                          <td class="w16r">{{ if ne .destinations "-" }}{{ .destinations | safeHTML }}{{ end }}</td>
                          <td class="w12r">{{ if ne .domesticAllowedIn "-" }}{{ .domesticAllowedIn | safeHTML }}{{ end }}</td>
                          {{- end -}}
                        </tr>
                        </tbody>
                      </table>
                      {{if gt (len .serviceAndCountryFootNotes) 0 }}
                      <ol class="text-note maxw48r">
                        {{- range .serviceAndCountryFootNotes -}}
                        <li>{{ . }}</li>
                        {{- end -}}
                      </ol>
                      {{ end }}
                    </div>
                  </div>
                  {{- range where $.Site.Data.examples "api" "booking" -}}
                    {{- range where .vas "id" $vas.bookingCode -}}
                    <div class="mbs">
                      <button
                        type="button"
                        data-collapse="#example{{ $vas.bookingCode }}"
                        class="btn-link text-note fw600 dev-collapsible__toggler--collapsed"
                      >
                        <span
                          data-mybicon="mybicon-arrow-right"
                          data-mybicon-class="dev-collapsible__toggler__icon"
                          data-mybicon-width="16"
                          data-mybicon-height="16"
                        ></span>
                        <span>Booking API request examples</span>
                    </button>
                      <div class="dev-collapsible__item--collapsed pas pt0" id="example{{ $vas.bookingCode }}">
                        {{ if (.html) }}
                        <div class="pam">
                          {{ .html | safeHTML }}
                        </div>
                        {{ end }}
                        <nav aria-label="local">
                          <ul class="dev-codetabs flex flex-dir-row" role="tablist">
                            {{ if (.json) }}
                            <li role="presentation" class="dev-codetabs__item active">
                              <a class="dev-codetabs__link" href="#" data-toggle="tab" data-target="#example_json_{{ $vas.bookingCode }}">application/json</a>
                            </li>
                            {{ end }}
                            {{ if (.xml) }}
                            <li role="presentation" class="dev-codetabs__item">
                              <a class="dev-codetabs__link" href="#" data-toggle="tab" data-target="#example_xml_{{ $vas.bookingCode }}">application/xml</a>
                            </li>
                            {{ end }}
                          </ul>
                        </nav>
                        <div>
                          {{ if (.json) }}
                          <div class="dev-codetabs__content dev-codetabs__panel active" id="example_json_{{ $vas.bookingCode }}">
                            {{ highlight .json "json" "" }}
                          </div>
                          {{ end }}
                          {{ if (.xml) }}
                          <div class="dev-codetabs__content dev-codetabs__panel {{ if not .json }}active{{ end }}" id="example_xml_{{ $vas.bookingCode }}">
                            {{ highlight .xml "xml" "" }}
                          </div>
                          {{ end }}
                        </div>
                      </div>
                    </div>
                    {{- end -}}
                  {{- end -}}
                </div>
              </div>
            </div>
            {{- end -}}
          </div>
          <div class="cutoff-overlay" id="vas-cutoff">
            <button type="button" class="btn btn--white w100p maxw32r" id="showAll">Show all VAS</button>
          </div>
        {{- end -}}

        {{ if in .title "Reports" }}
          {{- partial "services/spreadsheetinfo" -}}
          <div class="flex flex-wrap align-ifs mbs bg-gray1 pal pr0 rad-a2px">
            <div class="mrl">
              <div class="flex flex-wrap-reverse align-ifs">
                <div class="mrl">
                  <p class="form__label">Filter by</p>
                  <div class="btngroup">
                    {{- partial "services/filterbtn" (dict "dataAtt" "data-ri-filterset='rifamily'" "btnText" "Service family") -}}
                    {{- partial "services/filterbtn" (dict "dataAtt" "data-ri-filterset='riapi'" "btnText" "API") -}}
                    {{- partial "services/filterbtn" (dict "dataAtt" "data-ri-filterset='rireptype'" "btnText" "Report type") -}}
                  </div>
                </div>
                <label class="form__label" for="ri-textfilter">
                  Reports name
                  <input id="ri-textfilter" type="text" class="form__control mrxs w100p maxw32r"/>
                </label>
              </div>
              <div id="ri-filtersets">
                {{- $.Scratch.Add "rifamily" slice -}}
                {{- $.Scratch.Add "riapi" slice -}}
                {{- $.Scratch.Add "rireptype" slice -}}
                {{- range index $.Site.Data .data -}}
                  {{- $.Scratch.Add "rifamily" .ServiceFamily }}
                  {{- $.Scratch.Add "rireptype" .ReportType }}
                {{- end -}}
                {{- $.Scratch.Add "riapi" "Invoice" }}
                {{- $.Scratch.Add "riapi" "Reports" }}
                {{- partial "services/servicefilter" (dict "scratcher" ($.Scratch.Get "rifamily") "filter" "rifamily" ) -}}
                {{- partial "services/servicefilter" (dict "scratcher" ($.Scratch.Get "riapi") "filter" "riapi" ) -}}
                {{- partial "services/servicefilter" (dict "scratcher" ($.Scratch.Get "rireptype") "filter" "rireptype" ) -}}
              </div>
            </div>
            <div class="maxw100p">
              <div id="ri-filtercombo" class="mtm mrm text-note"></div>
              <button type="button" id="ri-clearfilters" class="btn-link--dark mtl mrl dn">Clear all filters</button>
            </div>
          </div>
          <table id="services-ri">
            <thead>
              <tr>
                <th>Service family</th>
                <th>Customer number type</th>
                <th>API</th>
                <th>Report type</th>
                <th>Reports name</th>
              </tr>
            </thead>
            <tbody>
              {{- $looper := 0 -}}
              {{- $apiLooper := 1 -}}
              {{- $fam := "" -}}
              {{- $thisApi := "" -}}
              {{- $prevApi := "" }}

              {{- range index $.Site.Data .data -}}
                {{- $prevApi = $thisApi -}}

                {{- if ne $fam .ServiceFamily -}}
                  {{- $looper = 0 -}}
                  {{- $apiLooper = 1 -}}
                  {{- $prevApi = "" -}}
                {{- end -}}
                {{- $looper = add $looper 1 -}}
                {{- $.Scratch.SetInMap "famLooper" .ServiceFamily $looper -}}
                {{- $fam = .ServiceFamily -}}

                {{- if eq .Reports "Yes" -}}
                  {{- $thisApi = "Reports" -}}
                {{- else -}}
                  {{- $thisApi = "Invoice" -}}
                {{- end -}}
                {{- if eq $thisApi $prevApi -}}
                  {{- $apiLooper = add $apiLooper 1 -}}
                {{- end -}}
                {{- $.Scratch.SetInMap "repLooper" .ServiceFamily $apiLooper -}}
              {{- end -}}

              {{- range index $.Site.Data .data -}}
                {{- if eq .Reports "Yes" -}}
                  {{- $thisApi = "Reports" -}}
                {{- else -}}
                  {{- $thisApi = "Invoice" -}}
                {{- end -}}
                <tr
                  data-rifamily="{{.ServiceFamily}}"
                  data-cntype="{{ .CustomerNumberType }}"
                  data-riapi="{{ $thisApi }}"
                  data-rireptype="{{ .ReportType }}"
                  data-rirepname="{{ .ReportsName }}"
                >
                  {{- if ne $fam .ServiceFamily -}}
                    <th scope="row" rowspan='{{ index ($.Scratch.Get "famLooper") .ServiceFamily }}' class="originalel maxw20r">
                        {{- .ServiceFamily -}}
                    </th>
                    <td rowspan='{{ index ($.Scratch.Get "famLooper") .ServiceFamily }}' class="originalel">
                      {{- .CustomerNumberType -}}
                    </td>
                  {{- end -}}
                  {{- if eq .Invoice "Yes" -}}
                    <td class="originalel"><span class="mb-badge">{{ $thisApi }}</span></td>
                    {{- $prevApi = $thisApi -}}
                  {{- end -}}
                  {{- if eq .Reports "Yes" -}}
                    {{- if ne $thisApi $prevApi -}}
                      <td rowspan='{{ index ($.Scratch.Get "repLooper") .ServiceFamily }}' class="originalel"><span class="mb-badge">{{ $thisApi }}</span></td>
                      {{- $prevApi = $thisApi -}}
                    {{- end -}}
                  {{- end -}}
                  <td>{{ if .ReportType }}{{ .ReportType }}{{else}}-{{ end }}</td>
                  <td data-filter="rep-name">{{ if .ReportsName }}{{ .ReportsName }}{{else}}-{{ end }}</td>
                </tr>
                {{- $fam = .ServiceFamily -}}
              {{- end -}}
            </tbody>
          </table>
          <div class="cutoff-overlay" id="ri-cutoff">
            <button type="button" class="btn btn--white w100p maxw32r">Show all service families</button>
          </div>
          {{- end -}}
        </section>
        {{- end -}}
      </article>
    </main>
    <script async src='{{ "/js/servicefiltering.js" | relURL }}'></script>
  {{ partial "footer.html" . }}
  <div class="dev-obfuscator" data-drawer data-drawer-event></div>
</div>
{{- end -}}
