{{ define "main" }}
{{ $pageTitle := .Title }}
{{ $content := .Content }}
{{ $notAnApi := $.Param "notanapi" }}

<div class="wrapper">
  <div class="layout layout--flush">
    <div class="layout__item palm-one-whole desk-one-quarter">
      {{ partial "sidemenu.html" . }}
    </div
    ><div class="layout__item palm-one-whole desk-three-quarters">
      {{ if (eq $notAnApi true) }}
        <article class="api">
          {{ $content }}
        </article>
      {{ else }}
        {{ range .Site.Data.api }}
        {{/* this conditional ensures that only the right api doc shows up, it can probably be improved */}}
          {{ if (eq .title $pageTitle) }}
          {{ $types := .types }}
            <article class="api {{ replace .title "API" "" | urlize }}">
              <h1 class="api__title">{{ .title }}</h1>
              <section id="api-documentation" class="api__section">
                {{ with $content }}<div>{{ . }}</div>{{ end }}
                {{ range .documentation }}
                  <h2 class="anchored" id="{{.title | urlize }}">{{ .title }}</h2>
                  {{ .content | markdownify }}
                {{ end }}
              </section>
              <section class="api__section">
                <h2 class="anchored" id="overview-of-endpoints">Overview of endpoints</h2>

                <h3>Base URL</h3>
                <pre>{{ .baseUri }}</pre>
                <table class="linked-rows tablecosy tablerows">
                  <thead>
                    <th>Method</th>
                    <th>Endpoint</th>
                    <th>Usage</th>
                  </thead>
                  {{ range .resources }}
                    <tr>
                      <td>
                        <a href="#{{ .displayName | urlize }}">{{ range .methods }}{{ .method | upper }}{{ end }}</a>
                      </td>
                      <td>
                        <a href="#{{ .displayName | urlize }}">{{ .relativeUri | safeHTML }}</a>
                      </td>
                      <td>
                        <a href="#{{ .displayName | urlize }}">{{ .displayName | safeHTML}}</a>
                      </td>
                    </tr>
                  {{ end }}
                </table>
              </section>

              {{ range .resources }}
                {{ $displayName := .displayName }}
                <section class="api__section">
                  <h2 class="large anchored" id="{{ $displayName | urlize }}">{{ $displayName }}</h2>
                  {{ with .description }}
                  {{/* This has some formatting issues, possibly from html in markdown */}}
                    {{ . | markdownify }}
                  {{ end }}

                  <h3>URL</h3>
                  {{ $urlOutput := slice }}
                  {{ $absUri := .absoluteUri}}
                  {{ $hasExtension := false }}
                  {{ with .uriParameters.mediaTypeExtension }}
                    {{ $hasExtension = true }}
                  {{ end }}

                  {{ if $hasExtension }}
                    {{ range .uriParameters.mediaTypeExtension.enum }}
                      {{ $urlWithExtension := replace $absUri "{mediaTypeExtension}" .}}
                      {{ $urlOutput = $urlOutput | append $urlWithExtension }}
                    {{ end }}
                  {{ else }}
                    {{ $urlOutput = $urlOutput | append $absUri }}
                  {{ end }}

                  <pre class="api__url">{{ range .methods }}{{ .method | upper }}{{ end }} {{ delimit $urlOutput "<br>" }}</pre>

                  {{/* uri params exists and first one is not mediaTypeExtension */}}
                  {{ $otherUriParamsMediaType := false }}
                  {{ with .uriParameters }}
                    {{ $uriParamNames := slice }}
                    {{ range . }}
                      {{ $uriParamNames = $uriParamNames | append .name }}
                    {{ end }}
                    {{ $uriParamFirst := "" }}
                    {{ range first 1 $uriParamNames }}
                      {{ $uriParamFirst = . }}
                    {{ end }}
                    {{if gt (len .) 1 }}
                      {{ $otherUriParamsMediaType = true }}
                    {{ else if (and (eq (len .) 1) (not (in $uriParamFirst "mediaTypeExtension"))) }}
                      {{ $otherUriParamsMediaType = true }}
                    {{ end }}
                  {{ end }}

                  {{/* has method.headers */}}
                  {{ $hasMethodHeaders := false }}
                  {{ $methodHeaders := slice }}
                  {{ range .methods }}
                    {{ range .headers }}
                      {{ $methodHeaders = $methodHeaders | append . }}
                      {{ if gt (len $methodHeaders) 0 }}
                        {{ $hasMethodHeaders = true }}
                      {{ end }}
                    {{ end }}
                  {{ end }}

                  {{/* has method.queryParameters */}}
                  {{ $hasMethodQueryParams := false }}
                  {{ $methodQueryParams := slice }}
                  {{ range .methods }}
                    {{ range .queryParameters }}
                      {{ $methodQueryParams = $methodQueryParams | append . }}
                      {{ if gt (len $methodQueryParams) 0 }}
                        {{ $hasMethodQueryParams = true }}
                      {{ end }}
                    {{ end }}
                  {{ end }}

                  {{ if (or ($otherUriParamsMediaType) ($hasMethodHeaders) ($hasMethodQueryParams)) }}
                    <h3>Request params</h3>
                  {{ end }}

                  {{/* For each endpoint: List all URI parameters */}}
                  {{ $uriParameters := slice }}
                  {{ range .uriParameters }}
                      {{ $uriParameters = $uriParameters | append . }}
                  {{ end }}
                  {{ if $otherUriParamsMediaType }}
                    {{ partial "api/namedparams.html" (dict "context" . "includeParams" $uriParameters "title" "URI parameters" ) }}
                  {{ end }}

                  {{/* For each endpoint: List all headers */}}
                  {{ if $otherUriParamsMediaType }}
                    {{ partial "api/namedparams.html" (dict "context" . "includeParams" $methodHeaders "title" "Header name") }}
                  {{ end }}

                  {{/* For each endpoint: List all query parameters */}}
                  {{ if $hasMethodQueryParams }}
                    {{ partial "api/namedparams.html" (dict "context" . "includeParams" $methodQueryParams "title" "Query param") }}
                  {{ end }}

                  {{ range .methods }}
                    {{/* For each endpoint: Request body */}}
                    {{ with .body }}
                      <h3>Request body</h3>
                      Return to this when a body has been found
                                  {{/* {% if method.body %}
                                    <h3>Request body</h3>
                                    {% for bodyHash in method.body %}
                                      {% assign requestBody = bodyHash[1] %}
                                      {% assign hljs_lang = requestBody.name | mediatype_highlight_lang  %}

                                      {% if method.body.size > 1 %}
                                      <p>
                                        <strong>Media Type:</strong> <code>{{ requestBody.name }}</code>
                                      </p>
                                      {% endif %}

                                      <ul class="codetabs" role="tablist">
                                        {% if requestBody.type %}
                                          {% assign requestBodyType = requestBody.type.first %}
                                          {% assign tab_id = resource.displayName | append: '-request-' | append: requestBody.name | append: '-format' | slugify %}
                                          <li role="presentation" class="codetabs__item active"><a href="#{{ tab_id }}" role="tab" aria-controls="{{ tab_id }}" class="codetabs__link" data-toggle="tab">Request format</a></li>
                                        {% endif %}
                                        {% for example in requestBody.examples %}
                                          {% assign tab_id = resource.displayName | append: '-request-' | append: requestBody.name | append: '-example-' | append: forloop.index | slugify %}
                                          <li role="presentation" class="codetabs__item"><a href="#{{ tab_id }}" role="tab" aria-controls="{{ tab_id }}" class="codetabs__link" data-toggle="tab">Example: {{ example.displayName }}</a></li>
                                        {% endfor %}
                                      </ul>

                                      <div class="codetabs__content">
                                        {% if requestBody.type %}
                                          {% assign requestBodyType = requestBody.type.first %}
                                          {% assign tab_id = resource.displayName | append: '-request-' | append: requestBody.name | append: '-format' | slugify %}
                                          <div role="tabpanel" class="codetabs__panel active" id="{{ tab_id }}">
                                            {% include raml_type.html types=page.api.types type=requestBodyType hide_header=true %}
                                          </div>
                                        {% endif %}
                                        {% for example in requestBody.examples %}
                                          {% assign tab_id = resource.displayName | append: '-request-' | append: requestBody.name | append: '-example-' | append: forloop.index | slugify %}
                                          <div role="tabpanel" class="codetabs__panel" id="{{ tab_id }}">
                                            <div class="content">
                                              {% if example.description %}
                                              {{ example.description | markdownify }}
                                              {% endif %}
                                              {% if hljs_lang == 'xml' %}
                                                <pre class="highlight"><code class="{{ hljs_lang }}">{{ example.value | xml_escape}}</code></pre>
                                              {% elsif hljs_lang == 'html' %}
                                                <pre class="highlight"><code class="{{ hljs_lang }}">{{ example.value | xml_escape}}</code></pre>
                                              {% elsif hljs_lang == 'json' %}
                                                <pre class="highlight"><code class="{{ hljs_lang }}">{{ example.value }}</code></pre>
                                              {% endif %}
                                            </div>
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% endfor %}{% comment %} endfor bodyHash in method.body {% endcomment %}
                                  {% endif %} */}}
                    {{ end }}

                    {{/* For each endpoint: Response */}}
                    {{ with .responses }}
                      <h3>Responses</h3>

                      {{ range . }}
                        {{ $responseID := (print $displayName "-response-" .code) | urlize }}
                        <h4 class="anchored" id="{{ $responseID }}">HTTP status code {{ .code }}</h4>
                        {{ with .description }}
                          {{ . | markdownify }}
                        {{ end }}

                        {{ range .body }}
                          {{ $highlightLang := "" }}
                          {{ if (eq .name "application/json") }}
                            {{ $highlightLang = "json" }}
                          {{ else if (or (eq .name "application/xml") (eq .name "application/soap")) }}
                            {{ $highlightLang = "xml" }}
                          {{ else if (eq .name "application/html") }}
                            {{ $highlightLang = "html" }}
                          {{ end }}

                          <p>
                            <b>Media type:</b> <code>{{ .name }}</code>
                          </p>

                          {{/* The tabs doesn’t work 100 % yet, probably a combination of missing templates */}}
                          <ul class="codetabs" role="tablist">
                            {{ $nameDash := replace .name "/" "-" }}
                            {{ $tabID := (print $responseID "-" $nameDash "-format") | urlize }}
                            {{ with .type }}
                              <li role="presentation" class="codetabs__item active">
                                <a href="#{{ $tabID }}" role="tab" aria-controls="{{ $tabID }}" class="codetabs__link" data-toggle="tab">Response format</a>
                              </li>
                            {{ end }}

                            {{range $index, $examples := .examples }}
                              {{ $tabID = (print $responseID "-" $nameDash "-example-" (add 1 $index) ) | urlize }}
                              <li role="presentation" class="codetabs__item"><a href="#{{ $tabID }}" role="tab" aria-controls="{{ $tabID }}" class="codetabs__link" data-toggle="tab">Example: {{ .displayName }}</a></li>
                            {{end}}
                          </ul>

                          <div class="codetabs__content">
                            {{ with .type }}
                              <div role="tabpanel" class="codetabs__panel active" id="{{ $tabID }}">
                                {{ partial "api/ramltype.html" (dict "context" . "incTypeDefs" $types "incDashType" . "showHeader" false) }}
                              </div>
                            {{ end }}

                            {{range $index, $examples := .examples }}
                              {{ $tabID = (print $responseID "-" $nameDash "-example-" (add 1 $index) ) | urlize }}
                              <div role="tabpanel" class="codetabs__panel" id="{{ $tabID }}">
                                <div class="content">
                                  {{ with .description }}
                                    {{ . | markdownify }}
                                  {{ end }}
                                  {{ if (eq $highlightLang "xml") }}
                                    <pre class="highlight"><code class="{{ $highlightLang }}">{{ $examples.value}}</code></pre>
                                  {{ else if (eq $highlightLang "html") }}
                                    <pre class="highlight"><code class="{{ $highlightLang }}">{{ $examples.value}}</code></pre>
                                  {{ else if (eq $highlightLang "json") }}
                                    <pre class="highlight"><code class="{{ $highlightLang }}">{{ $examples.value }}</code></pre>
                                  {{ end }}
                                </div>
                              </div>
                            {{end}}
                          </div>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </section>
              {{ end }}
            </article>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
