.box {
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

.main {
  background: -moz-linear-gradient(top,  #d7d8d9,  #bcbdbf);
  background: -webkit-linear-gradient(#d7d8d9, #bcbdbf);
  background: -o-linear-gradient(#d7d8d9, #bcbdbf);
}


.footer {
  -moz-box-shadow: inset 0px 10px 8px #888;
  -webkit-box-shadow: inset 0px 10px 8px #888;
  box-shadow: inset 0px 10px 8px #888;
  /*
  background: -moz-linear-gradient(top,  #7f8082,  #afb0b2);
  background: -webkit-linear-gradient(#7f8082, #afb0b2);
  background: -o-linear-gradient(#7f8082, #afb0b2);*/
}
