.box {
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

.toolbox-button {
-moz-box-shadow: inset 0 0 1px 1px #bbb;
-webkit-box-shadow: inset 0 0 1px 1px #bbb;
box-shadow: inset 0 0 1px 1px #bbb;
}

