@CHARSET "UTF-8";



/** Package page */

.package-info {
	width: 312px;
	margin-top: 40px;
	padding: 0 0 0 10px;
	float: right;
}

.package-content{
    width: 654px;
    margin-right: 10px;
    margin-bottom: 20px;
    float:left;
}

.package-description{
    width: 302px;
    min-height: 200px;
    padding: 0 10px;
    float:left;
}

.package-description h1 {
	line-height: 100%;
}

.package-tools {
	margin: 30px 0;
}

.download-button,
.repo-button {
    width: 50px;
    height: 20px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 20px 8px 20px;
    margin-right: 10px;
    color: white;
    border-bottom: 1px solid #529136;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	filter: dropshadow(color=#999999, offx=0, offy=0);
	-webkit-box-shadow: 0px 2px 1px 1px #e2e3e4;
	-moz-box-shadow: 0px 2px 1px 1px #e2e3e4;
	box-shadow: 0px 2px 1px 1px #e2e3e4;
}

a:hover.download-button,
a:focus.download-button,
a:hover.repo-button,
a:focus.download-button {
    color: white;
}

.download-button {
    background: #7fc14b;
	background: -moz-linear-gradient(top, #b1e588 0%, #8bc661 50%, #6cb33f 51%, #58a22c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1e588), color-stop(50%,#8bc661), color-stop(51%,#6cb33f), color-stop(100%,#58a22c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b1e588 0%,#8bc661 50%,#6cb33f 51%,#58a22c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b1e588 0%,#8bc661 50%,#6cb33f 51%,#58a22c 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b1e588 0%,#8bc661 50%,#6cb33f 51%,#58a22c 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1e588', endColorstr='#58a22c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b1e588 0%,#8bc661 50%,#6cb33f 51%,#58a22c 100%); /* W3C */
}

.repo-button {
	background: #98989c; /* Old browsers */
	background: -moz-linear-gradient(top, #98989c 0%, #818186 50%, #6e6d71 51%, #4e4d50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98989c), color-stop(50%,#818186), color-stop(51%,#6e6d71), color-stop(100%,#4e4d50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #98989c 0%,#818186 50%,#6e6d71 51%,#4e4d50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #98989c 0%,#818186 50%,#6e6d71 51%,#4e4d50 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #98989c 0%,#818186 50%,#6e6d71 51%,#4e4d50 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98989c', endColorstr='#4e4d50',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #98989c 0%,#818186 50%,#6e6d71 51%,#4e4d50 100%); /* W3C */
	border-color: #565656;
}

.installsteps > li {
	font-weight: bold;
	margin-left: 17px;
}
	.installsteps > li > * {
		font-weight: normal;
	}




/** Widget specific stuff */

.widgetpreview {
    width: 654px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #ccc;
    position: relative;
}

.widgetpreview .preview-frame {
	width: 100%;
}

.widgetpreview .tab {
    clear: both;
}

.widgetpreview .codetab {
	border: 1px solid #ccc;
}

.widgetpreview .codetab pre{
    margin: 0;
    max-height: 1000px;
}

.widgetpreview .previewtab {
    padding: 20px;
    min-height: 100px;
    background: rgb(240,240,241); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240,240,241,1) 0%, rgba(214,214,214,1) 66%, rgba(215,215,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,241,1)), color-stop(66%,rgba(214,214,214,1)), color-stop(100%,rgba(215,215,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(240,240,241,1) 0%,rgba(214,214,214,1) 66%,rgba(215,215,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(240,240,241,1) 0%,rgba(214,214,214,1) 66%,rgba(215,215,215,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(240,240,241,1) 0%,rgba(214,214,214,1) 66%,rgba(215,215,215,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f1', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(240,240,241,1) 0%,rgba(214,214,214,1) 66%,rgba(215,215,215,1) 100%); /* W3C */
}

.widget-tabs{
	position: absolute;
	bottom: -28px;
	right: 0px;
	overflow: auto;
}


.widget-tab {
    position: relative;
    display: block;
    float: left;
    width: auto;
    padding: 5px 10px;
    margin-left: 1px;
    display: block;
    color: #f0f0f1;
    font-size: 0.9em;
    text-transform: uppercase;
    background-color: #999;
    line-height: 18px;
}

.widget-tab.active {
    background-color: #D7D7D7;
    line-height: 18px;
    color: #565656;
}

.widget-tab:hover {
    background-color: #D7D7D7;
    line-height: 18px;
    color: #fff;
}


.package-media {
	margin-left: -10px;
	overflow: auto;
}
.package-media .thumb {
	display: block;
	float: left;
	width: 149px;
	height: 96px;
	overflow: hidden;
	margin: 5px 0 5px 10px;
	border: 1px solid #e2e3e4;
	opacity: 0.7;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
}
.package-media .thumb:hover,
.package-media .thumb:focus {
	box-shadow:0px 0px 5px #ccc;
	opacity: 1;
}