/* Menutab */
div.menutab {
    width: 302px;
    margin: 5px 5px 0 5px;
    float: left;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    color: #b7b7b7;
    -moz-box-shadow: -2px -2px 2px #ddd, 2px -2px 2px #ddd;
    -webkit-box-shadow: -2px -2px 2px #ddd, 2px -2px 2px #ddd;
    box-shadow: -2px -2px 2px #ddd, 2px -2px 2px #ddd;
}

div.menutab-selected {
    background-color: #3b3b3b;
}

.menubox {
    width: 986px;
    min-height: 20px;
    margin: 0 5px 0 5px;
    background-color: #3b3b3b;
    -moz-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    -webkit-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    box-shadow: -3px 0px 3px #ddd, 3px 0px 3px #ddd;
}

.menulist {
    width: 322px;
    margin: 20px 10px 20px 0px;
    float: left;
}

div:last-child.menulist{
    margin: 20px 0px 20px 0px;
}

.menulist ul li{
    margin: 2px 11px 2px 11px;
}

.menulist ul li a{
	display: block;
    width: 300px;
    height: 30px;
    background-color: #666;
    text-decoration: none;
    color: #ccc;
}

.menulist ul li a.selected{
    background-color: #ccc;
    color: #fff;
}

.menulist ul li a img{
    float:right;
    margin: 5px;
}

.main-content {
    width: 986px;
    min-height: 300px;
    margin: 0 5px 50px 5px;
    background-color: #fff;
    -moz-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    -webkit-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
}

.main-content .talk-content{
    float: left;
    margin-top: 10px;
}

.article {
	width: 644px;
	margin: 10px 10px 20px 10px;
    float: left;
}

.article h1{
    width: 634px;
    padding: 20px 10px 20px 10px;
    background-color: #ddd;
    color: #3b3b3b;
    font-weight:bold;
    margin-left: -10px;
}

div.talk-content div.title {
    width: 100%;
    border-bottom: 5px solid #bbb;
    margin-bottom: 10px;
    background-color: #fff;
}