/* Menutab */
div.menutab {
    width: 302px;
    margin: 5px 5px 0 5px;
    float: left;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    color: #b7b7b7;
    -moz-box-shadow: -2px -2px 2px #ddd, 2px -2px 2px #ddd;
    -webkit-box-shadow: -2px -2px 2px #ddd, 2px -2px 2px #ddd;
    box-shadow: -2px -2px 2px #ddd, 2px -2px 2px #ddd;
}

div.menutab-selected {
    background-color: #3b3b3b;
}

.menubox {
    width: 986px;
    min-height: 20px;
    margin: 0 5px 0 5px;
    background-color: #3b3b3b;
    
    -moz-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    -webkit-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    box-shadow: -3px 0px 3px #ddd, 3px 0px 3px #ddd;
}

.menulist {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menulist li a {
    padding: 5px;
    width: 292px;
    margin: 2px 10px;
	display: block;
    background-color: #666;
    text-decoration: none;
    color: #ccc;
}

.menubutton:after {
    content: "\203A";
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.menulist  li a.selected, .menulist li a:hover {
    background-color: #ccc;
    color: #fff;
}

.menulist  li a img {
    float:right;
    margin: 5px;
}

.main-content {
    width: 986px;
    min-height: 300px;
    margin: 0 5px 50px 5px;
    background-color: #fff;
    -moz-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    -webkit-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
}

.main-content .talk-content{
    float: left;
    margin-top: 10px;
}