/* Menutab */
.menutabs div {
    width: 302px;
    margin: 5px 5px 0 5px;
    float: left;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    color: #b7b7b7;
    -moz-box-shadow: -1px -1px 1px #ddd, 1px -1px 1px #ddd;
    -webkit-box-shadow: -1px -1px 1px #ddd, 1px -1px 1px #ddd;
    box-shadow: -1px -1px 1px #ddd, 1px -1px 1px #ddd;
}

.menutab-selected {
    background-color: #3b3b3b;
}

.menubox {
    width: 986px;
    min-height: 20px;
    margin: 0 5px 0 5px;
    background-color: #3b3b3b;
}

.menuitems {
    width: 322px;
    height: 150px;
    margin: 10px 10px 10px 0px;
    float: left;
}

div:last-child.menuitems{
    margin: 10px 0px 10px 0px;
}

.menuitems ul li {
    width: 300px;
    height: 30px;
    margin: 2px 11px 2px 11px;
    background-color: #ccc;
}

.menuitems ul li selected{
    width: 300px;
    height: 30px;
}

.learncontent {
    width: 986px;
    min-height: 300px;
    margin: 0 5px 0 5px;
    background-color: #fff;
}