/* Group (clearfix) */

html[xmlns] .group {
    display: block;
}

* html .group {
    height: 1%;
}

.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Question list */

ul.question-list {
    list-style: none;
}

ul.question-list li div {
    min-height: 50px;
    margin-bottom: 2px;
    width: 270px;
    float: right;
    display: inline-block;
    background-color: #e5e5e5;
    overflow: hidden;
}

ul.question-list li img {
    float: left;
    width: 50px;
}

/* Widget preview */

div.widget-preview {
    overflow: hidden;
    width: 161px;
    min-height: 40px;
    float: left;
    background-color: #d9d9d9;
}

div:first-child.widget-preview {
    width: 159px;
    margin-right: 2px;
}

div.widget-preview h4, 
div.widget-preview p {
    padding: 10px;
}

div.widget-preview p {
    background-color: #e3dcd3;
}

/* Tabs */

.tabs {
    list-style: none;
}

.tabs li {
    display: inline;
    font-size: 0.75em;
}

.tabs li a {
    cursor: pointer;
    color: black;
    background: #e1e1e1;
    float: left;
    display: block;
    padding: 4px 10px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    text-decoration: none;
}

.tabs li a:hover, .tabs li a.tabs-chosen {
    background: #7fc14b;
}

/* Misc */

.box {
    margin: 5px;
}

.quote {
    padding: 10px;
    background-color: #e5e5e5;
}