/* Group (clearfix) */

html[xmlns] .group {
    display: block;
}

* html .group {
    height: 1%;
}


body {
    color: #656565;
	line-height: 1.5;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
}

table,td,th {
	vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}


/* Remove annoying border on linked images. */
a img {
	border: none;
}

/* 
 * Typesetting
 */
 
h1, h2, h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #565656;
    text-transform: uppercase;
    line-height: 120%;
}

h1 {
    font-weight:normal;
    letter-spacing: -0.05em;
    margin: 2em 0 1em 0;
    font-size: 1.5em;
}

h2 {
    margin-top: 30px;
	font-size: 1.05em;
	font-weight: bold;
    border-bottom: 3px solid #ddd;
}

h3 {
    font-weight: bold;
    font-size: 1.2em;
}

h4 {
	font-weight: bold;
    font-size: 1em;
}

p {
    line-height: 140%;
    padding-bottom: 1em;
}

pre {
    font-family: Consolas, monospace;
    overflow: auto;
    max-height: 300px;
    margin-bottom: 1em;
    padding: 10px 0 10px 10px;
}


/**
 *     Minimalistic scrollbars
 */
pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

pre::-webkit-scrollbar-button:start:decrement,
pre::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

pre::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

pre::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}

pre::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

pre::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

.article {
    width: 634px;
    float: left;
    padding: 0 20px 20px 10px;
}

.toc-wrap {
	margin-top: 40px;
}
.toc {
	padding: 0 10px 0 15px;
}

pre p,
pre address,
pre dl,
pre ol, 
pre ul, 
pre table,
pre cite,
pre blockquote {
    font-size: 1em;
}
/*
li p,
li address,
li dl,
li ol, 
li ul, 
li table,
li cite,
li blockquote {
    font-size: 1em;
}*/

.article ol {
    padding-left: 15px;
    margin-bottom: 1em;
}

.article ul, .article ol {
/*     margin: 10px 5px 10px 5px; */
}

.article ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 1em;
}

.article table {
	width: 100%;
}

.article thead{
    background-color: #e2e3e4;
}

.article th {
    text-transform: uppercase;
    font-weight: bold;    
}

.article td,
 .article th {
    padding: 5px;
}

.article tr {
    margin-bottom: 1px;
}

.article tr:hover {
    background-color: #f0f0f1;
}

.article tr:nth-child(even) {
    background-color: #f0f0f1;
}

.article table{
	margin-left: -5px;
}


/*
.article li:before {
    list-style: none; 
    content: "\203A";
    margin-right: 5px;
}
*/


/* Default link style. */
a {
    color: #00B2E4;
    text-decoration: none;
}

a:hover, a:focus {
    color: #444;
    text-decoration: none;
}

/* default code style. */
code {
    font-family: Consolas, monospace;
    background-color: #f0f0f1;
}
.box-footer {
}


.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Columns */

.leftcol {
    float: left;   
}

.rightcol {
    float: right;
}

/* Grid */

.span-1, .span-2, .span-4 {
    float: left;
    margin-right: 10px;
}

.span-1 {
    width: 156px;
}

.span-2 {
    width: 322px;
}

.span-4 {
    width: 654px;
}

.last {
    margin-right: 0;
}



/* Box with shadow */

.box {
    margin: 5px;
    
    background-color: #fff;
    
    /* css3 */
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.box-footer {
    padding: 10px;
}

.box-text {
    padding: 10px;
    background-color: #f0f0f1;
}

.box-title {
    background-color: #fff;
}

/* Avatar list */

ul.avatar-list {
    width: 322px;
    list-style: none;
    font-size: 1em;
}

ul.avatar-list li {
    margin-bottom: 10px;
}
ul.avatar-list li:last-child {
    margin-bottom: 0;
}

.avatar-list-text {
    min-height: 40px;
    width: 260px;
    float: right;
    background-color: #f0f0f1;
    padding: 5px;
    position: relative;
}

.blocklink {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
    position: absolute;
}

.avatar-list-footer {
    min-height: 0;
    margin: 10px solid red;
}

.avatar {
    float: left;
    width: 50px;
}

/* Question */

.datetime {
    font-size: 0.9em;
    color: #9A9999;
    margin-right: 0;
}

.question-title {
    font-weight: bold;
}

/* Quote */

.quote {
    padding: 10px;
    background-color: #f0f0f1;
    position:relative;
}

.quote:before {
    content:"";
    position:absolute;
    bottom:-8px;
    left:50px;
    border-width:0 0 8px 8px;
    border-style:solid;
    border-color:transparent #f0f0f1;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}


/* Code tabs*/
.codetabs {
    overflow: auto;
}
.codetabs h2,
.codetabs h3,
.codetabs h4,
.codetabs h5,
.codetabs h6
 {
    float: left;
    width: auto;
    margin-right: 20px;
}

.codetabs .active {
    font-weight: bold;
    color: #565656;
}

.codetabs .tab {
    clear: both;
}

.codetabs pre {
    border: 1px solid #ccc;
    background-color: #f0f0f1;
}
.codetabs pre li {
	
}


/** Person */
.person {
	background-color: #f0f0f1;
	padding: 10px;
	overflow: auto;
	position: relative;
	padding-left: 60px;
	min-height: 40px;
	margin-bottom: 10px;
}
.person a {
	display: block;
	overflow: auto;
	width: 100%;
	height: 100%;
	color: #565656;
}
.person a:hover,
.person a:focus {
	color: #00B2E4;
}
.person .avatar {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
}
.person .name {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1.15em;
}
.person .company {
	clear: left;
	display: block;
	float: left;
}
