/* Group (clearfix) */
html[xmlns] .group {
    display: block;
}

* html .group {
    height: 1%;
}

.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Box */
.box {
    margin: 5px;
}

.section-header {
    padding: 10px;
    height: 50px;
    overflow: hidden;
    color: #b7b7b7;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3b3b3b;
    margin: 10px 5px;
}

.section-content {
    background-color: #f2f2f2;
    margin: 10px 5px;
}

.section-title {
    color: #79b54b;
    display: block;
    font-weight: bold;
}

a.section-title {
    text-decoration: none;
}

.box-text {
    padding: 10px;
    background-color: #e5e5e5;
}

/* Question list */
ul.question-list {
    list-style: none;
}

img.question-list {
    float: left;
}

.question {
    min-height: 50px;
    margin-bottom: 2px;
    width: 259px;
    float: right;
    display: inline-block;
    background-color: #e5e5e5;
    overflow: hidden;
}

/* Widget preview */
.widget-preview {
    overflow: hidden;
    width: 154px;
    min-height: 40px;
    float: right;
    background-color: #d9d9d9;
}

.widget-preview:first-child {
    float: left;
    margin-right: 2px;
}

.widget-title,.widget-preview-content {
    padding: 10px;
}

.widget-preview-content {
    background-color: #e3dcd3;
}

/* Tabs */
.tabs {
    list-style: none;
}

.tabs li {
    display: inline;
}

.tabs li a {
    cursor: pointer;
    color: black;
    background: #e1e1e1;
    float: left;
    display: block;
    padding: 4px 10px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    text-decoration: none;
}

.tabs li a:hover {
    background: #7fc14b;
}

/* Misc */
.dropdown {
    padding: 10px;
    background-color: #f2f2f2;
}