html {
	height: 100%;
}

body {
	height: 100%;
    background-color: #afb0b2;
}

/*Opera Fix - sticky footer*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.wrapper { /* Contains everything besides the footer */
	min-height: 100%;
}

.content {
	width: 996px; /* width = 986px + 5px margin on each side */
	margin: 0 auto;
}
 
.main {
	padding-top: 10px;
	padding-bottom: 150px; /* Space for sticky-footer */
}

.header {
    background-color: #fff;
    border-bottom: 15px solid #7fc14b;
    padding-top: 15px;
}

.showcase {
	min-height: 200px;
	margin-bottom: 10px;
}

div.learn, 
div.download, 
div.talk {
	float: left;
}

div.learn-header, 
div.download-header, 
div.talk-header {
    width: 302px;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    color: #b7b7b7;
    background-color: #3b3b3b;
}

div.learn-content, 
div.download-content, 
div.talk-content {
    width: 322px;
    background-color: #f2f2f2;
}

div.learn-header h2 a,
div.download-header h2 a,
div.talk-header h2 a {
    color: #79b54b;
    font-weight: bold;
    text-decoration: none;
}

div.learn-footer {
    padding: 10px;
}

div.talk-footer {
    padding: 10px;
    background-color: #e5e5e5;
}

div.download-content h3 {
    padding: 10px;
    background-color: #f2f2f2;    
}

.footer {
	text-align: center;
	padding-top: 120px;
    background-color: #afb0b2;
    position: relative;
	margin-top: -150px; 
	height: 30px;
	clear:both;
}