html {
	height: 100%;
}

body {
	height: 100%;
    background-color: #afb0b2;
    color: #656565;
    font-size: 12px;
}

/*Opera Fix - sticky footer*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

.wrapper { /* Contains everything besides the footer */
	min-height: 100%;
	
	/* css3 */
    -moz-box-shadow: inset 0px 2px 4px #999;
    -webkit-box-shadow: inset 0px 2px 4px #999;
    box-shadow: inset 0px 2px 4px #999;
    background: rgb(226,227,228); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226,227,228,1) 0%, rgba(226,227,228,1) 85%, rgba(197,199,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,227,228,1)), color-stop(85%,rgba(226,227,228,1)), color-stop(100%,rgba(197,199,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,227,228,1) 0%,rgba(226,227,228,1) 85%,rgba(197,199,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,227,228,1) 0%,rgba(226,227,228,1) 85%,rgba(197,199,200,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(226,227,228,1) 0%,rgba(226,227,228,1) 85%,rgba(197,199,200,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e4', endColorstr='#c5c7c8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(226,227,228,1) 0%,rgba(226,227,228,1) 85%,rgba(197,199,200,1) 100%); /* W3C */
}

.main {
	width: 996px; /* width = 986px + 5px margin on each side */
	margin: 0 auto;
}

.header {
    position: relative;
    height: 90px;
}
.header .logo {
    display: block;
    height: 54px;
    width: 130px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -493px;
}
.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -900px;
    overflow: hidden;
    background-image: url("/img/logo.png");
}

/* Tabs */

.global-tabs {
	text-transform: uppercase;
    bottom: 0;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -493px;
}


.global-tabs {
    list-style: none;
}

.global-tabs li {
    display: inline;
}

.global-tabs li:first-child a:before {
    content: "\002039";
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
}

.global-tabs li a {
    cursor: pointer;
    color: #676767;
    background: #e1e1e1;
    float: left;
    display: block;
    padding: 10px 20px 5px 20px;
    margin-left: 0px;
    position: relative;
    left: 0px;
    text-decoration: none;
}

.global-tabs li a:hover, .global-tabs li a.global-tabs-chosen {
    color: #fff;
    background: #7fc14b;

    border-color: #CCC;
    border-style: solid;
}

.global-tabs-chosen {
    line-height: 25px;
}

.global-tabs-not-chosen {
    line-height: 24px;
}

/* .header > * { */
/*     width: 986px; */
/*     margin: 0 auto; */
/* } */

.main {
	padding-top: 10px;
	padding-bottom: 150px; /* Space for sticky-footer */
}

.content {
    float: none;
    clear: both;
    width: 986px;
    min-height: 300px;
    padding-top: 40px;
    margin: 0 5px 50px 5px;
    background-color: #fff;

    /* css3 */
    -moz-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    -webkit-box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
    box-shadow: -3px 3px 3px #ddd, 3px 3px 3px #ddd;
}
.page-package .content,
.page-package-overview .content {
    padding-top: 0px;
}

.home-content {
    float: left;
    padding-bottom: 30px;
}

.header {
    background-color: #fff;
    border-bottom: 15px solid #7fc14b;
    padding-top: 15px;
}

.footer {
    text-align: center;
    padding-top: 40px;
    background-color: #afb0b2;
    position: relative;
    margin-top: -150px; 
    height: 120px;
    clear: both;

    /* css3 */
    -moz-box-shadow: inset 0px 10px 8px #888;
    -webkit-box-shadow: inset 0px 10px 8px #888;
    box-shadow: inset 0px 10px 8px #888;
}

.footer a {
    color: #ffffff;
    font-weight: bold;
}

p.right {
    text-align: right;
}

/* Util */
.clear {
    clear: both;
}
