body {
    background-color: #afb0b2;
}
 
.wrapper {
    margin: 0 auto;
    width: 986px;
}

.header {
    background-color: #fff;
    height: 59px;
    border-bottom: 15px solid #7FC14B;
    padding-top: 15px;
}

.main {
	padding-top: 16px;
	min-height: 600px;
}

.showcase {
	min-height: 200px;
	margin-bottom: 16px;
}

.learn, .download, .talk {
	float: left;
	overflow: hidden;
	width: 321px;
	margin-bottom: 16px;
}

.learn {
	width: 323px;
	margin-right: 10px;
}

.download {
	margin-right: 10px;
}

.footer {
	text-align: center;
	padding-top: 100px;
    background-color: #afb0b2;
}