/* -------------------------------------------------------------- 
   reset.css
   * Resets default browser CSS.
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
    font-family: Arial, "Nimbus Sans L", sans-serif; 
	vertical-align: baseline;
}

p,pre,address,dl,ol,ul,table,cite,blockquote {
    font-size: 0.75em;
}


body {
    color: #656565;
	line-height: 1.5;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
}

table,td,th {
	vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}


/* Remove annoying border on linked images. */
a img {
	border: none;
}

/* 
 * Typesetting
 */
 
h1, h2, h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #565656;
   text-transform: uppercase;
}

h1 {
    font-weight:normal;
    letter-spacing: -0.05em;
    margin: 2em 0 1em 0;
}

h2 {
	font-size: 0.8em;
	font-weight: bold;
    border-bottom: 3px solid #ddd;
}

h3 {
    font-weight: bold;
    font-size: 0.8em;
}

h4 {
	font-weight: bold;
    font-size: 0.75em;
}

p {
    line-height: 140%;
    padding-bottom: 5px;
}

 .article {
    width: 644px;
    float: left;
    padding: 0 10px 20px 10px;
}
.article ul {
    list-style: none;
    margin: 10px 5px 10px 5px;
}

.article li:before {
    list-style: none; 
    content: "\203A";
    margin-right: 5px;
}


/* Default link style. */
a {
    color: #00B2E4;
    text-decoration: none;
}

a:hover, a:focus {
    color: #444;
    text-decoration: none;
}

/* default code style. */
code {
    font-weight: bold;
}
.box-footer {
    font-size: 0.75em;
}