/* Introbanner */

.introbanner {
	background-color: #fff;
}

.panels {
	height: 240px;
    margin-right: 0;
    padding-right: 10px;
    background-color: #f1f1f1;
    
    /* css3 */
    -moz-box-shadow: inset 1px 1px 1px #ddd, inset 1px -1px 1px #ddd;
    -webkit-box-shadow: inset 1px 1px 1px #ddd, inset 1px -1px 1px #ddd;
    box-shadow: inset 1px 1px 1px #ddd, inset 1px -1px 1px #ddd;
}

/* Toolbox */

.toolbox-category {
    visibility: hidden;
    position: absolute;
}

.toolbox ul {
	list-style: none;
	background-color: #fff;
}

.toolbox li {
    border-left: 1px solid #ddd;
/* 	margin-bottom: 10px; */
	height: 50px;
    position: relative;
	cursor: pointer;
}

.toolbox li:last-child {
    height: 40px;
    margin-bottom: 0;
}

.toolbox a {
    width: 321px;
/*     border-left: 1px solid #ddd; */
    position: absolute;
    height: 40px;
    background: #f1f1f1;
}

.toolbox li>*:before {
    margin-right: 5px;
    content: "‹ ";
    font-weight: bold;
}

.toolbox li:hover {
	background-color: #fff;
}

.toolbox li.selected {
/* 	background-color: #f1f1f1; */
	
	/* css3 */
/*     -moz-box-shadow: inset -1px 1px 1px #ddd, inset -1px -1px 1px #ddd; */
/*     -webkit-box-shadow: inset -1px 1px 1px #ddd, inset -1px -1px 1px #ddd; */
/*     box-shadow: inset -1px 1px 1px #ddd, inset -1px -1px 1px #ddd; */
}

.toolbox .selected h3,
.toolbox .hover h3 {
	color: #7FC14B;
}

.toolbox li img {
	width: 5%;
}
