.introbanner {
    background-color: #fff;
    font-size: 0.75em;
}
.big-banner-container {
    position: relative;
    min-height: 360px;
    background: #e2e3e4 url(/img/big-banner-bg.png) no-repeat top left;
}
.big-banner {
    position: relative;
    min-height: 360px;
    background: transparent none no-repeat top left;
}
.big-banner .illustration-container {
    float: left;
    width: 986px;
    height: 200px;
}
.big-banner .banner-title {
    font-size: 2.5em;
    color: #565656;
    position: absolute;
    top: 50px;
    left: 30px;
    text-transform: none;
    margin: 0;
    padding: 0;
    width: 310px;
}
.banner-section {
    float: left;
    width: 325px;
    margin-top: 0;
}
.banner-section a {
    background-repeat: no-repeat;
    background-position: 30px 0;
    display: block;
    padding: 70px 30px 0 30px;
    color: #565656;
}
.banner-section .title {
    display: block;
    font-size: 1.15em;
    line-height: 100%;
    min-height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-section .title:after {
    content: "\203A";
    margin-left: 5px;
    color: #7fc14b;
    font-size: 1.5em;
    font-weight: bold;
}
.banner-section .description {
    color: #999;
}
.banner-section a:hover .description {
    color: #565656;
}
.banner-section.shippingguide a {
    background-image: url(/img/shippingguide-icon.png);
}
.banner-section.tracking a {
    background-image: url(/img/tracking-icon.png);
}
.banner-section.postalcode a {
    background-image: url(/img/postalcode-icon.png);
}
.big-banner.shippingguide .banner-title,
.big-banner.tracking .banner-title,
.big-banner.postalcode .banner-title {
    display: none;
}
.big-banner.shippingguide {
    background-image: url(/img/shippingguide-banner-bg.png);
}
.big-banner.tracking {
    background-image: url(/img/tracking-banner-bg.png);
}
.big-banner.postalcode {
    background-image: url(/img/postalcode-banner-bg.png);
}