@CHARSET "UTF-8";


/* talkbox */

.talkbox {
    margin-left: 10px;
    width: 302px;
}

.talkbox a:hover{
    text-decoration: underline;
}

.talkbox-header {
    position: relative;
}

.talkbox-header a{
    line-height: 36px;
    border-bottom: 1px solid #3b3b3b;
    background-color: #565656;
    background-image: url(/img/twitter.png);
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 40px;
	font-weight: bold;
    color: #ccc;
    font-color: #ccc;
    text-transform: uppercase;
    display: block;
}

.talkbox-header a:hover{
    text-decoration: none;
    color: #fff;
}


.talkbox-header a:after {
    content: "\02B08";
    position: absolute;
    right: 6px;
    top: -4px;
}

.talkbox-footer {
	height: 26px;
    border-top: 1px solid #3b3b3b;
    color: #f0f0f1;
    background-color: #999;
    padding: 10px 0 0 45px;
    position: relative;
    font-weight: bold;
    z-index: -1;
}

.talkbox-footer a{
    color: #f0f0f1;
    margin-right: 10px;
}


.talkbox-image {
	position: absolute;
	top: 0px;
	left: 0px;
    float: left;
    width: 36px;
    height: 36px;
}

.talkbox blockquote {
    margin-bottom: 0;
    height: 90px;
}

.talkbox-footer {
    
}

.talkbox-footer .time {
    color: #cbcbcb;
}



/* Socialfeed */

.socialfeed-title {
    border-bottom: 5px solid #bbb;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    color: #999;
}




/* Twitter */

#twittertalkquote, .twittercontent {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}