@CHARSET "UTF-8";

/* Widget preview */

.widget-preview {
    width: 160px; /* (322px - 2px margin) / 2 */
    background-color: #f0f0f1;
}

.widget-preview .title {
    font-weight: bold;
}

.widget-title:after {
    content: url(../img/downarrow.png);
    float: right;
}
