ul.maketree, ul.maketree ul, ul.maketree li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.maketree ul { padding-left: 0.3em; }
ul.maketree li {
    border-left: 1px dotted #000;
    padding-left: 13px;
    background: url(dotted.gif) scroll no-repeat 1px 0.8em;
}
ul.maketree li.last {
    border-left-width: 0px;
    padding-left: 14px;
    background: url(dottedangle.gif) scroll no-repeat left top;
}
.blank {
    color: transparent;
}
.name {
    display: inline-block;
    width: 200px;
}
.nameEmpty {
    display: inline-block;
    width: 179px;
}
.name250 {
    display: inline-block;
    width: 250px;
}
.nameParent {
    display: inline-block;
    margin-left: 400px;
}
.descParent {
    display: inline-block;
    margin-left: 412px;
}
.reqParent {
    display: inline-block;
    margin-left: 350px;
}
.req {
    color: #7b3838;
    background-color: #f6efef;
    font-size: .9em;
    width: 80px;
}
.reqtd {
    display: inline-block;
    width: 80px;
}
.type {
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 150px;
}
.desc {
    padding-left: 10px;
}
td th {
    padding-left: 20px;
    padding-right: 20px;
}
tr {
    width: 100%;
}
ul {
    max-width: 3000px;
}
.codeBox {
    width: 100%;
    background-color: #f2f2f2;
    font-family: monospace;
    padding: 10px;
    align-content: center;
}
.codeBox .dark {
    background-color: #dbdbdb;
}
a {
    /* I don't agree with !important but it would
       cause more issues changing dev-docscontent
       where it is set to underscore.*/
    text-decoration: none!important;
}
.plusminus {
    font-size: x-large;
}
.notUsed {
    color: grey;
    font-style: italic;
}
table {
    margin-bottom: 0rem;
}
tr {
    border-bottom: none;
}
.trwh {
    border-top: 1px solid #e6e6e6;
}
td {
    padding-top: 0px;
    padding-bottom: 0px;
}
td.flipCreateOrderXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipCreateOrderResponseXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipCreateOrderJson {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightgreen;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipCreateOrderResponseJson {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightgreen;
    border: solid 1px #fff;
    cursor: pointer;
}
div.createOrderXml {
    width: 100%;
    height: 800px;
    display: none;
    background: lightblue;
}
div.createOrderResponseXml {
    width: 100%;
    height: 200px;
    display: none;
    background: lightblue;
}
div.createOrderJson {
    width: 100%;
    height: 800px;
    display: none;
    background: lightgreen;
}
div.createOrderResponseJson {
    width: 100%;
    height: 200px;
    display: none;
    background: lightgreen;
}
td.flipItemDataXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipItemDataResponseXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipItemDataJson {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightgreen;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipItemDataResponseJson {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightgreen;
    border: solid 1px #fff;
    cursor: pointer;
}
div.itemDataXml {
    width: 100%;
    height: 800px;
    display: none;
    background: lightblue;
}
div.itemDataResponseXml {
    width: 100%;
    height: 200px;
    display: none;
    background: lightblue;
}
div.itemDataJson {
    width: 100%;
    height: 800px;
    display: none;
    background: lightgreen;
}
div.itemDataResponseJson {
    width: 100%;
    height: 200px;
    display: none;
    background: lightgreen;
}
td.flipErrorCodesXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipErrorCodesJson {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightgreen;
    border: solid 1px #fff;
    cursor: pointer;
}
div.errorCodesXml {
    width: 100%;
    height: 800px;
    display: none;
    background: lightblue;
}
div.errorCodesJson {
    width: 100%;
    height: 800px;
    display: none;
    background: lightgreen;
}
td.flipClientResponseXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
td.flipClientResponseJson {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightgreen;
    border: solid 1px #fff;
    cursor: pointer;
}
div.clientResponseXml {
    width: 100%;
    height: 100px;
    display: none;
    background: lightblue;
}
div.clientResponseJson {
    width: 100%;
    height: 100px;
    display: none;
    background: lightgreen;
}
td.flipResponseSchemaXml {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: lightblue;
    border: solid 1px #fff;
    cursor: pointer;
}
div.responseSchemaXml {
    width: 100%;
    height: 400px;
    display: none;
    background: lightblue;
}
