{{- $examples := .examples -}}

<p class="mtm mbl">
  Information applies to revised services only. Services without any supported value added services are not part of the table.
</p>
<div class="mbs">
  <div class="flex flex-wrap align-ifs mbs bg-gray1 pal pr0 rad-a2px">
    <div class="mrl">
      <div class="flex flex-wrap-reverse align-ifs justify-csb">
        <div class="mrl">
          <p class="form__label">Filter by</p>
          <div class="btngroup">
            {{- partial "services/filterbtn" (dict "dataAtt" "data-vas-filterset='vas-service'" "btnText" "Service") -}}
            {{- partial "services/filterbtn" (dict "dataAtt" "data-vas-filterset='vas-type'" "btnText" "Service type") -}}
            {{- partial "services/filterbtn" (dict "dataAtt" "data-vas-filterset='vas-family'" "btnText" "Service family") -}}
          </div>
        </div>
        <div>
          <label class="form__label mrxl" for="vasfilter">
            VAS name, booking or shipping guide API request code
          </label>
          <input id="vasfilter" type="text" class="form__control mrxs w100p maxw32r"/>
        </div>
      </div>
      <div id="filtersets">
        {{- $filterScratch := newScratch -}}
        {{- $filterScratch.Add "servicetype" slice -}}
        {{- $filterScratch.Add "servicefamily" slice -}}
        {{- $filterScratch.Add "service" slice -}}
        {{- range .data -}}
          {{- range .supportedServices -}}
            {{- $filterScratch.Add "servicetype" (dict "name" .serviceType "value" .serviceType) -}}
            {{- $filterScratch.Add "servicefamily" (dict "name" .serviceFamily "value" .serviceFamily "sortOrder" .serviceFamilySortOrder) -}}
            {{- $filterScratch.Add "service" (dict "name" .serviceName "value" .serviceCode) -}}
          {{- end -}}
        {{- end -}}
        {{- partial "services/vasfilter" (dict "filterScratch" (sort (uniq ($filterScratch.Get "servicetype")) "name") "filter" "vas-type" "legendText" "Service types" ) -}}
        {{- partial "services/vasfilter" (dict "filterScratch" (sort (uniq ($filterScratch.Get "servicefamily")) "sortOrder") "filter" "vas-family" "legendText" "Service families" ) -}}
        {{- partial "services/vasfilter" (dict "filterScratch" (sort (uniq ($filterScratch.Get "service")) "name") "filter" "vas-service" "legendText" "Services" ) -}}
      </div>
    </div>
    <button type="button" class="btn-link--dark mtl mlr dn" id="clearfilters">Clear all filters</button>
  </div>
</div>

<div class="flex flex-dir-col gas" id="all-vas">
  {{- range $index, $vas := (sort .data "vasName") -}}
    <details class="mb-disclosure mb-disclosure--arrow bg-gray1 vas-item">
      <summary class="dev-anchored" id="{{ .vasName|anchorize }}">
        <span
          data-mybicon="mybicon-arrow-right"
          data-mybicon-width="16"
          data-mybicon-height="16"
        ></span>
        <span data-filter="name">{{ .vasName }}{{ if .vasNameNorwegian }} - ({{ .vasNameNorwegian }}){{ end }}</span>
      </summary>
      <div class="pam flex flex-wrap" id="vas-item{{ $index }}" data-vas-element>
        <div class="vas__codes mrm">
          <div>
            <span class="text-note fw600">API request codes</span>
            {{- if .orderedViaVasCodes -}}
              <dl class="text-note bl mb-border pls mtxs">
                <div>
                  <dt class="fwn di mrxs">Booking:</dt>
                  <dd class="di"><code data-filter="bookcode">{{ .bookingCode }}</code></dd>
                </div>
                <div>
                  <dt class="fwn di mrxs">Shipping Guide:</dt>
                  <dd class="di"><code data-filter="sgcode">{{ .shippingGuideNpbCode }}</code></dd>
                </div>
              </dl>
            {{- else -}}
              <div>
                <p class="text-note bl mb-border pls mtxs fwn di mrxs">
                  See API request examples
                </p>
                <code data-filter="bookcode" hidden>{{ .bookingCode }}</code>
                <code data-filter="sgcode" hidden>{{ .shippingGuideNpbCode }}</code>
              </div>
            {{- end -}}
          </div>
          {{- if .incompatibleVases -}}
            <div>
              <span class="text-note fw600">Incompatible with</span>
              <div class="bl mb-border pls mtxs">
                {{- range .incompatibleVases -}}
                  <a href="#{{ . | anchorize }}" class="db text-note">{{ . }}</a>
                {{- end -}}
              </div>
            </div>
          {{- end -}}
        </div>
        <div class="vas__docs">
          <p>{{ .description }}</p>
          {{- if gt (len .vasFootNotes) 0 -}}
            {{- range .vasFootNotes -}}
              <p>{{ . }}</p>
            {{- end -}}
          {{- end -}}
          <div class="mbs">
            <button
              type="button"
              data-collapse="#vascountry{{ $index }}"
              class="btn-link text-note fw600 dev-collapsible__toggler--collapsed"
            >
              <span
                data-mybicon="mybicon-arrow-right"
                data-mybicon-class="dev-collapsible__toggler__icon"
                data-mybicon-width="16"
                data-mybicon-height="16"
              ></span>
              <span>Supported services & countries</span>
            </button>
            <div class="dev-collapsible__item--collapsed pas" id="vascountry{{ $index }}">
              <table class="vascountry">
                <thead>
                  <tr class="vascountryrow">
                    <th>Service</th>
                    <th>Sender</th>
                    <th>Destination</th>
                    <th>Domestic</th>
                  </tr>
                </thead>
                <tbody>
                  {{- range .supportedServices -}}
                    <tr class="vascountryrow">
                      <td class="">{{ .serviceName }} (<code class="bg-gray3">{{ .serviceCode }}</code>)</td>
                      <td data-filter="vas-type" hidden>{{ .serviceType }}</td>
                      <td data-filter="vas-family" hidden>{{ .serviceFamily }}</td>
                      <td data-filter="vas-service" hidden>{{ .serviceCode }}</td>
                      <td class="">{{ if ne .senderCountries "-" }}{{ .senderCountries | safeHTML }}{{ end }}</td>
                      <td class="">{{ if ne .destinations "-" }}{{ .destinations | safeHTML }}{{ end }}</td>
                      <td class="">{{ if ne .domesticAllowedIn "-" }}{{ .domesticAllowedIn | safeHTML }}{{ end }}</td>
                    </tr>
                  {{- end -}}
                </tbody>
              </table>
              {{- if gt (len .serviceAndCountryFootNotes) 0 -}}
                <ol class="text-note maxw48r">
                  {{- range .serviceAndCountryFootNotes -}}
                    <li>{{ . }}</li>
                  {{- end -}}
                </ol>
              {{- end -}}
            </div>
          </div>
          {{- range where $examples "api" "booking" -}}
            {{- range where .vas "id" $vas.bookingCode -}}
              <div class="mbs">
                <button
                  type="button"
                  data-collapse="#example{{ $vas.bookingCode }}"
                  class="btn-link text-note fw600 dev-collapsible__toggler--collapsed"
                >
                  <span
                    data-mybicon="mybicon-arrow-right"
                    data-mybicon-class="dev-collapsible__toggler__icon"
                    data-mybicon-width="16"
                    data-mybicon-height="16"
                  ></span>
                  <span>Booking API request examples</span>
                </button>
                <div class="dev-collapsible__item--collapsed pas pt0" id="example{{ $vas.bookingCode }}">
                  {{- with .html -}}
                    <div class="pam">
                      {{ . | safeHTML }}
                    </div>
                  {{- end -}}
                  <div class="flex flex-wrap gaxs" role="tablist" aria-label="Code examples">
                    {{- with .json -}}
                      <button
                        type="button"
                        role="tab"
                        class="mb-card mb-card--active pas"
                        aria-selected="true"
                        aria-controls="example_json_{{ $vas.bookingCode }}"
                        data-toggle="{{ $vas.bookingCode }}"
                      >application/json</button>
                    {{- end -}}
                    {{- if .xml -}}
                      <button
                        type="button"
                        role="tab"
                        class="mb-card pas"
                        aria-selected="{{ if .json }}false{{ else }}true{{ end }}"
                        aria-controls="example_xml_{{ $vas.bookingCode }}"
                        data-toggle="{{ $vas.bookingCode }}"
                      >application/xml</button>
                    {{- end -}}
                  </div>
                  <div>
                    {{- with .json }}
                      <div
                        role="tabpanel"
                        class="mts mbl"
                        id="example_json_{{ $vas.bookingCode }}"
                        data-tab-group="{{ $vas.bookingCode }}"
                      >
                        {{ highlight . "json" "" }}
                      </div>
                    {{- end -}}
                    {{- if .xml -}}
                      <div
                        role="tabpanel"
                        class="mts mbl {{ if .json }}dn{{ end }}"
                        id="example_xml_{{ $vas.bookingCode }}"
                        data-tab-group="{{ $vas.bookingCode }}"
                      >
                        {{ highlight .xml "xml" "" }}
                      </div>
                    {{- end -}}
                  </div>
                </div>
              </div>
            {{- end -}}
          {{- end -}}
        </div>
      </div>
    </details>
  {{- end -}}
</div>
<div class="cutoff-overlay" id="vas-cutoff">
  <button type="button" class="btn btn--white w100p maxw32r" id="showAll">Show all VAS</button>
</div>
