---
title: Ledige stillinger i webavdelingen
layout: blog
---

<h2>Ledige stillinger i webavdelingen</h2>

<p>
  Vi lager webapplikasjoner — alt fra Posten sin mobilapp for sporing av pakker til logistikk&shy;systemer for Bring sine bedriftskunder i hele Norden. Vi er nå ~50 utviklere, både ansatte og konsulenter, og har masse utfordringer som vi trenger å bli flere folk for å løse bra.
</p>

{% include_relative systems.svg %}

<h3>Vi tilbyr eierskap og frihet 🚀</h3>
<p>
Teamene har ansvar for hele stacken fra brukerflatene ned til databasen. Du får mulighet til å fokusere på det du synes er viktigst og mest gøy. Du bruker den tiden som trengs for å lage løsninger av høy kvalitet, for minst mulig forvaltning og vedlikehold. Dette gir deg gode muligheter for faglig utvikling, og til å lære både teknologier og logistikkdomenet. Du er med på å bestemme retningen — både teknologisk og funksjonelt — for systemene vi lager.
</p>

<h3>Vi ser etter deg som… 👀</h3>
<ul>
  <li>har noen års erfaring med webutvikling.</li>
  <li>ser på deg selv som
    <ul>
      <li>systemutvikler,</li>
      <li>frontendutvikler,</li>
      <li>eller er spesielt interessert i sikkerhet.</li>
    </ul>
  </li>
  <li>snakker norsk, svensk eller dansk.</li>
  <li>vil ha arbeidssted i Posthuset i Oslo, eller i Trondheim.</li>
</ul>

<h3>Klar for en prat for finne ut mer? ✏️</h3>
<p>
  Søknader behandles fortløpende. <strong><a href="mailto:arne.moen@bring.com?cc=endre.midtgard.meckelborg@bring.com" class="linkish">Send CV på e-post</a></strong> til Arne og Endre.<br>
  Avdelingsleder Arne Moen, telefon 902&nbsp;02&nbsp;239<br>
  Fagsjef <span translate="no">Endre Midtgård Meckelborg</span>, telefon 930&nbsp;14&nbsp;504</p>

{% include_relative tech-stack.svg %}

<h3>Lære mer om hva vi driver med?</h3>
<p>Det hender vi skriver <strong><a class="linkish" href="{{ site.baseurl }}/blog/">bloggposter</a></strong>. Noen eksempler:</p>

<ul>
  <li>
    <a href="{{ site.baseurl }}/blog/websocket-bug-hunt/">The Websocket Bug Hunt</a> 🐛
  </li>
  <li>
    <a href="{{ site.baseurl }}/blog/yes-its-okay/">Is it okay to…? Yes! It’s okay to…</a> 👌
  </li>
  <li>
    <a href="{{ site.baseurl }}/blog/alerting-in-grafana/">Alerting in grafana</a> 🚨
  </li>
  <li>
    <a href="{{ site.baseurl }}/blog/tuning-postgres-connection-pools/">Tuning postgres connection pools</a> 🔨
  </li>
  <li>
    <a href="{{ site.baseurl }}/blog/the-value-of-firedrills/">The value of firedrills</a> 🔥
  </li>
</ul>

<img src="{{ site.baseurl }}/jobs/everyone.jpg" alt="Webavdelingen med omegn">
<p>Webavdelingen med omegn, på taket av Posthuset sommeren 2017.</p>
