{{- partial "icons.svg" . -}}
  <div class="flexgrid flexgrid--gutters-m justify-cc mbl">
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/shipping-guide_2/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#shippingguide" /></svg>
        <h2 class="text-heading">Shipping Guide API</h2>
        <p>
          Look up available options for shipping with Bring: price information,
          service&nbsp;area, estimated delivery times, delivery alternatives.
        </p>
      </a>
    </div>
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/pickup-point/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#pickuppoint" /></svg>
        <h2 class="text-heading">Pickup Point API</h2>
        <p>
          List the nearest pickup points. These are locations that deliver
          packages for Bring and Posten, such as post offices and selected
          grocery stores.
        </p>
      </a>
    </div>
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/postal-code/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#postalcode" /></svg>
        <h2 class="text-heading">Postal Code API</h2>
        <p>
          Check if a number is a valid postal code, and look up name of the
          geografic area. For&nbsp;Norway and some additional supported
          countries.
        </p>
      </a>
    </div>
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/booking/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#booking" /></svg>
        <h2 class="text-heading">Booking API</h2>
        <p>
          A logged-in service for Mybring users that let’s you programatically
          book shipments and generate PDF labels.
        </p>
      </a>
    </div>
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/tracking/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#tracking" /></svg>
        <h2 class="text-heading">Tracking API</h2>
        <p>
          Use a reference, package or shipment number to display details about
          sender, recipient, weight/volume, shipment history and current status.
        </p>
      </a>
    </div>
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/reports/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#reports" /></svg>
        <h2 class="text-heading">Reports API</h2>
        <p>
          A logged-in service for Mybring users. Generate shipment reports, the
          same reports that are available for you about a set of customers in
          Mybring.
        </p>
      </a>
    </div>
    <div class="flex flexgrid__item w100p w25p-l">
      <a href="api/order-management/" class="dev-link--box w100p">
        <svg class="dev-icon--big mbm"><use xlink:href="#purchaseorder" /></svg>
        <h2 class="text-heading">Order Management API</h2>
        <p>
          A logged-in service for Mybring users. Suppliers and customers can
          create, update and query orders and transport information.
        </p>
      </a>
    </div>
  </div>
