<div class="dev-blog">
  {{- range where .Paginator.Pages "Section" "blog" -}}
    <article class="dev-blog__post">
      <header class="dev-blog__post__header">
        <h2 class="dev-blog__post__heading alpha">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        {{ partial "blog-meta.html" . }}
      </header>
      <div class="dev-blog__post__content">
        {{- with .Resources.Match (print .Params.heroImage) -}}
          {{- range first 1 . -}}
            <img class="mbm" src="{{ .RelPermalink }}" alt="" />
          {{- end -}}
        {{- end -}}
        <p>{{ .Summary | plainify | htmlUnescape }}</p>
        <a href="{{ .RelPermalink }}">Read more ></a>
      </div>
    </article>
  {{- end -}}
  {{- $paginator := .Paginator -}}
  {{- if gt $paginator.TotalPages 1 -}}
    <ul class="pagination w100p maxw100p m-auto tc mvl">
      <li class="pagination__element">
        {{- if $paginator.HasPrev -}}
          <a
            href="{{ $paginator.Prev.URL }}"
            title="Newer posts"
            class="pagination__btn"
          >
            <span
              data-mybicon="mybicon-arrow-left"
              data-mybicon-class="icon-ui"
            ></span>
          </a>
          {{- else -}}
          <span
            class="pagination__btn pagination__btn--inactive"
            title="There are no newer posts"
            ><span
              data-mybicon="mybicon-arrow-left"
              data-mybicon-class="icon-ui"
            ></span
          ></span>
        {{- end -}}
      </li>

      {{ range $paginator.Pagers }}
        {{ $active := "" }}
        {{ if eq . $paginator }}
          {{ $active = "pagination__btn--active" }}
        {{ end }}
        <li class="pagination__element">
          <a href="{{ .URL }}" class="pagination__btn {{ $active }}"
            >{{ .PageNumber }}</a
          >
        </li>
      {{ end }}

      {{- if $paginator.HasNext -}}
        <a
          href="{{ $paginator.Next.URL }}"
          title="Older posts"
          class="pagination__btn"
        >
          <span
            data-mybicon="mybicon-arrow-right"
            data-mybicon-class="icon-ui"
          ></span>
        </a>
        {{- else -}}
        <span
          class="pagination__btn pagination__btn--inactive"
          title="There are no older posts"
          ><span
            data-mybicon="mybicon-arrow-right"
            data-mybicon-class="icon-ui"
          ></span
        ></span>
      {{- end -}}
    </ul>
  {{- end -}}
</div>
