{{- partial "icons.svg" -}}
<div class="dev-blog__post__meta flexgrid gaps mbm">
  <div class="dev-blog__post__meta-item flexgrid gaps">
    {{- range $.Param "authors" -}}
      <a href="https://github.com/{{ . }}">
        <img
          alt="👤"
          class="dev-blog-meta-icon"
          src="https://avatars.githubusercontent.com/{{ . }}?s=48"
          width="24"
          height="24"
        />
        <span>{{ . }}</span>
      </a>
    {{- end -}}
  </div>
  <div class="dev-blog__post__meta-item flexgrid align-ic">
    <svg class="icon"><use xlink:href="#calendar" /></svg>
    <time
      datetime="{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" | safeHTML }}"
      >&nbsp;{{ .PublishDate.Format "Jan 2, 2006" }}</time
    >
  </div>
  <div class="dev-blog__post__meta-item flexgrid align-ic">
    <svg class="icon"><use xlink:href="#tag" /></svg>
    &nbsp;
    <div class="list-inline">
      {{- range $index, $tags := (.GetTerms "tags") -}}
        {{- $comma := ", " -}}
        {{- if $index -}}{{- $comma -}}{{- end -}}
        <a href="{{ .RelPermalink }}">
          {{- .LinkTitle -}}
        </a>
      {{- end -}}
    </div>
  </div>
</div>
