<footer class="sitefooter">
    <div class="sitefooter__terms pvs">
      <span class="mrm"
        >&copy;
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        Posten Bring AS
      </span>
      <div>
        <a class="mrm" href="http://www.bring.com/privacy-policy">Privacy policy</a>
        <a class="mrm" href="http://www.bring.com/use-of-cookies">Cookies</a>
        <a class="mrm" href="{{ "/General_Terms_and_Conditions_for_Self_Service_Solutions.pdf" | relURL }}">
          General Terms and Conditions for Self Service Solutions
        </a>
        <a href="{{ "/subcontractors/" | relURL }}">Subcontractors</a>
      </div>
    </div>
</footer>
<script defer src="https://www.mybring.com/design-system/js/iconsystem-vanilla.js?ts={{ now.Unix }}"></script>
<script>(function(){var r,d=document,gt=d.getElementById,cr=d.createElement,tg=d.getElementsByTagName,id="aidaform-embed";if(!gt.call(d,id)){r=cr.call(d,"script");r.id=id;r.src="https://embed.aidaform.com/embed.js";(d.head || tg.call(d,"head")[0]).appendChild(r);}})()</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const footerTrigger = document.querySelector('footer')
    const ecomObserverOptions = {
      root: null,
      rootMargin: '200px',
      threshold: 1.0
    }

    function observeHeading(footerTrigger) {
      for (const footerEl of footerTrigger) {
      if(footerEl.isIntersecting) {
          const form = document.querySelector('#aidaform');
          form.classList.add('visible');
        }
      }
    }

    const ecomObserver = new IntersectionObserver(observeHeading,ecomObserverOptions);
    setTimeout(() => {
      ecomObserver.observe(footerTrigger);
    }, 7000);

  })
</script>
