<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- with .Params.hidden -}}
    <meta name="robots" content="noindex, nofollow">
  {{- end -}}
  <meta http-equiv="expires" content="{{ now.Unix }}" />
  {{ with .Summary }}
    <meta name="description" content="{{ . | plainify | htmlUnescape }}" />
  {{ end }}
  <title>
    {{- with .Title -}}{{ if not ( eq . $.Site.Title) }}{{ . }} –
    {{ end }}{{- end -}}{{ .Site.Title }}
  </title>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://www.mybring.com/design-system/css/main.min.css?ts={{ now.Unix }}"
  />
  {{ if not $.Site.IsServer }}
    {{- $jsManifest := getJSON "static/assets/manifest.json" -}}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{- print "/assets/" (index $jsManifest "js/main.css" "file") | relURL -}}"
    />
  {{ end }}
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ "favicon.ico" | relURL }}"
  />
  <link rel="canonical" href="{{ .Permalink }}" />
</head>
