{{- $currentPage := . -}}

<nav class="dev-sidemenu" aria-label="Section">
  {{- if eq .Section "api" -}}
    <ul class="dev-sidemenu__list">
      {{- $len := (len .Site.Menus.api) -}}
      {{- range $index, $element := .Site.Menus.api -}}
        {{- $lastElement := "" -}}
        {{- if eq (add $index 1) $len -}}
          {{- $lastElement = "dev-sidemenu__separator pbm mbm" -}}
        {{- end -}}

        {{- $hidePage := false -}}
        {{- with .Page -}}
          {{- $hidePage = .Params.hidden -}}
        {{- end -}}

        {{ if (ne $hidePage true) }}
          <li
            class="dev-sidemenu__level1 {{ if (or ($currentPage.IsMenuCurrent .Menu .) ( and ($currentPage.HasMenuCurrent .Menu .) ( .HasChildren ))) }}active{{ end }} {{ $lastElement }}"
          >
            {{- $target := "" -}}
            {{- $iconEx := "" -}}
            {{- with .Params.blank -}}
              {{- $target = . -}}
              {{- $iconEx = "<span data-mybicon='mybicon-external-link' data-mybicon-class='mls dev-sidemenu__icon' data-mybicon-width='14' data-mybicon-height='14'></span>" -}}
            {{- end -}}
            <a
              href="{{ .URL | relURL }}"
              {{ $target | safeHTMLAttr }}
              class="dev-sidemenu__apititle"
            >
              {{ safeHTML .Title }}{{ safeHTML $iconEx }}
            </a>

            {{- if (and (.HasChildren) (or ($currentPage.HasMenuCurrent .Menu .) ($currentPage.IsMenuCurrent .Menu .) ) ) -}}
              <ul class="dev-sidemenu__sublist">
                {{- range .Children -}}
                  <li>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                    {{- if and (eq $currentPage .Page) (or (isset $.Params "examples") (isset $.Params "apis")) -}}
                      <ul class="dev-sidemenu__sublist text-note">
                        {{- range $.Params.examples -}}
                          <li>
                            <a href="/api/checkout-guide-norway/example/{{ .slug }}">{{ .title }}</a>
                          </li>
                        {{- end -}}
                        {{- range $.Params.apis -}}
                          <li>
                            <a href="/api/checkout-guide-norway/api/{{ .slug }}">{{ .title }}</a>
                          </li>
                        {{- end -}}
                      </ul>
                    {{- end -}}
                  </li>
                {{- end -}}
              </ul>
            {{- else if $currentPage.IsMenuCurrent .Menu . -}}
              {{- partial "toc.html" (dict "context" $currentPage "numberOfHeadings" "3" ) -}}
            {{- end -}}
          </li>
        {{ end }}
      {{- end -}}
    </ul>

    <h2 class="dev-sidemenu__title text-heading ttu">API Services</h2>
    {{- $apiData := .Site.Data.api -}}
    {{- range $index, $apiDocs := .Site.Menus.apidocs -}}
      {{- if .HasChildren -}}
        <a href="#" data-collapse="#service-btn{{add $index 1}}" class="dev-collapsible__toggler dev-collapsible__toggler--collapsed" style="background-color: transparent;padding:0.5rem;">
          <svg class="dev-collapsible__toggler__icon" width="16" height="16" viewBox="0 0 320 512">
            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
          </svg>
          <h4>{{ .Title }}</h4>
        </a>
        <ul class="dev-sidemenu__list dev-collapsible__item--collapsed" id="service-btn{{add $index 1}}">
          {{ range .Children }}
            {{- $identifier := .Identifier -}}
            <li
              class="dev-sidemenu__level1 {{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }}" 
            >
              <a href="{{ .URL }}" class="dev-sidemenu__apititle"
                >{{ .Title }}</a
              >
              {{- $currentMenu := .Menu -}}
              {{- $currentMenuItem := . -}}
              {{- with (index $apiData $identifier) -}}
                {{- if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem -}}
                  <ul class="dev-sidemenu__sublist">
                    {{- range $.Params.documentation -}}
                      {{- with .title -}}
                        <li>
                          <a href="#{{ . | urlize }}">
                            <span data-hover="{{ . }}">{{ . }}</span>
                          </a>
                        </li>
                        {{- end -}}
                    {{- end -}}

                    <li>
                      <a href="#overview-of-endpoints">
                        <span data-hover="overview-of-endpoints"
                          >Overview of endpoints</span
                        >
                      </a>
                    </li>

                    {{- range .resources -}}
                      <li>
                        <a href="#{{ .displayName | urlize }}">
                          <span data-hover="{{ .displayName }}"
                            >{{ .displayName }}</span
                          >
                        </a>
                      </li>
                    {{- end -}}
                    {{- if and (eq (getenv "HUGO_ENV") "production") (isset $.Params "disqus_identifier") -}}
                      <li>
                        <a href="#api-support">
                          API support
                        </a>
                      </li>
                    {{- end -}}
                  </ul>
                {{- end -}}
              {{- end -}}
            </li>
          {{- end -}}
        </ul>
        {{- else -}}
        <ul class="dev-sidemenu__list">
          {{- $identifier := .Identifier -}}
          <li
            class="dev-sidemenu__level1 {{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }}"
          >
            <a href="{{ .URL }}" class="dev-sidemenu__apititle">{{ .Title }}</a>
            {{- $currentMenu := .Menu -}}
            {{- $currentMenuItem := . -}}
            {{- with (index $apiData $identifier) -}}
              {{- if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem -}}
                <ul class="dev-sidemenu__sublist">
                  {{- range .documentation -}}
                    <li>
                      <a href="#{{ .title | urlize }}">
                        <span data-hover="{{ .title }}">{{ .title }}</span>
                      </a>
                    </li>
                  {{- end -}}

                  <li>
                    <a href="#overview-of-endpoints">
                      <span data-hover="overview-of-endpoints"
                        >Overview of endpoints</span
                      >
                    </a>
                  </li>

                  {{- range .resources -}}
                    <li>
                      <a href="#{{ .displayName | urlize }}">
                        <span data-hover="{{ .displayName }}"
                          >{{ .displayName }}</span
                        >
                      </a>
                    </li>
                  {{- end -}}
                </ul>
              {{- end -}}
            {{- end -}}
          </li>
        </ul>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if eq .Section "edi" -}}
    <ul class="dev-sidemenu__list">
      {{- range .Site.Menus.edi -}}
        <li
          class="dev-sidemenu__level1 {{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }}"
        >
          {{- $target := "" -}}
          {{- with .Params.blank -}} {{- $target = . -}} {{- end -}}
          <a
            href="{{ .URL | relURL }}"
            class="dev-sidemenu__apititle"
            {{ $target | safeHTMLAttr }}
            >{{ safeHTML .Title }}</a
          >
          {{- if $currentPage.IsMenuCurrent .Menu . -}}
            {{- partial "toc.html" (dict "context" $currentPage "numberOfHeadings" "3" ) -}}
          {{- end -}}
        </li>
      {{- end -}}
    </ul>
  {{- end -}}
</nav>
