{{- $currentPage := . -}}
{{ $currentLanguage := .Site.Language }}
{{- $iconExHtml := "<span data-mybicon='mybicon-external-link' data-mybicon-class='mls dev-sidemenu__icon' data-mybicon-width='14' data-mybicon-height='14'></span>" -}}
{{ if gt ($currentPage.Translations | len) 0 }}
  {{ range $currentPage.Translations }}
    {{ if eq (string .Language) "en" }}
      {{ $currentPage = . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ with $currentPage }}
<div class="dev-sidemenu {{ if .IsHome }}dev-sidemenu--front{{ end }}">
  {{- if or (eq .Section "api") (.IsHome) -}}
    <nav aria-label="General API info">
      <ul class="dev-sidemenu__list mb-border bb">
        {{- $len := (len .Site.Menus.api) -}}
        {{- range $index, $element := .Site.Menus.api -}}
          {{- $lastElement := "" -}}
          {{- if eq (add $index 1) $len -}}
            {{- $lastElement = "mbm" -}}
          {{- end -}}

          {{- $hidePage := false -}}
          {{- $url := .URL -}}
          {{- with .Page -}}
            {{/*  Semi-hacky way to prevent category from linking to untranslated category page  */}}
            {{- $categoryCheckUrl := strings.TrimLeft "/no" .RelPermalink -}}
            {{- $categoryCheckUrl = strings.TrimRight "/" $categoryCheckUrl -}}
            {{- $hidePage = .Params.hidden -}}
            {{- if and (gt (len .Translations) 0) (ne $categoryCheckUrl $.Section) -}}
              {{- range .Translations -}}
                {{- if eq (string .Language) (string $currentLanguage) -}}
                  {{- $url = .RelPermalink -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- if (ne $hidePage true) -}}
            <li
              class="{{ if (or ($currentPage.IsMenuCurrent .Menu .) ( and ($currentPage.HasMenuCurrent .Menu .) ( .HasChildren ))) }}active{{ end }} {{ $lastElement }}"
            >
              {{- $target := "" -}}
              {{- $iconEx := "" -}}
              {{- if .Params.blank -}}
                {{- $target = "target=\"_blank\" rel=\"noopener noreferrer\"" -}}
                {{- $iconEx = $iconExHtml -}}
              {{- end -}}
              <a
                href="{{ $url | relURL }}"
                {{ if $currentPage.IsMenuCurrent .Menu . }}aria-current="page"{{ end }}
                {{ $target | safeHTMLAttr }}
                class="dev-sidemenu__apititle"
              >
                {{ .Title | safeHTML }}{{ safeHTML $iconEx }}
              </a>

              {{- if (and (.HasChildren) (or ($currentPage.HasMenuCurrent .Menu .) ($currentPage.IsMenuCurrent .Menu .) ) ) -}}
                <ul class="plxs">
                  {{- range .Children -}}
                    {{- $target := "" -}}
                    {{- $iconEx := "" -}}
                    {{ $url := .URL }}
                    {{- with .Page -}}
                      {{ if gt (.Translations | len) 0 }}
                        {{ range .Translations }}
                          {{ if eq (string .Language) (string $currentLanguage) }}
                            {{ $url = .RelPermalink }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                    {{- end -}}
                    {{- if .Params.blank -}}
                      {{- $target = "target=\"_blank\" rel=\"noopener noreferrer\"" -}}
                      {{- $iconEx = $iconExHtml -}}
                    {{- end -}}
                    <li>
                      <a
                        href="{{ $url }}"
                        {{ if $currentPage.IsMenuCurrent .Menu . }}class="active" aria-current="page"{{ end }}
                        {{ $target | safeHTMLAttr }}
                      >
                        {{ .Title | safeHTML }} {{ safeHTML $iconEx }}
                      </a>

                      {{- if (and (.HasChildren) (or ($currentPage.HasMenuCurrent .Menu .) ($currentPage.IsMenuCurrent .Menu .) ) ) -}}
                        <ul class="text-note">
                          {{- range .Children -}}
                            {{ $url := .URL }}
                            {{- with .Page -}}
                              {{ if gt (.Translations | len) 0 }}
                                {{ range .Translations }}
                                  {{ if eq (string .Language) (string $currentLanguage) }}
                                    {{ $url = .RelPermalink }}
                                  {{ end }}
                                {{ end }}
                              {{ end }}
                            {{- end -}}
                            <li>
                              <a href="{{ $url }}" {{ if $currentPage.IsMenuCurrent .Menu . }}class="active" aria-current="page"{{ end }}>
                                {{ .Title | safeHTML }}
                              </a>
                            </li>
                          {{- end -}}
                        </ul>
                      {{- end -}}
                    </li>
                  {{- end -}}
                </ul>
              {{- else if $currentPage.IsMenuCurrent .Menu . -}}
                {{- partial "toc.html" (dict "context" $currentPage "numberOfHeadings" "3" ) -}}
              {{- end -}}
            </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </nav>
    <nav aria-label="API sections">
      <ul class="dev-sidemenu__list">
        {{- $apiData := .Site.Data.api -}}
        {{- range .Site.Menus.apidocs -}}
          <li class="pbs">
            {{- if .HasChildren -}}
              <span class="dev-sidemenu__title">{{ .Title }}</span>
              <ul>
                {{ range .Children }}
                  {{- $hidePage := false -}}
                  {{- with .Page -}}
                    {{- $hidePage = .Params.hidden -}}
                  {{- end -}}
                  {{- if or (eq $currentPage.Params.hidden true) (ne $hidePage true) -}}
                    {{- if or (eq .Title "Order Management API") (eq .Title "Booking API") (eq .Title "Shipping Guide API") -}}
                      {{- partial "sidemenulist.html" (dict "ctx" . "currentPage" $currentPage "menu" .Menu "identifier" .Identifier "pageTitle" .Title "url" .URL "oasData" $.Params.oas "apiData" $apiData "prefix" "soap") -}}
                    {{- else if isset $.Params "oas" -}}
                      {{- partial "sidemenulist.html" (dict "ctx" . "currentPage" $currentPage "menu" .Menu "identifier" .Identifier "pageTitle" .Title "url" .URL "oasData" $.Params.oas) -}}
                    {{- else if isset $.Params "oaslocal" -}}
                      {{- partial "sidemenulist.html" (dict "ctx" . "currentPage" $currentPage "menu" .Menu "identifier" .Identifier "pageTitle" .Title "url" .URL "oasData" $.Params.oaslocal) -}}
                    {{- else -}}
                      {{- partial "sidemenulist.html" (dict "ctx" . "currentPage" $currentPage "menu" .Menu "identifier" .Identifier "pageTitle" .Title "url" .URL "apiData" $apiData) -}}
                    {{- end -}}
                  {{- end -}}
                {{- end -}}
              </ul>
            {{- else -}}
            <ul>
              {{- $identifier := .Identifier -}}
              <li
                {{ if $currentPage.IsMenuCurrent .Menu . }}class="active" aria-current="page"{{ end }}
              >
                <a href="{{ .URL }}" class="dev-sidemenu__apititle">{{ .Title }}</a>
                {{- $currentMenu := .Menu -}}
                {{- $currentMenuItem := . -}}
                {{- with (index $apiData $identifier) -}}
                  {{- if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem -}}
                    <ul>
                      {{- range .documentation -}}
                        <li>
                          <a href="#{{ .title | anchorize }}">
                            <span data-hover="{{ .title }}">{{ .title }}</span>
                          </a>
                        </li>
                      {{- end -}}

                      <li>
                        <a href="#endpoints">
                          <span data-hover="endpoints"
                            >Endpoints</span
                          >
                        </a>
                      </li>

                      {{- range .resources -}}
                        <li>
                          <a href="#{{ .displayName | anchorize }}">
                            <span data-hover="{{ .displayName }}"
                              >{{ .displayName }}</span
                            >
                          </a>
                        </li>
                      {{- end -}}
                    </ul>
                  {{- end -}}
                {{- end -}}
              </li>
            </ul>
          </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </nav>
  {{- end -}}
  {{- if eq .Section "edi" -}}
    <nav aria-label="EDIFACT sections">
      <ul class="dev-sidemenu__list">
        {{- range .Site.Menus.edi -}}
          <li
            {{ if $currentPage.IsMenuCurrent .Menu . }}class="active" aria-current="page"{{ end }}
          >
            {{- $target := "" -}}
            {{- if .Params.blank -}} {{- $target = "target=\"_blank\" rel=\"noopener noreferrer\"" -}} {{- end -}}
            <a
              href="{{ .URL | relURL }}"
              class="dev-sidemenu__apititle"
              {{ $target | safeHTMLAttr }}
              >{{ safeHTML .Title }}</a
            >
            {{- if $currentPage.IsMenuCurrent .Menu . -}}
              {{- partial "toc.html" (dict "context" $currentPage "numberOfHeadings" "3" ) -}}
            {{- end -}}
          </li>
        {{- end -}}
      </ul>
    </nav>
  {{- end -}}
  </div>
{{ end }}
