{{ $ctx := .ctx }}
{{- $oasData := "" -}}
{{- with $ctx.Params.oas -}}
  {{- $oasData = resources.GetRemote . | transform.Unmarshal -}}
{{- end -}}
{{- $apiData := "" -}}
{{- with .apiData -}}
  {{- $apiData = . -}}
{{- end -}}
{{- $anchor := "#" -}}
{{- if .isParent -}}
  {{- $anchor = "../#" -}}
{{- end -}}
{{- $identifier := .identifier -}}
{{- $prefix := .prefix -}}

{{- range $ctx.Params.documentation -}}
  {{- with .title -}}
    <li>
      <a href="{{ $anchor }}{{ . | anchorize }}" data-list-item="{{ . | anchorize }}">
        <span data-hover="{{ . }}">{{ . }}</span>
      </a>
    </li>
  {{- end -}}
{{- end -}}

{{/*  special solution for warehousing  */}}
{{- range $ctx.Params.html -}}
  {{- with .title -}}
    <li>
      <a href="{{ $anchor }}{{ . | anchorize }}" data-list-item="{{ . | anchorize }}">
        <span data-hover="{{ . }}">{{ . }}</span>
      </a>
    </li>
  {{- end -}}
{{- end -}}

{{- with $ctx.Params.guides -}}
  <li>
    <a href="{{ $anchor }}tips-and-guides" data-list-item="tips-and-guides">
      <span data-hover="Tips and guides">Tips and guides</span>
    </a>
  </li>
{{- end -}}

{{- with or (and ($apiData) (index $apiData $identifier)) $oasData -}}
  {{- with or .resources .paths -}}
    <li>
      <a href="{{ $anchor }}endpoints" data-list-item="endpoints">
        <span data-hover="endpoints">Endpoints</span>
      </a>
    </li>
  {{- end -}}
{{- end -}}

{{- with $oasData -}}
  {{- $sortedPaths := partial "api/oas/sort-paths.html" (dict "paths" .paths) -}}
  {{- range $sortedPaths -}}
    {{- range . -}}
      {{- range $k, $v := . -}}
        {{- $method := $k -}}
        {{- with .summary -}}
          {{- $endpointId := (printf "%s-%s" . $method) | anchorize -}}
          <li>
            <a href="{{ $anchor }}{{ $endpointId }}" data-list-item="{{ $endpointId }}">
              <span data-hover="{{ . }}">
                {{- . -}}
              </span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with (and ($apiData) (index $apiData $identifier)) -}}
  {{- range .resources -}}
    {{- $method := "" -}}
    {{- range .methods -}}
      {{- with .method -}}
        {{- $method = . -}}
      {{- end -}}
    {{- end -}}
    {{- $endpointId := (print $prefix .displayName "-" $method) | anchorize -}}
    <li>
      <a href="{{ $anchor }}{{ $endpointId }}" data-list-item="{{ $endpointId }}">
        <span data-hover="{{ .displayName }}">
          {{- .displayName -}}
        </span>
      </a>
    </li>
  {{- end -}}
{{- end -}}
