{{- $currentPage := .currentPage -}}
{{- $currentMenuItem := .ctx -}}
{{- $currentMenu := .menu -}}
{{- $oasData := "" -}}
{{- with .oasData -}}
  {{- $oasData = getJSON . -}}
{{- end -}}
{{- $prefix := "" -}}
{{- with .prefix -}}
  {{- $prefix = (print . "-") -}}
{{- end -}}

{{- $target := "" -}}
{{- $iconEx := "" -}}
{{- if $currentMenuItem.Params.blank -}}
  {{- $target = "target=\"_blank\" rel=\"noopener noreferrer\"" -}}
  {{- $iconEx = "<span data-mybicon='mybicon-external-link' data-mybicon-class='mls dev-sidemenu__icon' data-mybicon-width='14' data-mybicon-height='14'></span>" -}}
{{- end -}}
{{ .Params }}

<li
class="dev-sidemenu__level1 {{ if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem }}active{{ end }}"
>
  <a href="{{ .url }}" class="dev-sidemenu__apititle" {{ $target | safeHTMLAttr }}>{{ .pageTitle }}{{ safeHTML $iconEx }}</a>
  {{- if $currentPage.IsMenuCurrent $currentMenu $currentMenuItem -}}
    <ul class="dev-sidemenu__sublist">
      {{- range $currentPage.Params.documentation -}}
        {{- with .title -}}
          <li>
            <a href="#{{ . | anchorize }}" data-list-item="{{ . | anchorize }}">
              <span data-hover="{{ . }}">{{ . }}</span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}

      {{- with $currentPage.Params.guides -}}
        <li>
          <a href="#tips-and-guides" data-list-item="tips-and-guides">
            <span data-hover="Tips and guides">Tips and guides</span>
          </a>
        </li>
      {{- end -}}

      {{- with or (and (.apiData) (index .apiData .identifier)) $oasData -}}
        {{- with or .resources .paths -}}
          <li>
            <a href="#endpoints" data-list-item="endpoints">
              <span data-hover="endpoints">Endpoints</span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}

      {{- with $oasData -}}
        {{- range .paths -}}
          {{- range $k, $v := . -}}
            {{- $method := $k -}}
            {{- $endpointId := (printf "%s-%s" .summary $method) | anchorize -}}
            <li>
              <a href="#{{ $endpointId }}" data-list-item="{{ $endpointId }}">
                <span data-hover="{{ .summary }}">
                  {{- .summary -}}
                </span>
              </a>
            </li>
          {{- end -}}
        {{- end -}}
      {{- end -}}

      {{- with (and (.apiData) (index .apiData .identifier)) -}}
        {{- range .resources -}}
          {{- $method := "" -}}
          {{- range .methods -}}
            {{- with .method -}}
              {{- $method = . -}}
            {{- end -}}
          {{- end -}}
          {{- $endpointId := (print $prefix .displayName "-" $method) | anchorize -}}
          <li>
            <a href="#{{ $endpointId }}" data-list-item="{{ $endpointId }}">
              <span data-hover="{{ .displayName }}">
                {{- .displayName -}}
              </span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}

      {{- if and (eq (getenv "HUGO_ENV") "production") (isset $currentPage.Params "disqus_identifier") -}}
        <li>
          <a href="#api-support">
            API support
          </a>
        </li>
      {{- end -}}

    </ul>
  {{- end -}}
</li>
