<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://bring.us5.list-manage.com/subscribe/post?u=f6b9d5de1a234124c14558d51&amp;id=8b45ecec29" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group flex flex-dir-col">
        <fieldset class="flex flex-dir-col">
          <legend>API areas</legend>
          <label class="form__radio">
            <input type="radio" value="All" name="APIAREA" id="mce-APIAREA-0" data-api-area checked>
            All
          </label>
          <label class="form__radio">
            <input type="radio" value="Select API area" name="APIAREA" id="mce-APIAREA-1" aria-controls="api-areas" data-api-area>
            Select API area
          </label>
        </fieldset>
        <fieldset>
          <legend class="screen-reader-text">Select one of the API areas</legend>
          <div class="flex flex-wrap plm gas mbm api-area-checkboxes hidden" id="api-areas">
            <label class="form__check">
              <input type="checkbox" value="1" name="group[383557][1]" id="mce-group[383557]-383557-0">
              Checkout
            </label>
            <label class="form__check">
              <input type="checkbox" value="2" name="group[383557][2]" id="mce-group[383557]-383557-1">
              Booking
            </label>
            <label class="form__check">
              <input type="checkbox" value="4" name="group[383557][4]" id="mce-group[383557]-383557-2">
              Tracking
            </label>
            <label class="form__check">
              <input type="checkbox" value="8" name="group[383557][8]" id="mce-group[383557]-383557-3">
              Warehousing
            </label>
            <label class="form__check">
              <input type="checkbox" value="16" name="group[383557][16]" id="mce-group[383557]-383557-4">
              Reports and invoices
            </label>
            <label class="form__check">
              <input type="checkbox" value="32" name="group[383557][32]" id="mce-group[383557]-383557-5">
              Order management
            </label>
          </div>
        </fieldset>
      </div>
      <div class="mc-field-group">
        <label for="mce-EMAIL" class="form__label">Email address
        </label>
        <input type="email" value="" name="EMAIL" class="form__control required email" id="mce-EMAIL">
      </div>
      <div id="mergeRow-gdpr" class="mbm mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
        <div class="content__gdpr">
          <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
            <label class="checkbox subfield form__check mbm" for="gdpr_366129"><input type="checkbox" id="gdpr_366129" name="gdpr[366129]" value="Y" class="av-checkbox gdpr">I confirm that Posten Norge AS can send me API update emails</label>
          </fieldset>
        </div>
        <details class="mb-disclosure mb-disclosure--arrow bg-green1 mbl">
          <summary>
            <span
              data-mybicon="mybicon-arrow-right"
              data-mybicon-width="16"
              data-mybicon-height="16"
            ></span>
            Privacy policy
          </summary>
          <div class="text-note pas content__gdprLegal">
            <p>You can unsubscribe at any time by clicking the link in the footer of our emails. Read more about <a href="https://www.bring.com/privacy-policy" target="_blank" rel="noopener noreferrer">our privacy policy</a>.</p>
            <p>We use Mailchimp. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
          </div>
        </details>
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="mce-response error" id="mce-error-response" style="display:none" role="alert"></div>
        <div class="mce-response success" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <label for="hiddenMCInput" class="form__label">Hidden input</label>
        <input type="text" name="b_f6b9d5de1a234124c14558d51_8b45ecec29" tabindex="-1" value="" id="hiddenMCInput">
      </div>
      <div class="optionalParent">
        <div class="clear foot">
          <input type="submit" value="Subscribe to API updates" name="subscribe" id="mc-embedded-subscribe" class="button btn btn--green">
          <p class="brandingLogo"><a href="http://eepurl.com/hOnEJv" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" width="0" height="0" alt="Hidden image"></a></p>
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  const signupForm = document.getElementById('mc-embedded-subscribe-form');
  const apiAreaRadios = document.querySelectorAll('[data-api-area]');
  const apiAreas = document.querySelector('.api-area-checkboxes');
  const apiAreaCheckboxes = apiAreas.querySelectorAll('input[type="checkbox"]');
  const signupSubmitBtn = document.getElementById('mc-embedded-subscribe');

  const validateCheckboxes = (e) => {
    // If second radio selected, check if at least one of the checkboxes are checked
    let someSelected = false;
    if(apiAreaRadios[1].checked) {
      const errorMessage = document.getElementById('mce-error-response');
      apiAreaCheckboxes.forEach((checkbox) => {
        if(checkbox.checked) {
          someSelected = true;
        }
      });
      if(!someSelected) {
        errorMessage.innerHTML = '';
        errorMessage.innerHTML = 'You must select at least one of the API areas.';
        errorMessage.style.display = 'block';
        e.preventDefault();
      } else {
        errorMessage.style.display = 'none';
        errorMessage.innerHTML = '';
      }
    }
  }

  // Toggle visibility of checkboxes based on radio checked
  apiAreaRadios.forEach((radio) => {
    radio.addEventListener('change', (e) => {
        apiAreas.classList.toggle('hidden');
        signupSubmitBtn.addEventListener('click', validateCheckboxes);
        if(e.target.checked && e.target.id === 'mce-APIAREA-0') {
          apiAreaCheckboxes.forEach((checkbox) => {
            checkbox.checked = false;
          });
          signupSubmitBtn.removeEventListener('click', validateCheckboxes);
        }
    })
  });

  // Hide the checkboxes again when the form is submitted
  signupForm.addEventListener('submit', (e) => {
    setTimeout(() => {
      const successMessage = document.getElementById('mce-success-response');
      if(successMessage.innerText === 'Thank you for subscribing!') {
        apiAreas.classList.add('hidden');
      }
    }, 1000);
  });
</script>
<script defer type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
