{{ define "main" }}
  <main id="main">
    <div class="dev-intro-padv dev-intro-padh mbxl bg-green1">
      <div class="dev-container">
        <div class="dev-intro-l">
          <h1 class="mbm">{{ .Params.hero }}</h1>
          <p class="maxw32r text-heading">
            {{ .Params.introduction }}
          </p>
          <a class="btn btn--green text-heading" href="/api/">
            Get started &RightArrow;</a
          >
        </div>
      </div>
    </div>
    <div class="dev-intro-padh">
      <div class="dev-container flex flex-wrap mbxl">
        <div class="dev-intro-l">
          {{- .Content -}}
        </div>

        <div class="dev-intro-m">
          {{- with .Params.important -}}
            <div class="mbxl">
              {{- range . -}}
                <div class="mbxs">
                  <div class="message--warn pam">
                    {{ . | markdownify }}
                  </div>
                </div>
              {{- end -}}
            </div>
          {{- end -}}
          <div class="mbxl">
            <h2 class="mbs">API updates</h2>
            <div class="owls mbl rad-a2px">
              {{- $pctx := .Site -}}
              {{- $pages := slice -}}
              {{- $pages = $pctx.RegularPages -}}
              {{- $mergedPages := slice -}}
              {{/* Get all sections from revision-history */}}
              {{- range $pages -}}
                {{- if (in .CurrentSection "revision-history") -}}
                  {{- $mergedPages = $mergedPages | append . -}}
                {{- end -}}
              {{- end -}}
              {{- $pages = $mergedPages -}}
              {{- range first 3 $pages -}}
                <div class="bg-gray1 bshadow pal rad-a2px">
                  <h3 class="text-basic">
                    <time
                      datetime="{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" | safeHTML }}"
                      >{{ .PublishDate.Format "2. January 2006" | safeHTML }}</time
                    >: {{ .Title }}
                  </h3>
                  {{ .Content }}
                </div>
              {{- end -}}
              <div class="w100p">
                <a class="text-heading" href="./api/revision-history/">Show all updates &RightArrow;</a>
              </div>
            </div>
            <div class="bg-gray2 pal rad-a2px">
              <h3>Subscribe to updates</h3>
              {{- partial "subscribe.html" -}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}
