{{ define "main" }}
  <main id="main">
    <div class="dev-intro-padv dev-intro-padh mbxl bg-green1">
      <div class="dev-container">
        <div class="dev-intro-l">
          <h1 class="mbm">{{ .Params.hero }}</h1>
          <p class="maxw32r text-1.25r">
            {{ .Params.introduction }}
          </p>
          <a class="btn btn--green text-1.25r" href="/api/">
            Get started &RightArrow;</a
          >
        </div>
      </div>
    </div>
    <div class="dev-intro-padh">
      <div class="dev-container flex flex-wrap mbxl">
        <div class="dev-intro-l">
          {{- .Content -}}
        </div>

        <div class="dev-intro-m">
          {{- with .Params.important -}}
            <div class="mbxl">
              {{- range . -}}
                <div class="mbxs">
                  <div class="message--warn pam">
                    {{ . | markdownify }}
                  </div>
                </div>
              {{- end -}}
            </div>
          {{- end -}}
          <div class="mbxl">
            <h2 class="mbs">API updates</h2>
            <div class="owls mbl rad-a2px">
              {{- $pctx := .Site -}}
              {{- $pages := slice -}}
              {{- $pages = $pctx.RegularPages -}}
              {{- $mergedPages := slice -}}
              {{/* Get all sections from revision-history */}}
              {{- range $pages -}}
                {{- if (in .CurrentSection "revision-history") -}}
                  {{- $mergedPages = $mergedPages | append . -}}
                {{- end -}}
              {{- end -}}
              {{- $pages = $mergedPages -}}
              {{- range first 3 $pages -}}
                <div class="bg-gray1 bshadow pal rad-a2px">
                  <time class="mrs text-note"
                    datetime="{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" | safeHTML }}"
                    >{{ .PublishDate.Format "2 January 2006" | safeHTML }}</time
                  >
                  {{- if (.Params.isImportant) -}}
                    <span class="mb-badge mb-badge--yellow">Important</span>
                  {{- end -}}
                  <h3 class="text-basic">{{ .Title }}</h3>
                  <div class="update-content">
                    <div class="truncated-content" aria-hidden="true">
                      {{ .Content | truncate 300 }}
                    </div>
                    <div class="screen-reader-text full-content" >
                      {{ .Content }}
                    </div>
                    {{- if gt (len .Content) 300 -}}
                      <button class="read-more btn-link--dark" aria-hidden="true">Show more</button>
                    {{- end -}}
                  </div>
                </div>
              {{- end -}}
              <div class="w100p">
                <a class="text-1.25r" href="./api/revision-history/">Show all updates &RightArrow;</a>
              </div>
            </div>
            {{- partial "subscribe.html" -}}
          </div>
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript">
    document.querySelectorAll(".read-more").forEach(link => {
      link.addEventListener("click", () => {
        const postContent = link.closest(".update-content");
        if (postContent) {
          postContent.classList.toggle("expanded");
          postContent.querySelector(".truncated-content").classList.toggle('dn');
          postContent.querySelector(".full-content").classList.toggle('screen-reader-text');
          link.textContent = postContent.classList.contains("expanded") ? "Show less" : "Show more";
        }
      })
    })
  </script>
{{ end }}
