---
layout: page
title: {{ title }}
permalink: /about/
---
    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="page-header">
            <h1>{{ title }} API lolz{% if version %} <small>version {{ version }}</small>{% endif %}</h1>
            <p>{{ baseUri }}</p>

            {% for chapter in documentation %}
              <h3 id="{{ chapter.uniqueId }}"><a href="#{{ chapter.uniqueId }}">{{ chapter.title }}</a></h3>
              {% markdown %}{{ chapter.content }}{% endmarkdown %}
            {% endfor %}
          </div>

          {% for resource in resources %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 id="{{ resource.uniqueId }}" class="panel-title">{% if resource.displayName %}{{ resource.displayName}}{% else %}{{ resource.relativeUri }}{% endif %}</h3>
              </div>

              <div class="panel-body">
                {% if resource.description %}
                  <div class="top-resource-description">
                    {% markdown %}{{ resource.description }}{% endmarkdown %}
                  </div>
                {% endif %}

                <div class="panel-group">
                  {% include "resource.nunjucks" %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="col-md-3">
          <div id="sidebar" class="hidden-print affix" role="complementary">
            <ul class="nav nav-pills nav-stacked">
              {% for resource in resources %}
                <li><a href="#{{ resource.uniqueId}}">{% if resource.displayName %}{{ resource.displayName}}{% else %}{{ resource.relativeUri }}{% endif %}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
