#%RAML 1.0
---
title: Order Management API
baseUri: https://api.bring.com/po/api/v1

/purchaseorderCustomer/{customerId}:
  displayName: Check if customer is valid for order management
  description: |
      Check if a given customer number is allowed to use Order management functionalities.
  get:
    description:
     Check if customer is valid for order management
    responses:
      200:
        displayName: Success
        description: |
          Returns `true` if given customer is a valid for order management.
        body:
          application/xml:
            examples:
              success:
                displayName: Check if customer is valid
                value: !include examples/verify_customer.xml
          application/json:
            examples: 
              success:
                displayName: Check if customer is valid
                value: !include examples/verify_customer.json

/omorder:
  displayName: Create an order
  description: |
      Customer create and send an order to Order Management. There are different types of order supported in Order Management.

       - Order/PurchaseOrder
            - Order Management can give your suppliers access to purchase orders so they can get info, confirm, accept and deliver on them.
            - When Warehousing functionality Order Management sends it to Warhousing system for receiving notice.

  post:
    description: Send an order
    queryParameters:
      CreateOrderRequest version:
          description: Version of request, current 2.0.
          type: string
          required: true
          example: 2.0
      CreateOrderRequest messageFunction:
          description: Type of order. <br>"Order"<br>"SalesOrder (Not in use)"<br>"PurchaseOrder"
          type: string
          required: true
          example: Order
      CreateOrderRequest messageId:
          description: Unique id for this message.
          type: string
          required: true
          example: 3dcc8b71-2bf7-4574-813d-9295bd5db8c0
      MessageSender partyId:
          description: Customer Number which Bring has provided. It cannot be demo customer number.
          type: string
          required: true
          example: "10000000000"
      MessageRecipient partyId:
          description: Receiving Bring system. Constant value.
          type: string
          required: true
          example: NO98466118506
      MessageDate:
          description: The date on which message is sent.
          type: dateTime
          required: true
          example: 22.01.2017 11:36:22
      OrderSet updateIndicator:
          description: Type of order data. Original, Update or Deletion
          type: string
          required: true
          example: Original
      Order orderId:
          description: Ordernumber.
          type: dateTime
          required: true
          example: 101010
      Reference:
          description: Set of references.
          type: sequence
          required: false
      Reference referenceType:
          description: Type of reference coded. https://www.stylusstudio.com/edifact/D04A/1153.htm
          type: String
          required: true
          example: CMR
      Reference ReferenceNo:
          description: Reference.
          type: String
          required: true
          example: 10003455TT
      DateAndTimes subClass DocumentDate:
          description: The date on which order is booked.
          type: dateTime
          required: true
          example: 22.01.2017 11:36:22
      TransportService BasicServiceCode:
          description: Transport service for shipment to customer. https://developer.bring.com/api/services/
          type: String
          required: true
          example: SERVICEPAKKE
      TransportService AdditionalService AdditionalServiceCode:
          description: Transport services for shipment to customer. https://developer.bring.com/api/services/
          type: String
          required: true
          example: EVARSLING
      TransportLeg TransportLegType:
          description: TransportLegType id. Default value 30.
          type: String
          required: true
          example: 30
      TransportLeg ModeOfTransport:
          description: Type of transport. <br>1 = Sea<br>2 = Train<br>3 = Road<br>4 = Air.
          type: String
          required: true
          example: 3
      Party/subClass OrderingParty:
          description: Details of sender. Must have Name, Street, City, CountryCode.
          required: true
      Party/subClass DeliveryParty:
          description: Details of recipient. Must have Name, Street, City, CountryCode.
          required: true
      Party/subClass Supplier:
          description: Details of supplier. Must have Name, Street, City, CountryCode if used.
          required: false
      Party/subClass PerformingUnit partyId:
          description: Warehouse id for order. Required if order to Warehousing system.
          type: string
          required: false
          example: BERGER
      OrderLineSet:
          description: Set of order items.
          type: sequence
          required: true
      OrderItem articleLineId:
          description: Line id for this order line.
          type: integer
          required: true
          example: 10
      ArticleId:
          description: Article number or id.
          type: sequence
          required: true
          example: 123-4000
      ArticleId codeListAgencyIdentifier:
          description: Sets type of ArticleId. <br>"CustomerItemNo"<br>"VendorItemNo"<br>"EAN"<br>If not used ArticleId default is CustomerItemNo.
          type: string
          required: false
          example: VendorItemNo
      ArticleQuantity unitCode:
          description: Unit code for quantity ordered.
          type: string
          required: true
          example: STK
      ArticleQuantity:
          description: Quantity ordered.
          type: float
          required: true
          example: 2.0
      Description usageCode:
          description: Article description type. If description used set to AAA.
          type: string
          required: false
          example: AAA
      Description:
          description: Article description.
          type: string
          required: false
          example: Spear parts with all parts
      ArticleName:
          description: Article name.
          type: string
          required: false
          example: Spear parts
      DateAndTimes subClass DeliveryDateRequested:
          description: The date on which order is requested delivered.
          type: dateTime
          required: true
          example: 22.01.2017 11:36:22

    body:
        application/xml:
          examples:
            create_order:
              displayName: Create an order
              value: !include examples/create_order.xml
        application/json:
          examples:
            create_order:
              displayName: Create an order
              value: !include examples/create_order.json
    responses:
      200:
        displayName: Success
        description: |
          Successfully created an order.

/omorder/{customerId}/{orderId}:
  displayName: Provide order information
  description: |
      Get all information on a given order and customer. Order is unique in combination with customer number.
  get:
    description: Provide order information
    responses:
      200:
        displayName: Success
        description: |
          Complete order information including order items.
        body:
          application/xml:
            examples:
              retrieve_order:
                displayName: Provide order information
                value: !include examples/retrieve_order.xml
          application/json:
            examples: 
              retrieve_order:
                displayName: Provide order information
                value: !include examples/retrieve_order.json

/items/{customerId}/{orderId}:
  displayName: List order lines
  description: |
      List all item lines that is ordered on an order.
  get:
    description: List order lines
    responses:
      200:
        displayName: Success
        description: |
          List of order items.
        body:
          application/xml:
            examples:
              retrieve_orderitems:
                displayName: List order lines
                value: !include examples/retrieve_orderitems.xml
          application/json:
            examples:
              retrieve_orderitems:
                displayName: List order lines
                value: !include examples/retrieve_orderitems.json

/packaginglist/{customerId}/{orderId}:
  displayName: Provide packaging list information for the order
  description: |
      List all packaging list information for this order. One order can have multiple packaging lists.
  get:
    description: Provide packaging list information for the order
    responses:
      200:
        displayName: Success
        description: |
          List of packaging list for given order, if any.
        body:
          application/xml:
            examples:
              retrieve_packinglist:
                displayName: Packaging list information
                value: !include examples/retrieve_packinglist.xml
          application/json:
            examples: 
              retrieve_packinglist:
                displayName: Packaging list information
                value: !include examples/retrieve_packinglist.json

/packaginglist:
  displayName: Add packaging list
  description: |
      When an order have been picked and sent, add packing list on order with transport information.
  post:
    description: Add packaging list
    body:
      application/xml:
        examples:
          add_packaging_list:
            displayName: Add packaging list
            value: !include examples/create_packaging_list.xml
    responses:
      200:
        displayName: Success
        description: |
          Successfully added packaging list.

/senderStatus/{customerId}/{orderId}:
  displayName: Get status for order (delivered/locked)
  description: |
      Check sender status for an order. Open when not fully delivered or locked when fully delivered.
  get:
    description: Get status for order (delivered/locked)
    responses:
      200:
        displayName: Success
        description: Open or Locked.
        body:
          application/xml:
            examples:
              check_status:
                displayName: Get status for order
                value: !include examples/check_status.xml
          application/json:
            examples: 
              check_status:
                displayName: Get status for order
                value: !include examples/check_status.json

/event:
  displayName: Create TMSEvents
  description: |
      Create tracking events on transports associated with orders in Order Management.
  post:
    description: Create TMSEvents
    body:
      application/xml:
        examples:
          create_events:
            displayName: Create TMSEvents
            value: !include examples/create_events.xml
    responses:
      200:
        displayName: Success
        description: |
          Successfully created a new resource

/errorCodes:
  displayName: List error codes
  get:
    description: List error codes
    responses:
      200:
        displayName: Success
        description: |
          Dynamic list of error codes used in the solution.
        body:
          application/xml:
            examples:
              error_codes:
                displayName: List error codes
                value: !include examples/error_codes.xml
          application/json:
            examples: 
              error_codes:
                displayName: List error codes
                value: !include examples/error_codes.json
