
code {
    white-space: nowrap;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 15px;
}

pre code {
    white-space: pre;
}

pre {
    border: 1px solid $grey-light-3;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 15px;
    padding: 10px;
    overflow:auto;
    background-color: $grey-light-7;
    color: $grey-dark-1;
    margin: 0 0 30px 0;

    > code {
        @include font-size(13);
    }

    &.highlight {
        padding: 0;
        border: 0;
        margin: 0; 
    }
}
