---
layout: redesign
---


    <div class="wrapper">
      <div class="layout layout--flush">
        <div class="layout__item palm-one-whole desk-one-quarter">
            {% comment %}
            ----------------------------------------
            --
            -- Sidebar menu
            --
            ----------------------------------------
            {% endcomment %}
            {% include sitemenu.html %}
        </div><!--
     --><div class="layout__item palm-one-whole desk-three-quarters">
          <article class="api {{ page.api.title | remove:'API' | slugify }}">
            <section id="api-documentation" class="api__section">
            <h1 class="api__title">{{ page.api.title }}</h1>
              {% for chapter in page.api.documentation %}
              <h2 class="anchored">{{ chapter.title }}</h2>
              {{ chapter.content | markdownify }}
              {% endfor %}
            </section>
            <section class="api__section">
              <h2 class="anchored">Overview of endpoints</h2>

              <h3 class="delta">Base URL</h3>
              <pre>{{ page.api.baseUri }}</pre>

              <table class="linked-rows table--cosy table--rows">
                <thead>
                  <th>Method</th>
                  <th>Endpoint</th>
                  <th>Usage</th>
                </thead>
                {% for resource in page.api.resources %}
                  {% for method in resource.methods %}
                    <tr>
                      <td><a href="#{{ resource.displayName | slugify }}">{{ method.method | upcase }}</a></td>
                      <td><a href="#{{ resource.displayName | slugify }}">{{ resource.relativeUri }}</a></td>
                      <td><a href="#{{ resource.displayName | slugify }}">{{ method.description }}</a></td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </table>
            </section>


            {% for resource in page.api.resources %}
              {% for method in resource.methods %}
              <section class="api__section">

                <h1 class="large anchored" id="{{ resource.displayName | slugify }}">{{ resource.displayName }}</h1>

                {% if resource.description %}
                {{ resource.description | markdownify }}
                {% endif %}

                <h2 class="delta">URL</h2>
                {% if resource.uriParameters contains 'mediaTypeExtension' %}
                  {% assign url_output = '' %}
                  {% for extension in resource.uriParameters.mediaTypeExtension.enum %}
                    {% assign url_output = url_output | append: resource.absoluteUri | replace:'{mediaTypeExtension}',extension %}
                    {% unless forloop.last %}
                      {% assign url_output = url_output | append: '<br />' %}
                    {% endunless %}
                  {% endfor %}
                {% else %}
                  {% assign url_output = resource.absoluteUri %}
                {% endif %}
                <pre>{{ url_output }}</pre>

                {% assign has_other_uri_params_than_mediatype = false %}
                {% if resource.uriParameters.size > 1 %}
                  {% assign has_other_uri_params_than_mediatype = true %}
                {% elsif resource.uriParameters.size == 1 and resource.uriParameters.first[1].name != 'mediaTypeExtension' %}
                  {% assign has_other_uri_params_than_mediatype = true %}
                {% endif %}

                {% if has_other_uri_params_than_mediatype
                    or method.headers.size > 0
                    or method.queryParameters.size > 0 %}
                <h2 class="delta">Request params</h2>
                {% endif %}

                {% comment %}
                ----------------------------------------
                --
                -- For each endpoint:
                -- List all URI parameters
                --
                ----------------------------------------
                {% endcomment %}
                {% if has_other_uri_params_than_mediatype %}
                  {% assign include_params = resource.uriParameters %}
                  {% include named_params_10.html title="URI parameter" params=include_params %}
                {% endif %}

                {% comment %}
                ----------------------------------------
                --
                -- For each endpoint:
                -- List all headers
                --
                ----------------------------------------
                {% endcomment %}
                {% if method.headers.size > 0 %}
                  {% assign include_params = method.headers %}
                  {% include named_params_10.html title="Header name" params=include_params %}
                {% endif %}

                {% comment %}
                ----------------------------------------
                --
                -- For each endpoint:
                -- List all query parameters
                --
                ----------------------------------------
                {% endcomment %}
                {% if method.queryParameters.size > 0 %}
                  {% assign include_params = method.queryParameters %}
                  {% include named_params_10.html title="Query parameter" params=include_params %}
                {% endif %}

                {% comment %}
                ----------------------------------------
                --
                -- For each endpoint:
                -- Request body
                --
                ----------------------------------------
                {% endcomment %}
                {% if method.body %}
                  <h2 class="delta">Request body</h2>
                  {% comment %}

                  Request body type

                  {% endcomment %}


                  {% comment %}

                  Tabs for JSON, XML, SOAP

                  {% endcomment %}
                  <ul class="codetabs" role="tablist">
                  {% for body in method.body %}
                    {% assign mt_display_name = body[1].name | mediatype_displayname %}
                    {% assign tab_id =  method[1].method | append: '-' | append: resource.display_name | append: '-request-' | append: forloop.index | slugify %}
                    <li role="presentation" class="codetabs__item{% if forloop.first %} active{% endif %}"><a href="#{{ tab_id }}" role="tab" aria-controls="{{ tab_id }}" class="codetabs__link" data-toggle="tab">{{ mt_display_name }}</a></li>
                  {% endfor %}
                  </ul>
                  <div class="codetabs__content">
                  {% for body in method.body %}
                    {% assign mt_display_name = body[1].name | mediatype_displayname %}
                    {% assign hljs_lang = body[1].name | mediatype_highlight_lang  %}
                    {% assign tab_id =  method.method | append: '-' | append: resource.display_name | append: '-request-' | append: forloop.index | slugify %}
                    <div role="tabpanel" class="codetabs__panel{% if forloop.first %} active{% endif %}" id="{{ tab_id }}">
                      <div class="content">
                      {% if hljs_lang == 'xml' %}
                        <pre class="highlight"><code class="{{ hljs_lang }}">{{ body[1].structuredExample.value | xml_escape}}</code></pre>
                      {% elsif hljs_lang == 'html' %}
                        <pre class="highlight"><code class="{{ hljs_lang }}">{{ body[1].structuredExample.value | xml_escape}}</code></pre>
                      {% elsif hljs_lang == 'json' %}
                        <pre class="highlight"><code class="{{ hljs_lang }}">{{ body[1].structuredExample.value }}</code></pre>
                      {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                {% endif %}

                {% assign additional_examples = false %}

                {% comment %}
                ----------------------------------------
                --
                -- For each endpoint:
                -- Response
                --
                ----------------------------------------
                {% endcomment %}
                {% unless method.responses == empty %}
                <h2>Response</h2>
                {% for responseHash in method.responses %}
                  {% assign response = responseHash[1] %}
                  {% assign response_id = method.method | append: '-' | append: resource.displayName | append: '-response-' | append: response.code | slugify %}
                  <h3 id="{{ response_id }}" class="anchored">HTTP status code {{ response.code }}</h3>

                  {% for bodyHash in response.body %}
                    {% assign responseBody = bodyHash[1] %}
                    <div><strong>Media Type:</strong> {{ responseBody.name }}</div>
                    {% if responseBody.type %}
                      {% assign responseBodyType = responseBody.type.first %}
                      <div>
                        <h4>Response format</h4>

                        {% include raml_type.html types=page.api.types type=responseBodyType hide_header=true %}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}



                <!--
                <ul class="codetabs" role="tablist">
                  {% for response in method.responses %}
                    {% assign tab_name = response[1].code %}
                    {% assign tab_id = method.method | append: '-' | append: resource.displayName | append: '-response-' | append: tab_name | slugify %}
                    <li role="presentation" class="codetabs__item{% if forloop.first %} active{% endif %}"><a href="#{{ tab_id }}" role="tab" aria-controls="{{ tab_id }}" class="codetabs__link" data-toggle="tab">{{ tab_name }}</a></li>
                  {% endfor %}
                </ul>
                <div class="codetabs__content">
                  {% for response in method.responses %}
                    {% assign tab_name = response[1].code %}
                    {% assign tab_id = method.method | append: '-' | append: resource.displayName | append: '-response-' | append: tab_name | slugify %}
                    <div role="tabpanel" class="codetabs__panel{% if forloop.first %} active{% endif %}" id="{{ tab_id }}">
                      {{ response[1].description | markdownify }}

                      {% if response[1].headers.size > 0 %}
                        {% assign include_params = response[1].headers %}
                        {% include named_params.html title="Header name" params=include_params hide_required=true %}
                      {% endif %}

                      {% if response[1].body.size > 1 %}
                        {% comment %}

                        There are more than one response body type:

                        List all in accordion.

                        {% endcomment %}
                        <div class="collapsible u-mb++">
                          <ul class="list-block list-block--small">
                            {% for responseBody in response[1].body %}
                              {% assign body_name = responseBody[1].displayName %}
                              {% assign accordion_id = method.method | append: '-' | append: resource.displayName | append: '-response-body-' | append: body_name | slugify %}
                              <li>
                                <a href="#" data-collapse="#{{ accordion_id }}" class="collapsible__toggler collapsible__toggler--collapsed">{{ responseBody[1].displayName }}</a>
                                <div id="{{ accordion_id }}" class="collapsible__item collapsible__item--collapsed">

                                {% if responseBody[1].description %}
                                  {{ responseBody[1].description | markdownify }}
                                {% endif %}
                                </div>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% else %}
                        {% comment %}

                        There is only one response body type: no need for accordion.

                        {% endcomment %}
                        response body
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                -->
                {% endunless %}




                <!--
                {% for response in method.responses %}
                  <h3 class="delta">{{ response[1].displayName }} ({{ response[1].code }})</h3>
                  {% if response[1].description %}
                    {{ response[1].description | markdownify }}
                  {% endif %}

                  {% comment %}

                  For each endpoint:
                  List all headers

                  {% endcomment %}
                  {% if response[1].headers.size > 0 %}
                    {% assign include_params = response[1].headers %}
                    {% include named_params.html title="Header name" params=include_params hide_required=true %}
                  {% endif %}

                  {% comment %}

                  Tabs for JSON, XML, SOAP

                  {% endcomment %}
                  {% if response[1].bodies.size > 0 %}
                    <ul class="codetabs" role="tablist">
                    {% for body in response[1].bodies %}
                      {% assign mt_display_name = body[1].media_type | mediatype_displayname %}
                      {% assign tab_id =  method[1].method | append: '-' | append: resource.display_name | append: '-response-' | append: forloop.index | slugify %}
                      <li role="presentation" class="codetabs__item{% if forloop.first %} active{% endif %}"><a href="#{{ tab_id }}" role="tab" aria-controls="{{ tab_id }}" class="codetabs__link" data-toggle="tab">{{ mt_display_name }}</a></li>
                    {% endfor %}
                    </ul>
                    <div class="codetabs__content">
                    {% for body in response[1].bodies %}
                      {% assign mt_display_name = body[1].media_type | mediatype_displayname %}
                      {% assign hljs_lang = body[1].media_type | mediatype_highlight_lang  %}
                      {% assign tab_id =  method[1].method | append: '-' | append: resource.display_name | append: '-response-' | append: forloop.index | slugify %}
                      <div role="tabpanel" class="codetabs__panel{% if forloop.first %} active{% endif %}" id="{{ tab_id }}">
                        {% if hljs_lang == 'xml' %}
                        <pre class="highlight"><code class="{{ hljs_lang }}">{{ body[1].example | xml_escape}}</code></pre>
                        {% elsif hljs_lang == 'html' %}
                        <pre class="highlight"><code class="{{ hljs_lang }}">{{ body[1].example | xml_escape}}</code></pre>
                        {% else %}
                        <pre class="highlight"><code class="{{ hljs_lang }}">{{ body[1].example }}</code></pre>
                        {% endif %}
                      </div>
                    {% endfor %}
                    </div>
                  {% endif %}
                {% endfor %}
                -->

              </section>
              {% endfor %}{% comment %} endfor method in methods {% endcomment %}
            {% endfor %}{% comment %} endfor resource in resources {% endcomment %}

            <section class="api__section">
              {% include disqus.html %}
            </section>

          </article>
        </div>
      </div>
    </div>

<script async src="{{ site.baseurl }}/js/ZeroClipboard.min.js" onload="initZeroClipBoard()"></script>
<script>
  function initZeroClipBoard() {

    var qsa = function (selector) {
      return Array.prototype.slice.call(document.querySelectorAll(selector));
    }

    qsa('pre.highlight').forEach(function(pre) {
      var zeroClipboard = document.createElement('div');
      zeroClipboard.className = 'zero-clipboard';
      zeroClipboard.innerHTML = '<span class="zero-clipboard__btn" title="Copy to clipboard">Copy</span>';
      pre.parentNode.insertBefore(zeroClipboard, pre);
    });

    var client = new ZeroClipboard(qsa('.zero-clipboard__btn'));
    client.on('copy', function(event) {
      var copyButton = event.target.parentNode;
      var pre = copyButton.nextSibling;
      client.setText(pre.textContent);
    });
  }
</script>
