---
layout: redesign
---
<article class="api {{ page.api.title | remove:'API' | slugify }}">

  <header class="banner light overlay-100 bottom">
    <div class="background"></div>
    <div class="content">
      <div class="container">
        <h1 class="giant">{{ page.api.title }}</h1>
      </div>
    </div>
  </header>

  <div class="nav-wrapper sticky-nav">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#api-documentation" class="local"><span data-hover="Documentation">Documentation</span></a></li>
      {% for resource in page.api.resources %}
        <li><a href="#{{ resource.display_name | slugify }}" class="local"><span data-hover="{{ resource.display_name }}">{{ resource.display_name }}</span></a></li>
      {% endfor %}
    </ul>
  </div>

  <section class="component white" id="api-documentation">
    <div class="container">
      {% for chapter in page.api.documentation %}
      <h2 class="anchored">{{ chapter.title }}</h2>
      {{ chapter.content | markdownify }}
      {% endfor %}
    </div>
  </section>

  <section class="component lightgrey">
    <div class="container">
      <h2 class="large anchored">Overview of endpoints</h2>

      <h3>Base URL</h3>
      <pre>{{ page.api.base_uri }}</pre>

      <table>
        <thead>
          <th>Method</th>
          <th>Endpoint</th>
          <th>Usage</th>
        </thead>
        {% for resource in page.api.resources %}
          {% for method in resource.methods %}
            <tr>
              <td>{{ method[1].method }}</td>
              <td>{{ resource.relative_uri }} </td>
              <td>{{ method[1].description }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </section>


  {% for resource in page.api.resources %}

    {% if resource.uri_parameters contains 'mediaTypeExtension' %}
      {% for extension in resource.uri_parameters.mediaTypeExtension.enum %}
        {% assign absolute_extension = resource.absolute_uri | replace:'{mediaTypeExtension}',extension %}
        {% assign relative_extension = resource.relative_uri | replace:'{mediaTypeExtension}',extension %}
        {% unless forloop.first %}
          {% assign absoluteUriTitle = absoluteUriTitle | append: '<br/>'  %}
          {% assign relativeUriTitle = relativeUriTitle | append: ' or '  %}
        {% endunless %}
        {% assign absoluteUriTitle = absoluteUriTitle | append: absolute_extension  %}
        {% assign relativeUriTitle = relativeUriTitle | append: relative_extension  %}
      {% endfor %}
    {% else %}
      {% assign absoluteUriTitle = resource.absolute_uri %}
      {% assign relativeUriTitle = resource.relative_uri %}
    {% endif %}

    {% for method in resource.methods %}
    <section class="component {% cycle 'white', 'lightgrey' %}">
      <div class="container">

        <h2 class="large anchored" id="{{ resource.display_name | slugify }}">{{ resource.display_name }}</h2>

        {% if resource.description %}
        {{ resource.description | markdownify }}
        {% endif %}

        <h3>URL</h3>
        <pre>{{ absoluteUriTitle }}</pre>

        {% if method[1].query_parameters.size > 0 %}
          <h3>Query Parameters</h3>
          <table>
            <thead>
              <th>Query parameter</th>
              <th>Type</th>
              <th>Required?</th>
              <th>Description</th>
            </thead>
          {% for qp in method[1].query_parameters %}
            <tr>
              <td><code>{{ qp[1].name }}</code></td>
              <td><code>{{ qp[1].type }}<code></td>
              <td>
                {% if qp[1].required %}
                Yes
                {% else %}
                No {% if qp[1].default %} (default: {{ qp[1].default }}){% endif %}
                {% endif %}
              </td>
              <td>{{ qp[1].description }}</td>
            </tr>
          {% endfor %}
          </table>
        {% endif %}

        {% if method[1].headers.size > 0 %}
          <h3>Headers</h3>
          <table>
            <thead>
              <th>Header name</th>
              <th>Type</th>
              <th>Required?</th>
              <th>Description</th>
            </thead>
          {% for qh in method[1].headers %}
            <tr>
              <td><code>{{ qh[1].name }}</code></td>
              <td><code>{{ qh[1].type }}<code></td>
              <td>
                {% if qh[1].required %}
                Yes
                {% else %}
                No {% if qh[1].default %} (default: {{ qh[1].default }}){% endif %}
                {% endif %}
              </td>
              <td>{{ qh[1].description }}</td>
            </tr>
          {% endfor %}
          </table>
        {% endif %}

        <h3>API explorer</h3>

        <form action="{{ resource.absolute_uri }}" method="{{ method.method }}">

        {% if resource.secured_by.size > 0 %}
          {% assign auth_required = true %}
          {% for security in resource.secured_by %}
            {% if !security %}
              {% assign auth_required = false %}
            {% endif %}
          {% endfor %}
          {% for security in resource.secured_by %}
            {% if security %}
              <h3>Authentication{% if auth_required == false %} (optional){% endif %}</h3>
              {% assign sec_scheme = page.api.security_schemes[security] %}
              {% for header in sec_scheme.described_by.headers %}
                <div class="form-row form-cell">
                <label class="separator">{{ header[1].name }}
                  <input type="text" name="header[{{ header[1].name }}]" placeholder="{{ header[1].example }}" />
                </label>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %} <!-- if secured_by -->

        </form>

      </div> <!-- /container -->
    </section>
    {% endfor %} <!-- /for method in methods -->
  {% endfor %} <!-- /for resource in resources -->

  <script>
    $(document).on('ready', function() {
      if (window.location.hash) {
        window.scrollToWithSticky(window.location.hash.substr(1), -40);
      }
    });
  </script
</article>


