<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" media="screen" />
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  </head>

  <body>

    <header class="siteheader">
        <div class="wrapper">
            <h1 class="visually-hidden">Bring</h1>
            <a href="{{ site.baseurl }}/">
                <img class="siteheader__logo" src="{{ site.baseurl }}/img/logo-bring.svg" alt="Bring">
                <h1 class="siteheader__tagline">developer</h1>
            </a>
        </div>
    </header>


{{ content }}


  <footer class="sitefooter">
    <div class="wrapper">
      <h3><a href="http://bring.com/">Bring</a></h3>
      <ul class="list-inline sitefooter-legal">
        <li>© 2015 Posten Norge AS</li>
        <li><a href="http://www.bring.com/privacy-policy" title="Privacy policy">Privacy policy</a></li>
        <li><a href="http://www.bring.com/use-of-cookies" title="Use of cookies">Cookies</a></li>
        <li><a href="https://github.com/bring/developer-site" title="The source code for this site">Github</a></li>
        <li><a href="https://twitter.com/bringdeveloper" title="Our Twitter account">@bringdeveloper</a></li>
      </ul>
    </div>
  </footer>


  <script async src="{{ site.baseurl }}/js/anchor.min.js" onload="window.anchors.options = { placement: 'left' }; window.anchors.add('.anchored')"></script>
  <script async src="{{ site.baseurl }}/js/highlight.pack.js" onload="window.hljs.initHighlightingOnLoad()"></script>
  <script async src="{{ site.baseurl }}/js/tabs.js" onload="window.tabs.init()"></script>
  <script async src="{{ site.baseurl }}/js/sticky.js" onload="window.sticky.init()"></script>
  <script async src="{{ site.baseurl }}/js/scrollspy.js" onload="window.scrollspy.init()"></script>
  <script async src="{{ site.baseurl }}/js/collapsible.js" onload="window.collapsible.init()"></script>
  <!-- Google Tag Manager for Bring -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZF54Q"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KZF54Q');</script>
  <!-- End Google Tag Manager for Bring -->
</body>

</html>
