<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />

    <link rel="stylesheet" href="{{ site.baseurl }}/css/v1.css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/developer-site.css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight/github-gist.css" media="screen" />
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="bringdev-header">
      <div class="bringdev-content-container">
        <a class="bringdev-logo" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/img/bring-logo-hi.png" alt="Bring" width="101" height="39"></img>
          <span class="bring-green">developer</span>
        </a>
        <nav role="navigation">
          <ul class="bringdev-menu">
            <li><a href="{{ site.baseurl }}/api/">API</a></li>
            <li><a href="{{ site.baseurl }}/api/">EDI</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/support/">Support</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="page-row-expanded">
{{ content }}
    </div>
    <div class="page-row">
      <footer class="sitefooter" role="contentinfo">
          <div class="noindex">
              <div class="container">
                  <div class="bottom">
                      <p>(C) 2015 Posten Norge AS
                          <span class="nowrap">
                              - <a href="http://www.bring.com/privacy-policy">Personvern og sikkerhet</a>
                              - <a href="http://www.bring.no/hele-bring/produkter-og-tjenester/bruk-av-cookies">Cookies</a>
                          </span>
                      </p>
                  </div>
              </div>
          </div>
      </footer>
    </div>

  <script async src="{{ site.baseurl }}/js/anchor.min.js" onload="window.anchors.options = { placement: 'left' }; window.anchors.add('.anchored')"></script>
  <script async src="{{ site.baseurl }}/js/highlight.pack.js" onload="window.hljs.initHighlightingOnLoad()"></script>
</body>

</html>
