#%RAML 1.0
---
title: Invoice API
baseUri: https://www.mybring.com/invoicearchive
types:
  Invoices:
    type: object
    properties:
      customerNumber:
        type: string
        required: false
        description: Represents a customerNumber
      invoiceNumber:
        type: string
        required: true
        description: Represents a invoiceNumber
      invoiceDate:
        type: string
        required: true
        description: Represents a invoice date
      invoiceIssuer:
        type: string
        required: false
        description: Represents the invoice issuer
      status:
        type: string
        required: false
        description: Represents the invoice status
      totalAmount:
        type: string
        required: false
        description: Represents the invoice total amount
      currency:
        type: string
        required: false
        description: Represents the currency used in invoice
      type:
        type: string
        required: false
        description: Represents the invoice or credit note
      dueDate:
        type: string
        required: false
        description: Represents the invoice due date
      attachmentCount:
        type: number
        required: false
        description: Represents the number of attachments associated with invoice number
      batchSource:
        type: string
        required: true
        description: Represents the invoice generated source
      invoiceSpecificationAvailable:
        type: boolean
        required: false
        description: Represents the invoice specification report available or not
      parentInvoiceNumber:
        type: string
        required: false
        description: Represents the parent invoice number

documentation:
- title: Introduction
  content: |
      The invoice API is used to list invoices and download the invoice pdfs same as in Mybring.

      ### Before you start
      Before you can begin using the new API you'll have to do the following:

      * [Sign up for a Mybring account](https://www.mybring.com/signup/register/user) if you do not already have one. If you're already registered in Mybring, head to the [settings and API](https://www.mybring.com/useradmin/account/settings/api) page to get your API key.
      * [Generate an API key](/api/#authentication) for your user


      ### Get your API key from Mybring
      To make API requests you will need an API key. Click the link below, which sends you to your "Settings and API" page in Mybring profile administration. Scroll down to the "API key" section. Your generated API key which you will use to authenticate your requests can be found here.

      <a href="https://www.mybring.com/useradmin/account/settings/api">Get API key</a>

      ### Add authentication headers
      A description of the headers can be found in [Getting Started / Authentication](/api/#authentication).

/invoicearchive/api/invoices/{apiCustomerNumber}{mediaTypeExtension}:
  displayName: List of all Invoices
  description: Gets the list of invoices corresponding to the given customer number.
               By default it shows last 65 days of invoices, with the possibilty to access last 365 days by providing "fromDate" and "toDate".
               This endpoint supports Parcel Domestic, Parcel International and Cargo customers.
  uriParameters:
    apiCustomerNumber:
      enum: [ Main customer number, PARCELS_NORWAY_INTERNATIONAL-xxxxx,PARCELS_SWEDEN-xxxxx,PARCELS_DENMARK-xxxxx,PARCELS_FINLAND-xxxxx,EXPRESS_SWEDEN-xxxxx,EXPRESS_NORWAY-xxxxx,EXPRESS_DENMARK-xxxxx,EXPRESS_FINLAND-xxxxx]
      description: Unique API Customer Number.
    mediaTypeExtension:
      enum: [ .json, .xml ]
      description: Use .json to specify application/json or .xml to specify application/xml
  get:
    description: List of invoices
    headers:
      X-MyBring-API-Uid:
        description: Your Mybring login ID
      X-MyBring-API-Key:
        description: Your user's API key
      X-Bring-Client-URL:
        description: A URL that sort of identifies where you're using the APIs.
    queryParameters:
      fromDate:
        description: Start date for fetching invoices in format dd.mm.yyyy.
        type: string
        required: false
        example: 15.01.2020
      toDate:
        description: End date for fetching invoices in format dd.mm.yyyy.
        type: string
        required: false
        example: 25.01.2020
    responses:
      200:
        displayName: Successful response
        description: |
          The shipment is invoiced based on invoice source and issuer. Here are a list of supported invoice issuers that can be returned.

          | Invoice issuer | Description |
          |:-------|:--------|
          | `BRING_CARGO_AS` | `Bring Cargo AS` |
          | `BRING_LINEHAUL_AS` | `Bring Linehaul AS` |
          | `BRING_FRIGO_AS` | `Bring Frigo AS` |
          | `BRING_POLARBASE_AS` | `Bring Polarbase AS` |
          | `BRING_WAREHOUSING_AS` | `Bring Warehousing AS` |
          | `BRING_CARGO_INTERNATIONAL_NORGE_AS` | `Bring Cargo International Norge AS` |
          | `BRING_TRANSPORTLØSNINGER_AS` | `Bring Transportløsninger AS` |
          | `POSTEN_EIENDOM_ROBSRUD_AS` | `Posten Eiendom Robsrud AS` |
          | `POSTEN_EIENDOM_ALNABRU_AS` | `Posten Eiendom Alnabru AS` |
          | `POSTEN_EIENDOM_VESTFOLD_AS` | `Posten Eiendom Vestfold AS` |
          | `POSTEN_EIENDOM_BERGEN_AS` | `Posten Eiendom Bergen AS` |
          | `POSTEN_EIENDOM_AS` | `Posten Eiendom AS` |
          | `POSTEN_EIENDOM_ALNABRU_UTVIKLING_AS` | `Posten Eiendom Alnabru Utvikling AS` |
          | `POSTEN_EIENDOM_BODØ_AS` | `Posten Eiendom Bodø AS` |
          | `POSTEN_EIENDOM_SVANHOLMEN_AS` | `Posten Eiendom Svanholmen AS` |
          | `POSTEN_EIENDOM_MOLDE_AS` | `Posten Eiendom Molde AS` |
          | `POSTEN_EIENDOM_TROMSØ_AS` | `Posten Eiendom Tromsø AS` |
          | `POSTEN_EIENDOM_NARVIK_AS` | `Posten Eiendom Narvik AS` |
          | `POSTEN_EIENDOM_STAVANGER_AS` | `Posten Eiendom Stavanger AS` |
          | `POSTEN_EIENDOM_TRONDHEIM_AS` | `Posten Eiendom Trondheim AS` |
          | `BRING_EIENDOM_HAUGESUND_AS` | `Bring Eiendom Haugesund AS` |
          | `POSTEN_NORGE_AS` | `Posten Norge AS` |
          | `POSTEN_NORGE_AS_FOR_CARGO_SEA` | `Posten Norge AS` |
          | `OTHER` | `Other` |

          Here are a list of invoice types that can be returned.

          | Invoice Source |
          |:-------|
          | `INVOICE` |
          | `CREDIT_NOTE` |
          | `DEBIT_NOTE` |
          | `DEPOSIT` |
          | `OTHER` |

        body:
          application/json:
            type: Invoices
            examples:
              successful:
                displayName: Successful
                description: The example below shows an list of invoices
                value: !include example/list_invoices.json
          application/xml:
            type: Invoices
            examples:
              successful:
                displayName: Successful
                description: The example below shows an list of invoices
                value: !include example/list_invoices.xml

/invoicearchive/pdf/{apiCustomerNumber}/{invoiceNumber}.pdf:
  displayName: Invoice PDF download endpoint
  description: This link is used to download the invoice pdf for the customers by providing API customer number and invoice number in URI params.
  uriParameters:
    apiCustomerNumber:
      description: Unique API Customer Number for each customer.
    invoiceNumber:
      description: Invoice number of the particular invoice to be downloaded.
  get:
    description: Download pdf for invoice

