@CHARSET "UTF-8";

form {
	overflow: auto;
	margin: 10px auto;
	padding: 15px;
	width: 500px;
	background: #696969; /* Old browsers */
	background: -moz-linear-gradient(top, #696969 0%, #3e3e3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #696969 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #696969 0%,#3e3e3e 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #696969 0%,#3e3e3e 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #696969 0%,#3e3e3e 100%); /* W3C */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow:0px 0px 10px #969696;
}

	#postnummerInput {
		display: block;
		float: left;
		width: 150px;
		height: 50px;
		padding: 15px 20px 5px 20px;
		font-family: Consolas, monospace;
		font-size: 50px;
		letter-spacing: 10px;
		background-color: #666;
		color: #fff;
		border: 1px solid #737373;
		background: #1e1e1e; /* Old browsers */
		background: -moz-linear-gradient(top, #1e1e1e 0%, #595959 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e1e), color-stop(100%,#595959)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1e1e1e 0%,#595959 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1e1e1e 0%,#595959 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #1e1e1e 0%,#595959 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #1e1e1e 0%,#595959 100%); /* W3C */
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	#postnummerInput:focus {
		outline: none;
		border-color: #999;
	}


	#postnummerResult {
		display: block;
		float: left;
		font-size: 18px;
		color: #fff;
		margin-left: 30px;
		padding-top: 28px;
	}
