{{- with .data -}}
<div class="best-practice-item dev-docscontent__section">
  <div class="flex-1">
    <div class="tc mbm">
      {{- range .figures -}}
        <img src="{{ .imageUrl }}" alt="" class="{{ .imageClass }}"/>
      {{- end -}}
    </div>
    <h2 class="fwn">{{ .h3 }}</h3>
    {{- range .paragraphs -}}
      {{ . | safeHTML }}
    {{- end -}}
    <div class="flex flex-dir-row justify-cc mtl">
      {{- range .downloadLinks -}}
        <a href="{{ .href }}" class="btn-link--dark mrm" download="{{ .name }}">
          <span data-mybicon="mybicon-download_file"
                data-mybicon-class="mrs"
                data-mybicon-width="16"
                data-mybicon-height="16">
          </span>
          <span>{{ .linkText }}</span>
        </a>
      {{- end -}}
    </div>
    <div class="flex flex-wrap gas">
      {{- range $tag := .tags -}}
        <span class="mb-badge">{{ $tag }}</span>
      {{- end -}}
    </div>
  </div>
  <figure class="flex-1 best-practice-item--illustration">
    <img src="{{ .illustrationImageUrl }}" alt="{{ .illustrationImageAlt }}" />
  </figure>
</div>
{{- end -}}
